.arrow{
	position:relative;
	width:12px;
	height:12px;
	@include border-radius(50%,50%,50%,50%);
	background:$white;
	
	&::after{
		display:block;
		content:'';
		position:absolute;
		top:4px;left:2px;
		width:0px;
		height:0px;
		border: 4px solid transparent;	
	}
}
.arrow--top{
	&::after{	
		border-top: 4px solid red;
	}
}
.arrow--right{
	&::after{	
		border-right: 4px solid $darkblue;
	}
}
.arrow--bottom{
	&::after{	
		border-bottom: 4px solid $darkblue;
	}
}
.arrow--left{
	&::after{	
		border-left: 4px solid $darkblue;
	}
}