@font-face{
	font-family: "ProximaNova-Light";
	src: url("fonts/ProximaNova-Light.ttf");}
@font-face{
	font-family: "ProximaNova-Regular";
	src: url("fonts/ProximaNova-Regular.ttf");}
@font-face{
	font-family: "ProximaNova-Semibold";
	src: url("fonts/ProximaNova-Semibold.ttf");}
*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
body {
	font-family: "ProximaNova-Regular";
	font-size:14px;
}
	
/*применил свои стили поверх, потому что вдруг придеться еще раз применять
  в jqery-ui.css убрал padding'и что бы не юзать импотант.(стили библиотеки
  применяются как я понял уже после загрузки страницы, тк их подключают
  чере js, они перекр кастомные
  закоментил 140 строку)
    
*/	

.step{
	padding-top:100px;
	padding-right:15px;
	padding-bottom:100px;
	padding-left:15px;}
    .step__wr{
		max-width:750px;
	    margin:0px auto;}
	    @media(min-width:1100px){
		.step__wr{
			max-width:1024px;}}
			
.ui-tabs, .ui-tabs-nav{
	display:flex;
}
.ui-tabs{
	padding-top:10px;
	padding-bottom:10px;
	background:white;}	
	
	.ui-tabs-nav{
		width:30%;
		align-self:center;
		flex-direction:column;}
        
		.ui-tabs-nav li{
			position:relative;}
	        .ui-tabs-nav li:before{
				position:absolute;
				margin-top:7px;
				display:block;
				content:'';
				width:9px;
				height:9px;
				border-radius:50%;
				border:3px solid #7fdbf9;}
    	    
            .ui-tabs-nav li a{
				display:block;
				padding-top:5px;
				padding-bottom:5px;
				padding-left:23px;
				font-size:1.3em;
				line-height:1.2;
			    color:#7fdbf9;}
            .ui-tabs-nav li a:first-letter{
				text-transform:uppercase;}			
		
	.ui-tabs-panel{
		width:500px;
		margin-right:15px;
		margin-left:40px;
		padding-top:15px;
		padding-left:20px;
		border:2px solid #41c9f6;
		border-radius:30px;
		line-height: 1.667;}	
		.ui-tabs-panel::after{
			display:block;
			content:' ';
			clear:both;}
		@media(min-width:1100px){
			.ui-tabs-panel{
			    width:640px;
				padding-top:25px;
		        padding-left:25px;}}
		
		.accord-tabs__title{
			position:relative;
			display:block;
		    padding-top:5px;
			padding-bottom:5px;
			padding-left:23px;
			font-size:1.3em;
			line-height:1.2;
			color:#474747;}
			.ui-accordion-header-active{
				color:#7fdbf9;}
			.ui-accordion-header-active:before{
				border:3px solid #7fdbf9 !important;}
	        .accord-tabs__title:before{
				position:absolute;
				left:0px;
				margin-top:4px;
				display:block;
				content:'';
				width:9px;
				height:9px;
				border-radius:50%;
				border:3px solid #474747;}
    	    
            .accord-tabs__title span:first-letter{
				text-transform:uppercase;}	
				
		.accord-tabs__card, .accord-tabs__icon{
			float:left;}
		.accord-tabs__card{
			padding:10px;
			border:2px solid #41c9f6;
		    border-radius:30px;} 
			@media(min-width:750px){
				.accord-tabs__card{
					padding:0px;
					border:none;
					border-radius:none;}}
		.accord-tabs__card p{
		    overflow:hidden;
			text-align:left;
			line-height: 1.667;
			font-size:1.07em;}
			@media(min-width:750px){
				.accord-tabs__card p{
					width:320px;
		            height:200px;}}
			@media(min-width:1100px){
				.accord-tabs__card p{
					width:370px;
					font-size:1.1em;
					line-height: 1.556;}}
		
	    .accord-tabs__card a{
		    display:block;
			margin-top:15px;
			margin-bottom:15px;
		    text-align:center;
		    font-size:1.14em;
		    color:#7fdbf9;}
         
		.accord-tabs__icon{
	        display:none;
	        width:100px;
			margin-top:15px;
			padding-left:14px;}
            @media(min-width:751px){
		    .accord-tabs__icon{
			    display:block;}}
			@media(min-width:1100px){
		    .accord-tabs__icon{
				width:150px;
	            margin-top:35px;
				margin-left:60px;}}
            .accord-tabs__icon img{
				display:block;
				width:100%;
				height:auto;}				

#tab0,#tab1,#tab2,#tab3{
	position:relative;}
	
#tab0:before, #tab0:after,
#tab1:before, #tab1:after,
#tab2:before, #tab2:after,
#tab3:before, #tab3:after{
	position:absolute;
    right:100%;
	content:'';}
	
#tab0:before, #tab1:before,
#tab2:before, #tab3:before{
	border:20px solid transparent;
	border-right-color:#41c9f6;}

#tab0:after, #tab1:after,
#tab2:after, #tab3:after{
	border:18px solid transparent;
	border-right-color:#fff;}
	
#tab0:before{
	top:65px;}	
#tab0:after{
	top:67px;}	
	
#tab1:before{
	top:93px;}
#tab1:after{
	top:95px;}
	
#tab2:before{
	top:127px;}
#tab2:after{
	top:129px;}
	
#tab3:before{
	top:170px;}
#tab3:after{
	top:172px;}
		


	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	