.list-inline{
	@extend %list-inline;
	display:inline-block;
	
	&__item{}
	
	&__link{
        color:$lightgrey;
		letter-spacing: 1px;
		text-transform:capitalize;
		font-size:1.3em;
		@include transition(color 0.2s);
		
		&::after{
			display:inline;
			content:'-';
			padding:0px 10px;}
			
		&:hover{
		    color:$white;}}}
		
