@charset "utf-8";
*,
*:after,
*:before{
	margin:0;
	padding:0;
	webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}

html, body{
	font-family: "Arial";
	font-weight:500;
	font-size:16px;
	color:#000;}	
	
.header{}

.header__box{
	position:relative;
	width:100%;
	height:320px;
	background:#fbaf38;
	overflow:hidden;}
@media(min-width:1024px){
.header__box{
	max-width:968px;
	height:925px;
    margin:0 auto;
	background:transparent;
	overflow:visible;}}
	
.header__top{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;}	
@media(min-width:1024px){
	.header__top{
		display:block;}}	
	
.header__logo{
	width:107px;
	background:#010101;}
@media(min-width:1024px){	
.header__logo{
	position:absolute;
	left:220px;
	width:120px;
	height:120px;
	background:#010101;
    z-index:13;}}
	
.logo{
	display:block;
    text-decoration:none;
	padding:18px 0 15px 14px;}	
@media(min-width:1024px){	
.logo{
    padding:18px 0 0 25px;}}	

.logo .logo__text:nth-of-type(1){
    margin-top:5px;}

.logo__text{
	display: block;
    font-size: 12px;
    color: #fff;
	text-transform:uppercase;
    font-weight: bold;}
@media(min-width:1024px){	
.logo__text{
	display: block;
    font-size: 12px;
    color: #fff;
	text-transform:uppercase;
    font-weight: bold;}}
	
.logo__triangle{
	border-top: 10px solid transparent;
	border-right:20px solid transparent;
	border-bottom:10px solid transparent;
    border-left: 35px solid #fff;}	
@media(min-width:1024px){	
.logo__triangle{
	border-top: 10px solid transparent;
	border-right:20px solid transparent;
	border-bottom:10px solid transparent;
    border-left: 35px solid #fff;}}
	
.header__navigation{
	-webkit-box-flex:1;
      -ms-flex:1 1 0px;
            flex:1 1 0;}	
@media(min-width:1024px){
	.header__navigation{
		display:none;}}

.navigation{}	
	
.navigation__top{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;}
@media(min-width:1024px){
	.navigation__top{
		display:none;}}

.navigation__title{
	-webkit-box-flex:1;
      -ms-flex:1 1 0px;
            flex:1 1 0;
	padding: 23px 0px 0 4px;
    font-size: 14.5px;
	text-transform:uppercase;
	font-weight:bold;}
@media(min-width:375px){
	.navigation__title{
	    padding:30px 25px 0 10px;
	    font-size:16.5px;}}
	
.navigation__btn,
.navigation__call-back{
	width:50px;
	height:60px;}
	
.navigation__btn{
	position:relative;
	border-left:1px solid #976d2b;
	background:#ea9c23;
	cursor:pointer;}

.navigation__btn:after, 
.navigation__btn:before{
	position:absolute;
	display:block;
	content:'';
	width:35px;
	left:50%;
	margin-left:-17.5px;}
	
.navigation__btn:before{
	top:16px;
	border-top:6px solid #fff;}	
.navigation__btn:after{
	top:27px;
	height:17px;
	border-top:6px solid #fff;
	border-bottom:6px solid #fff;}	

.header__nav-mobile{
    position:absolute;
	top:0;left:0;
	z-index:100;}	
	
.nav-mobile{
	width:220px;
	background:#333333;
	padding:15px 0 165px 0;}
@media(min-width:375px){
	.nav-mobile{
		width:280px;}}

.nav-mobile--hidden{
	display:none;}
		
.nav-mobile__list{}

.nav-mobile__item{
	padding:12px 0 12px 10px;}
@media(min-width:375px){
	.nav-mobile__item{
	    padding:15px 0 15px 30px;}}
	
.nav-mobile__link{
	font-size:20px;
	text-transform:uppercase;
	text-decoration:none;
	color:#f1f0f0;}	
@media(min-width:375px){
	.nav-mobile__link{
		font-size:24px;}}
	
.navigation__call-back{
	display:block;
	background-image:url(../img/phone.png);
	background-repeat:no-repeat;
	background-size:25px 25px;
	background-position:center;}	
	
.navigation__bottom{
	display:-webkit-box;
    display:-ms-flexbox;
           display:flex;
	        -ms-flex-pack:distribute;
	    justify-content:space-around;
	background:#333333;}
	
.navigation__bottom a{
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
	line-height:60px;}
	
.circle{
	top:0;right:0;bottom:0;left:0;
	background:#fbaf38;}	
@media(min-width:1024px){	
.circle{
	position:absolute;
	top:239px;left:346px;
	width:620px;
	height:620px;
	border-radius:50%;
    z-index:10;}}
	
.circle__content{
	display:none;}	
@media(min-width:1024px){	
.circle__content{
	display:block;
	font-weight: bold;
    line-height: 1.2;
	width:340px;
	height:300px;
    margin:250px 0 0 240px;}}
	
@media(min-width:1024px){	
.circle__name{
	font-size:50px;
    text-transform: uppercase;}}
	
@media(min-width:1024px){	
.circle__adress, .circle__email{
	display:block;
    width:200px;}}
	
@media(min-width:1024px){	
.circle__email{
	margin-top:6px;}
.circle__email a{
	text-decoration:none;
	color:#010101;
	font-weight:500;}
.circle__email a:hover{
	text-decoration:underline;
	color:#010101;
    font-weight:500;}}	
	
@media(min-width:1024px){	
.circle__phone{
	display:block;
	margin-top:8px;
	font-size:43px;
	font-weight:bold;
	text-decoration:none; 
    color:#000;}}
	
.header__rectagle{
	position: absolute;
	top: 182px;
	left:50%;
	margin-left:-150px;
	width:300px;
    height:300px;
	opacity: .4;
	-webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background: #fbaf38;}
@media(min-width:1024px){	
.header__rectagle{
    top: 110px;
    left: 58px;
    width: 701px;
    height: 160px;
	margin-left:0;
    -webkit-transform: rotate(56deg);
        -ms-transform: rotate(56deg);
            transform: rotate(56deg);
	opacity:.8;
	z-index: 12;}}

.header__socials{
	display:none;}
@media(min-width:1024px){	
.header__socials{
	display:block;
	position:absolute;
	top:20px;left:930px;
	width:100px;}}
	
.header__socials--mobile{
	display:block;
	padding:12px 0 12px 10px;}
@media(min-width:375px){
	.header__socials--mobile{
	    padding:15px 0 15px 30px;}}
@media(min-width:1024px){
	.header__socials--mobile{
        display:none;}}
	
.header__telegram,
.header__insta{
	display:inline-block;
	width:40px;height:40px;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:40px 40px;
    cursor:pointer;}	
	
.header__telegram{
	background-image:url(../img/telegram-app.png);
	margin-left:15px;}
	
.header__socials--mobile .header__telegram{
	background-image:url(../img/telegram-app-mob.png);}	
	
.header__insta{
    background-image:url(../img/insta-app.png);}

.header__socials--mobile .header__insta{
	background-image:url(../img/insta-app-mob.png);}	

@media(min-width:1024px){	
.header__product{
	position:absolute;
    background-repeat:no-repeat;}}
	
.header__product-link{
	display:block;
	width:100%;
	height:100%;}	
@media(min-width:1024px){	
.header__product-link{
	color:#010101;
	width:auto;
	height:auto;
    text-decoration:none;}}	
	
.header__product-link span{
	display:none;}	
@media(min-width:1024px){
.header__product-link span{
	display:block;
	text-transform:uppercase;
	font-size:40px;
	font-weight: bold;
    line-height: 1;}}	
	
.header__products-box{
	width:300px;
	display:-webkit-box;
    display:-ms-flexbox;
           display:flex;
	     -webkit-box-pack:justify;
	        -ms-flex-pack:justify;
	justify-content:space-between;
	margin:0 auto;
	padding:10px 0 0 0;}	
@media(min-width:375px){
	.header__products-box{
		width:100%;
		max-width:325px;}}

	
.product-btn{
	font-size:13px;
	text-transform:uppercase;
	font-weight:600;
	margin-top:20px;
	border:none;
	outline:none;
	background:transparent;
    cursor:pointer;
	text-align:left;}
@media(min-width:375px){
	.product-btn{
	    font-size:15px;}}
@media(min-width:1024px){
	.product-btn{
	    font-size:16px;}}
	
@media(min-width:1024px){	
.product-btn--big-font{
    font-size:18px;}}
	
.product-btn,
.product-btn span{
    text-decoration:none;}
.product-btn--dark{
	background:#000000;
    color:#fff;}
	
.product-btn--light{
	display:inline-block;
	background:#fbaf38;
    color:#000;}	
	
.product-btn--text-bottom-top{
	padding: 12px 2px 5px 5px;}	
@media(min-width:1024px){
	.product-btn--text-bottom-top{
	    padding:8px 0px 20px 15px;}}	
	
.product-btn--text-bottom{
	padding: 20px 20px 8px 5px;}	

.product-btn--text-top{
    padding:8px 0px 20px 15px;}

.product-btn-mobile{
	position:relative;
    padding:8px 0 8px 6px;}
@media(min-width:1024px){
	.product-btn-mobile{
	    display:none;}}

.product-btn-mobile span{
	position:relative;
	font-size:16px;
	z-index:20;}
@media(min-width:375px){
	.product-btn-mobile span{
	    position:relative;
	    font-size:18px;
	    z-index:20;}}
	
.product-btn-mobile:before{
	display:block;
	position:absolute;
	content:'';
	top:0;left:0;
	width:79%;
	height:100%;
	background:#fbaf38;
	z-index:19;}	
		
.product-1{
	width:150px;
	height:160px;
	background-image:url(../img/camera-1.png);
	background-size:150px 160px;}
	
@media(min-width:1024px){	
.product-1{
	left:455px; top:40px;
	width:400px;
	height:400px;
	background-image:url(../img/camera-1.png);
	background-size:cover;
    z-index:11;}}

@media(min-width:1024px){
.product-1__link{
	width:172px;
    margin:-5px 0 0 30px;}}
	
.product-2{
	width:150px;
	height:160px;
	background-image:url(../img/camera-2.png);
	background-size:150px 160px;}
	
@media(min-width:1024px){	
.product-2{
	top:180px;left:65px;
	width:520px;
	height:403px;
	z-index:3;
	background-image:url(../img/camera-2.png);
	background-size:368px 100%;
	background-position:right top;
    z-index:12;}}

@media(min-width:1024px){
.product-2__link{
	width:170px;
	margin:255px 0 0 0;
    text-align:right;}}	
	
.product-3{
	position:relative;
	width:100%;
	padding:0 15px;}	
@media(min-width:1024px){	
.product-3{
	padding:0 0 0 251px;}}	

.product-3__intro{
	width:40%;}

.product-3__logo{
	padding:51px 0 15px 0;}
@media(min-width:1024px){
	.product-3__logo{
		width:226px;
		padding:0px 0 15px 0;}}
		
.product-3__logo img{
	display:block;
	width:100%;
	height:auto;}

.product-3__btn{
	display:none;}
@media(min-width:1024px){
.product-3__btn{
    display:block}}	
	
.product-3__intro-descr{
	display:block;
	width:136px;}
@media(min-width:1024px){
.product-3__intro-descr{
	width:211px;
    line-height: 1.2;
	padding:0;}}	
	
.product-3__name,
.product-3__action{
	display:block;}
@media(min-width:1024px){
	.product-3__name,
    .product-3__action{
	    display:inline;}}
		
.product-3__descr{display:none;}
@media(min-width:1024px){
	.product-3__descr{display:block;}}

.product-3__photo{
	display:block;
	position:absolute;
	top:-31px; left:40%;
	width:57%;
	max-width:240px;}
@media(min-width:1024px){
.product-3__photo{
	width:auto;
	max-width:none;
	top: -136px;
    left: 500px;
	z-index:13;}}
	
.product-3__photo img{
	display:block;
	width:100%;
	height:auto;}

.product-3__btn-mobile{
	margin:-10px 0 0 40px;}
	
.product-descr{
	margin-top:45px;
	font-family: "Microsoft Sans Serif";
	font-size:16px;
	line-height: 1.2;
    color:#010101;}
@media(min-width:1024px){	
.product-descr{
	font-size:16px;
	margin-top:25px;
	width:435px;
	line-height: 1.4;}}	

	
.product-descr__title{
	display:block;}	
@media(min-width:1024px){
	.product-descr__title{
	    display:inline;}}
	
.product-descr__name{
    display:block;}

.product-descr__mark{
    display:none;}	
@media(min-width:1024px){
.product-descr__mark{
    display:inline;}}
	
.product-descr__cost{
	display:block;
	padding:0 0 20px 0;}	
@media(min-width:1024px){
.product-descr__cost{
	display:inline;
	padding:0;}}	
	
.product-descr__value{}
.product-descr__value:after{
	display:inline-block;
	content:'|';}
.product-descr__value:last-of-type:after{
    content:'none';}

.header__decoration{
	display:none;}	
@media(min-width:1024px){	
.header__decoration{
	display:block;
	position:absolute;
	top:574px;left:0px;
	width:442px;
	height:344px;
    background-image:url(../img/decoration.png);}}
	
.header__phone-form{
	display:none;}
@media(min-width:1024px){
	.header__phone-form{
	    display:block;}}
	
.phone-form{
	position:absolute;
	top:460px; left:370px;
	width:208px;
	height:416px;
	background-image:url(../img/form-phone.png); 
    z-index:13;}
	
.phone-form__item{
	margin-left:20px; 
    margin-right:20px;}
	
.phone-form__link{
	display:block;
	font-size:11px;
	text-decoration:none;
	margin: 30px 0 0 73px;
    color:#010101;}
	
.phone-form__title{
	margin-top:45px;
	font-size:30px;
    font-weight: bold;}
	
.phone-form__title-mark{
	display:block;
	width:158px;  
    background:#fbaf38;}

.phone-form__message{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-webkit-box-align:center;
       -ms-flex-align:center;
          align-items:center;
    margin-top:5px;}
	
.message{}	

.message__arrow{
	display:block;
	border-top: 3px solid transparent;
	border-right:0px solid transparent;
	border-bottom:3px solid transparent;
    border-left: 10px solid #fff;}

.message__icon{
    width:20px; height:20px;
	padding:4px 0 0 5px;
    border-radius:50%;
    background:#010101;}

.message__field{
	font-size:12px;
	border-radius:10px;
	margin-left:10px;
	padding:5px 15px 5px 10px;
	color:#4c4944;
    background:#f1f0f0;}
		
.phone-form__social-form{
    margin-top:60px;}
	
.social-form{}	

.social-form__field{
	width:100%;
	font-size: 14px;
	margin:0px 5px;
	color:#010101;
	border:none;
	border-left:1px solid #010101;
    outline:none;}
	
.social-form__field:focus{
    border-left:none;}
	
.social-form__field::-webkit-input-placeholder {color:#dacfcf;}
.social-form__field::-moz-placeholder{color:#dacfcf;}
.social-form__field:-moz-placeholder{color:#dacfcf;}
.social-form__field:-ms-input-placeholder{color:#dacfcf;}
	
.social-form__controlls{
	display: -webkit-box;
    display: -ms-flexbox;
            display: flex;
	-ms-flex-wrap:wrap;
        flex-wrap:wrap;
	    -ms-flex-pack:distribute;
	justify-content:space-around;
	margin-top:10px;}	
	
.social-form__btn{
	width:45px;
	height:45px;
	cursor:pointer;
	background-color:transparent;
	border:none;
	outline:none;}
	
.social-form__btn--social-1,
.social-form__btn--social-2{
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;}
.social-form__btn--social-1{
	background-image:url(../img/whatsapp-ico.png);}

.social-form__btn--social-2{
	background-image:url(../img/telegram-ico.png);}	
	
.social-form__state{
	margin-top:10px;}
.state{}	
.state--activ .state__indicator{
	background-image:url('../img/state-active.png');}
.state--activ .state__text{
	color:#079400;}
.state__indicator, 
.state__text{
	display:inline-block;
	font-size: 11px;}
.state__indicator{
	width:6px;
	height:6px;
	border-radius:50%;}
.state__text{}


/*-----------------main-------------------*/
.section, .large-section{
	width:100%;
	margin:0 auto;} 
@media(min-width:480px){
	.section{
	    max-width:450px;}}
@media(min-width:768px){
	.section{
	    max-width:750px;}}
@media(min-width:1024px){
	.section{
	    max-width:968px;}}
.large-section{
	max-width:1140px;}

.main-contacts{
	max-width:450px;
	margin:0 auto;
	padding:20px 15px;
	font-weight: bold;
    line-height: 0.833;}
@media(min-width:480px){
	.main-contacts{
		padding:20px 0;}}
@media(min-width:1024px){
	.main-contacts{
		display:none;}}	
	
.main-contacts__phone{
	display:block;
	font-size:40px;
	color:#010101;
	text-decoration:none;}
@media(min-width:768px){
	.main-contacts__phone{
		font-size:60px;}}
@media(min-width:1024px){
	.main-contacts__phone{
		display:none;}}
	
.main-contacts__text{
	display:block;
	padding:5px 0 0 0;
	color:#010101;}
	
#mainMenuAccordion{
	padding:0 15px;
	max-width:480px;}
@media(min-width:1024px){
	#mainMenuAccordion{
		display:none;}}	

#mainMenuAccordion .ui-accordion-header{
	margin-top:20px;
	padding:10px 0;
	font-size:16px;
	text-transform:uppercase;
	text-align:center;
	font-weight:400;
	color:#fff;
	background:#333333;}	
	
#mainMenuAccordion .ui-icon{
	display:block;
	position:absolute;
	top:50%; right:10px;
	margin-top:-3px;
	width:16px;
	height:16px;
	border-bottom:8px solid transparent;
	border-left:8px solid transparent;
	border-right:8px solid transparent;
	border-top:8px solid #fff;}	
	
#mainMenuAccordion .ui-accordion-header-active .ui-icon{
	margin-top:-14px;
	border-bottom:8px solid #fff;
	border-left:8px solid transparent;
	border-right:8px solid transparent;
	border-top:8px solid transparent;}
	
.ui-accordion-content p{
	padding:15px 0;
	background:red;}	
	
.main-gallery{}
@media(min-width:1024px){
	.main-gallery{
		padding:25px 0;
		max-width:none;}}

.main-gallery__title{
	text-align:center;
	padding:35px 0 20px 0px;}
@media(min-width:1024px){
.main-gallery__title{
    padding:35px 0 20px 680px;}}

.main-gallery__title a{
	display:inline-block;
	position:relative;
	font-size:27px;
	font-weight: bold;
    line-height: 1;
	text-decoration:none;
    color:#000;
	z-index:2;}	
.main-gallery__title a:after{
	display:block;
	position:absolute;
	content:'';
	top:0;left:-15px;
	width:282px;
	height:36px;
	background:#fbaf38;
	z-index:-1;}
@media(min-width:1024px){
.main-gallery__title a{
	font-size:30px;}
	
.main-gallery__title a:after{
	display:none;}}	
	
.main-gallery__body{
	display: -webkit-box;
    display: -ms-flexbox;
           display: flex;
	-ms-flex-wrap:wrap;
        flex-wrap:wrap;
	     -webkit-box-pack:justify;
            -ms-flex-pack:justify;
    justify-content:space-between;
	padding:0 15px;}

.main-gallery__item{
	width:48%;
	margin-top:4%;}	
@media(min-width:768px){
	.main-gallery__item{
	    width:32%;
	    margin-top:4%;}}		   
@media(min-width:1024px){		   
.main-gallery__item{
	background:green;
	width:10%;
    margin:0 .5%;}}
	
.main-gallery__item img{
	display:block;
	width:100%;
	height:auto;}

.main-product{
	position:relative;
    padding:30px 15px;}
@media(min-width:1024px){		
.main-product{
	position:relative;
    padding:25px 0;}}
	
.main-product__photo{
	position:absolute;
	width:50%;
	max-width:225px;
	padding:15px 0 0 0;}	
.main-product__photo img{
	display:block;
	width:100%;
	height:auto;}
@media(min-width:1024px){	
.main-product__photo{
	width:auto;
	max-width:none;
    left:160px;}}

.main-product__intro{
	width:40%;
	margin-left:60%;}
@media(min-width:1024px){
	.main-product__intro{
	    width:auto;
		margin-left:auto;}}	
@media(min-width:1024px){	
.main-product__intro{
	width:350px;  
    margin-left:470px;}}	

.main-product__descr{
	margin-top:30px;}	
@media(min-width:1024px){		
.main-product__descr{
    margin-left:470px;}}
	
@media(min-width:1024px){	
.main-product__light-btn{
    margin-left:430px;}}	
	
.main-product__btn-mobile{
	margin: 17% 0 0 -45px;}	
	   
.main-product__btn-mobile-2{
	padding:8px 12px 11px 12px;}
@media(min-width:1024px){
	.main-product__btn-mobile-2{
	    display:none;}}	   
	   
.main-product__cost{
	padding-left:44%;}
		
.intro{}
.intro:after{
	display:block;
	width:100%;
	content:'';
	clear:both;}

.intro__pic{
	width:74%;
	max-width:125px;}
.intro__pic img{
	display:block;
	width:100%;
	height:auto;}	
@media(min-width:1024px){
.intro__pic{
	width:auto;
	margin:0;
    float:left;}}

.intro__text{
	display:block;}
@media(min-width:1024px){
.intro__text{
	padding-top:30px;
    margin-left:130px;}}
	
.intro__action{
	display:block;}
@media(min-width:1024px){
	.intro__action{
	    display:inline;}}
	
.intro__name{
	display:block;}
@media(min-width:1024px){
	.intro__name{
	    display:inline;}}

.intro__descr{
	display:none;}
@media(min-width:1024px){
.intro__descr{
	display:inline;}}
	
.main-product__btn{
	display:none;}
@media(min-width:1024px){
	.main-product__btn{
		display:block;}}

.main-bottom{
	margin-top:25px;
	margin-bottom:25px;
	padding:0 15px;}
@media(min-width:1024px){
	.main-bottom{
	    padding:0;
	    background-image:url(../img/inventar.png);
	    background-repeat:no-repeat;
        background-position:100% 24%;}}	

.main-bottom__title{
	font-size:34px;
	font-weight:600;
	line-height: 1.25;
	text-transform:uppercase;
	color:#000;}	
@media(min-width:1024px){	
.main-bottom__title{
	font-size:28px;
	padding:15px 0 3px 20px;
	font-weight:600;
	text-transform:uppercase;
	color:#000; 
    background:#fbaf38;}}

.main-bottom__title--mobile{
	padding:10px 0;}	
@media(min-width:1024px){	
.main-bottom__title--mobile{
    display:none;}}
	
.list-desktop{
	display:none;}
@media(min-width:1024px){
	.list-desktop{
		display:block;
	    font-size:20px;
	    margin:20px 0;
	    list-style-type:none;
	    line-height: 1.6;}}	
	
.list-desktop__item{
	position:relative;
	padding-left:35px;
	margin-left:5px;}
.list-desktop__item:before{
	display:block;
	position:absolute;
	content:'';
	top:50%;left:0;
	margin-top:-7px;
	border-left:17px solid #000;
	border-top:7px solid transparent;
	border-bottom:7px solid transparent;
	border-right:0px solid transparent;}

.list-mobile{
	list-style-type:none;}	
@media(min-width:1024px){
	.list-mobile{
	    display:none;}}

.list-mobile__item{
	font-size:18px;
	line-height: 1.455;
	color:#b46f04;}
	
.list-mobile__item--full-color{
	padding:5px 3px 0 3px;
	background:#ea9c23;
	color:#000;}
	
.main-bottom__mobile-block{	
    position:relative;
    padding:15px 0 0 0;}
	
.main-bottom__mobile-btn{
	position:absolute;
	top:70%;left:50%;
	width:100%;
	margin-left:-50%;
	padding:12px 5px;
	background:#fbaf38;
	text-decoration:none;
	color:#000;}	
	
.main-bottom__mobile-btn span{
	text-transform:uppercase;
	font-weight:bold;
    font-size:15px;}
	
.main-bottom__mobile-block img{
    display:block;
	width:100%;
	max-width:350px;
	height:auto;
	margin:0 auto;}
@media(min-width:1024px){
.main-bottom__mobile-block{
    display:none;}}	
	
.feedback-wr{
	display:block;}
@media(min-width:1024px){
	.feedback-wr{
	    display:-webkit-box;
        display:-ms-flexbox;
               display:flex;
	  padding:60px 0 0 20px;}}		

.feedback-mobile{
	position:relative;
	padding:25px 0px;}
@media(min-width:1024px){
	.feedback-mobile{
	    display:none;}}
	
.feedback-mobile__mark{
	background:#ffd28c;}
	
.feedback-mobile__wr{
	padding-top:15px;}
@media(min-width:375px){
	.feedback-mobile__wr{
		display:-webkit-box;
        display:-ms-flexbox;
               display:flex;}}
	
.feedback-mobile .phone-form{
	position:static;
	-webkit-box-flex:0;
    -ms-flex:0 0 208px;
        flex:0 0 208px;
	top:0;left:0;
	margin:0 auto;}
	
.feedback-mobile .phone-form__link{
	margin:0;
	padding:30px 0 0 73px;}	
	
.feedback-mobile__descr{
	font-size:17px;
	width:208px;
	padding:10px 0;
	line-height: 1.5;
	margin:0 auto;
	text-align:center;}	
@media(min-width:375px){
	.feedback-mobile__descr{
		padding:10px 0 0 10px;
		text-align:left;}}

.feedback-mobile__btn-wr{
	text-align:center;
	padding:15px 0 0 0;}	
		
.feedback-mobile__btn{
	position:relative;
	padding:15px 0 12px 8px;
	border:none;
	outline:none;
	background:#fff;}
		
.feedback-mobile__btn:after{
	position:absolute;
	top:0;left:0;
	width:69%;
	height:100%;
	display:block;
	content:'';
	background:#000;
	z-index:1;}

.feedback-mobile__btn-text{
	position:relative;
	font-size:16px;
	text-transform:uppercase;
	color:#fff;
	z-index:2;}
	
.feedback-mobile__mark--dark{
	margin-left:-3px;
	color:#000;}	
	
.feedback{
	display:none;}
@media(min-width:1024px){
	.feedback{
	    display:block;
	    width:440px;}}

.feedback input,
.feedback label,
.feedback textarea,
.feedback__title{
	display:block;
	outline:none;
	border:none;}
	
.feedback textarea{
	height:120px;
	resize: none;}	
	
.feedback label{
	width:100%;
	font-size:15px;
	padding:10px 0 0 0;
	font-weight:500;
	text-transform:uppercase;
	line-height: 2;}	
	
.feedback-field{
	width:100%;
	font-size:16px;
	padding:8px 15px;
	border:1px solid #f0f0f0;
	background:#f8f8f8;}	
	
.feedback__title{
	font-size:40px;
	font-weight:bold;
	text-transform:uppercase;}

.feedback-btn{
	width:230px;
	background:#fbaf38;
	margin-top:20px;
	margin-left:210px;
	padding:15px 5px 6px 0;
	font-size:18px;
	font-weight:bold;
	text-align:right;
	text-transform:uppercase;
	cursor:pointer;}
	
	
.feedback-descr{
	display:none;}	
@media(min-width:1024px){	
.feedback-descr{
	display:block;
	-webkit-box-flex:1;
      -ms-flex:1 1 0px;
            flex:1 1 0;}}
	
.feedback-descr__btn{
	display:inline-block;
	margin:120px 0 65px 35px;
	padding: 8px 30px 8px 0px;
	background: #fbaf38;
	text-decoration:none;
	color:#010101;}	
	
.feedback-descr__btn span{
	margin-left:-22px;
	font-size:18px;
	font-weight:bold;
	text-transform:uppercase;
	color:#010101;}

.feedback-descr__text{
	font-size:14px;
	line-height: 1.667;
	padding:17px 0 0 35px;
	text-transform:uppercase;}

.feedback-descr__mark{
	background:#ffd28c;}

.footer__top{
	padding:10px 0;
	margin:0 15px;
    background:#fbaf38;}	
@media(min-width:1024px){
.footer__top{
	position:relative;
	display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
	-webkit-box-align:start;
       -ms-flex-align:start;
     align-items:flex-start;
	-webkit-box-pack:center;
	   -ms-flex-pack:center;
	 justify-content:center;
	padding:0;
	margin:30px 0 0 0;
	background:transparent;
	height:140px;
	text-align:center;
	overflow:hidden;}}	
	
.footer__item{
	padding:0 15px;}

.footer__adress span{
	display:block;
	font-size:23px;
	text-align:left;
    font-weight:600;}
@media(min-width:1024px){	
.footer__adress span{
	font-size:25px;}}

.footer__contacts{
	display:none;}	
@media(min-width:1024px){		
.footer__contacts{
	display:block;
    text-align:left;}}
	
	
.footer__contacts .circle__phone{
	margin:0;}

.footer__contacts .circle__email{
	margin:0;}	

.footer__figure{
	display:none;}	
@media(min-width:1024px){
.footer__figure{
	display:block;
	position: absolute;
    top: 87px;
    left: -12px;
    width: 103%;
    height: 106px;
    background: #fbaf38;
    transform: rotate(3deg);}}
	
	
.map-container{
	padding:0 15px;}
@media(min-width:1024px){
	.map-container{
	    padding:0;}}
.map{
	width:100%;
	height:400px;}
