//base
@import 'base/reset.scss';
@import 'base/lib.scss';
@import 'base/mixins.scss';
@import 'base/variables.scss';

//blocks
@import 'blocks/page-theme/page-theme.scss';
@import 'blocks/header/header.scss';
@import 'blocks/list-inline/list-inline.scss';
@import 'blocks/ratio-search/ratio-search.scss';
@import 'blocks/blind/blind.scss';

.triple-menu{
	font-family: 'Teko', sans-serif;
	&, &__first-list, &__second-list, &__third-list{
		list-style-type:none;
	}
	&__second-list, &__third-list{
		position:absolute;
	}
	
	&__btn{
		position:relative;
		display:block;
		padding:15px 0px;
		background:&white;
		text-align:center;
		@media(min-width:$tablet-x){
			display:none;
		}
		
		&::after, &::before{
			display:block;
			content:'';
			position:absolute;
			right:20px;
			width:20px;
		}
		&::after{
			top:18px;
			border-top: 2px solid black;
		}
		&::before{
			top:22px;
			height:2px;
			border-top: 2px solid black;
			border-bottom: 2px solid black;
		}
	}

	&__link, &__link-drop{
		display:block;
		text-decoration:none;
		cursor:pointer;
		padding-top:12px;
		padding-bottom:12px;
		color:$darkblue;
	}
	&__link{
		padding-left:20px;
		padding-right:20px;
	}
	&__link-drop{
		position:relative;
		padding-left:20px;
		padding-right:40px;

		&::before, &::after{
			display:block;
		    content:'';
		    position:absolute;
		}
		
		&::before{
		    top:-webkit-calc(50% - 8px);
			top:-moz-calc(50% - 8px);
			top:-o-calc(50% - 8px);
			top:calc(50% - 8px);
			right:14px;
		    width:12px;
	        height:12px;
	        @include border-radius(50%,50%,50%,50%);
	        background:$white;
	    }
        
        &::after{
			right:16px;
		    width:0px;
		    height:0px;
		    border: 4px solid transparent;	
	    }
		
 	}
	
	&__arrow--right{
	    &::after{
		    top:-webkit-calc(50% - 6px);
			top:-moz-calc(50% - 6px);
			top:-o-calc(50% - 6px);
            top:calc(50% - 6px); 
			right:14px;		
		    border-left: 4px solid $darkblue;
	    }
    }
    &__arrow--bottom{
	    &::after{	
		    top:-webkit-calc(50% - 3px);
			top:-moz-calc(50% - 3px);
			top:-o-calc(50% - 3px);
            top:calc(50% - 3px); 
		    border-top: 4px solid $darkblue;
	    }
    }
	
    &__second-item, &__third-item{
        width:170px;
		position:absolute;
		left:-9999px;
		max-height:0px;
		background:$white;
		@include transition(max-height 0.3s ease-out);
	}
	
	/*-------------------first-list-------------------------------*/
	
	&__first-list{
		//распологаем в центре именно кнопки первого меню
		text-align:center;
	}
	
	&__first-item{
		@extend .blind;
		position:relative;
		display:inline-block;
		margin:0px 10px;
		font-size: 18px;
		font-weight: 500;
		
		&:hover > .triple-menu__second-list > .triple-menu__second-item{
			position:relative;
			top:0px; left:0px;
			max-height:36px;
		}
		
		//выделить в отдельный класс?
		&:hover > .triple-menu__link-drop::before{
			background:$darkblue;
		}
		
		&:hover > .triple-menu__arrow--bottom::after{
			border-top: 4px solid $white;
		}
		
		& > .triple-menu__link, & > .triple-menu__link-drop{
		    position:relative;
	        display:block;
	        z-index:2;
			text-transform:uppercase;
            color:$white;		
            @include transition(color 0.3s);			
	    }
		&:hover > .triple-menu__link, &:hover > .triple-menu__link-drop{
		    color:$darkblue;
		}
	}//end first-item
	
	/*-------------------second-list-------------------------------*/
	&__second-list{
	    font-size:14px;
	}
	&__second-item{
		overflow:hidden;
		text-transform:capitalize;
		text-align:left;
		
		& > .triple-menu__link-drop{
		    padding-top:11px;
			padding-left:20px;
			padding-bottom:11px;
			padding-right:10px;
		}
		
		& > .triple-menu__link-drop::before{
		    width:10px;
			height:10px;
		    background:$darkblue;
		}
		
		& > .triple-menu__arrow--right::after{
		    border:3px solid transparent;
			border-left: 3px solid $white;
		}
		
		&:hover{
			overflow:visible;
		}
		&:hover > .triple-menu__third-list > .triple-menu__third-item{
			position:relative;
			top:0px; left:0px;
			max-height:36px;
		}
		
		& > .triple-menu__link{
			padding-top:11px;
			padding-left:10px;
			padding-bottom:11px;
			padding-right:20px;
			//отменяем центральное поз-ие у первого списка
			text-align:left;
		}
	}
	
	/*-------------------third-list-------------------------------*/
	
	&__third-list{
		position:absolute;
		left:170px;
		top:0px;
	}
	&__third-item{}
}



