* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.header__top::after, .main::after {
  display: block;
  content: '';
  clear: both; }

.header__social, .header__search, .main__clm {
  float: left; }

.header__img {
  display: block;
  width: 100%;
  height: 100%; }

.list-inline {
  list-style-type: none; }
  .list-inline li {
    display: inline-block;
    margin-left: -4px; }
  .list-inline li:first-child {
    margin-left: 0px; }
  .list-inline a {
    display: block;
    text-decoration: none; }

.ratio-search__string > input {
  display: block;
  border: none;
  outline: none; }

@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 300;
  src: local("Teko Light"), local("Teko-Light"), url(https://fonts.gstatic.com/s/teko/v7/LYjCdG7kmE0gdQhfsCVgqGIu.woff2) format("woff2"); }
/* latin-ext */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 300;
  src: local("Teko Light"), local("Teko-Light"), url(https://fonts.gstatic.com/s/teko/v7/LYjCdG7kmE0gdQhfsCpgqGIu.woff2) format("woff2"); }
/* latin */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 300;
  src: local("Teko Light"), local("Teko-Light"), url(https://fonts.gstatic.com/s/teko/v7/LYjCdG7kmE0gdQhfsCRgqA.woff2) format("woff2"); }
/* devanagari */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  src: local("Teko Regular"), local("Teko-Regular"), url(https://fonts.gstatic.com/s/teko/v7/LYjNdG7kmE0gfaJ9pRtB.woff2) format("woff2"); }
/* latin-ext */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  src: local("Teko Regular"), local("Teko-Regular"), url(https://fonts.gstatic.com/s/teko/v7/LYjNdG7kmE0gfa19pRtB.woff2) format("woff2"); }
/* latin */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  src: local("Teko Regular"), local("Teko-Regular"), url(https://fonts.gstatic.com/s/teko/v7/LYjNdG7kmE0gfaN9pQ.woff2) format("woff2"); }
.page-theme {
  font: 14px Helvetica, sans-serif;
  font-family: 'Teko', sans-serif;
  color: #666;
  letter-spacing: 0.2px; }

.header {
  background: #131313;
  padding-top: 40px;
  margin-bottom: 70px; }
  .header__top, .header__nav {
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    margin: 0px auto; }
  @media (min-width: 960px) {
    .header__top {
      max-width: 960px; } }
  .header__social, .header__search {
    float: none;
    margin: 0px auto; }
    @media (min-width: 768px) {
      .header__social, .header__search {
        float: left; } }
  .header__social {
    padding-top: 12.5px;
    padding-left: 10px;
    text-align: center; }
    @media (min-width: 768px) {
      .header__social {
        width: 66.666666666666666666666666%; } }
    @media (min-width: 960px) {
      .header__social {
        text-align: left; } }
  @media (min-width: 768px) {
    .header__search {
      width: 33.333333333333333333333333%; } }
  .header__search-item {
    min-width: 320px;
    max-width: 425px;
    padding: 0px 10px;
    margin: 0px auto; }
    @media (min-width: 768px) {
      .header__search-item {
        padding: 0px;
        min-width: 100%;
        max-width: 100%; } }
  .header__logo {
    display: block;
    width: 300px;
    height: 120px;
    margin: 0px auto; }
  @media (min-width: 800px) {
    .header__nav {
      max-width: 800px; } }

.list-inline {
  display: inline-block; }
  .list-inline__link {
    color: #888888;
    letter-spacing: 1px;
    text-transform: capitalize; }
    .list-inline__link:after {
      display: inline;
      content: '-';
      padding: 0px 10px; }

.ratio-search__btn, .ratio-search__string > input {
  height: 45px; }
.ratio-search__btn {
  float: right;
  display: block;
  width: 45px;
  background: url("blocks/ratio-search/search.png") no-repeat center center #fff; }
.ratio-search__string {
  overflow: hidden; }
  .ratio-search__string > input {
    width: 100%;
    padding: 10px;
    border: 1px solid #888;
    background: #131313;
    font-size: 0.8rem;
    color: #fff; }

.main__clm {
  float: none;
  padding: 0px 10px;
  background: purple; }
  @media (min-width: 768px) {
    .main__clm {
      float: left;
      width: 33.333333333333333333333333%; } }
.main__item {
  width: 100%;
  max-width: 350px;
  margin: 0px auto;
  background: red;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .main__item {
      max-width: 100%; } }
.main__portfolio {
  display: block;
  text-decoration: none; }

.portfolio {
  position: relative; }
  .portfolio__name {
    position: absolute;
    top: 20px;
    left: 40px;
    background: black;
    color: white; }
  .portfolio__img {
    display: block;
    width: 100%; }
