* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.header__top::after, .main::after {
  display: block;
  content: '';
  clear: both; }

.header__social, .header__search, .main__clm {
  float: left; }

.header__img, .post__img {
  display: block;
  width: 100%;
  height: 100%; }

.list-inline {
  list-style-type: none; }
  .list-inline li {
    display: inline-block;
    margin-left: -4px; }
  .list-inline li:first-child {
    margin-left: 0px; }
  .list-inline a {
    display: block;
    text-decoration: none; }

.ratio-search__string > input {
  display: block;
  border: none;
  outline: none; }

@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 300;
  src: local("Teko Light"), local("Teko-Light"), url(https://fonts.gstatic.com/s/teko/v7/LYjCdG7kmE0gdQhfsCVgqGIu.woff2) format("woff2"); }
/* latin-ext */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 300;
  src: local("Teko Light"), local("Teko-Light"), url(https://fonts.gstatic.com/s/teko/v7/LYjCdG7kmE0gdQhfsCpgqGIu.woff2) format("woff2"); }
/* latin */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 300;
  src: local("Teko Light"), local("Teko-Light"), url(https://fonts.gstatic.com/s/teko/v7/LYjCdG7kmE0gdQhfsCRgqA.woff2) format("woff2"); }
/* devanagari */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  src: local("Teko Regular"), local("Teko-Regular"), url(https://fonts.gstatic.com/s/teko/v7/LYjNdG7kmE0gfaJ9pRtB.woff2) format("woff2"); }
/* latin-ext */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  src: local("Teko Regular"), local("Teko-Regular"), url(https://fonts.gstatic.com/s/teko/v7/LYjNdG7kmE0gfa19pRtB.woff2) format("woff2"); }
/* latin */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  src: local("Teko Regular"), local("Teko-Regular"), url(https://fonts.gstatic.com/s/teko/v7/LYjNdG7kmE0gfaN9pQ.woff2) format("woff2"); }
.page-theme {
  font: 14px Helvetica, sans-serif;
  font-family: 'Teko', sans-serif;
  color: #666;
  letter-spacing: 0.2px; }

.header {
  background: #131313;
  padding-top: 40px;
  margin-bottom: 70px; }
  .header__top, .header__nav {
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    margin: 0px auto; }
  @media (min-width: 960px) {
    .header__top {
      max-width: 960px; } }
  .header__social, .header__search {
    float: none;
    margin: 0px auto; }
    @media (min-width: 768px) {
      .header__social, .header__search {
        float: left; } }
  .header__social {
    padding-top: 12.5px;
    padding-left: 10px;
    text-align: center; }
    @media (min-width: 768px) {
      .header__social {
        width: 66.666666666666666666666666%; } }
    @media (min-width: 960px) {
      .header__social {
        text-align: left; } }
  @media (min-width: 768px) {
    .header__search {
      width: 33.333333333333333333333333%; } }
  .header__search-item {
    min-width: 320px;
    max-width: 425px;
    padding: 0px 10px;
    margin: 0px auto; }
    @media (min-width: 768px) {
      .header__search-item {
        padding: 0px;
        min-width: 100%;
        max-width: 100%; } }
  .header__logo {
    display: block;
    width: 300px;
    height: 120px;
    margin: 0px auto; }
  @media (min-width: 800px) {
    .header__nav {
      max-width: 800px; } }

.list-inline {
  display: inline-block; }
  .list-inline__link {
    color: #888888;
    letter-spacing: 1px;
    text-transform: capitalize; }
    .list-inline__link:after {
      display: inline;
      content: '-';
      padding: 0px 10px; }

.ratio-search__btn, .ratio-search__string > input {
  height: 45px; }
.ratio-search__btn {
  float: right;
  display: block;
  width: 45px;
  background: url("blocks/ratio-search/search.png") no-repeat center center #fff; }
.ratio-search__string {
  overflow: hidden; }
  .ratio-search__string > input {
    width: 100%;
    padding: 10px;
    border: 1px solid #888;
    background: #131313;
    font-size: 0.8rem;
    color: #fff; }

@media (min-width: 375px) {
  .main {
    max-width: 960px;
    margin: 0px auto; } }
.main--post {
  padding-left: 10px;
  padding-right: 10px; }
.main__clm {
  float: none;
  padding: 0px 10px;
  background: purple; }
  @media (min-width: 768px) {
    .main__clm {
      float: left;
      width: 33.333333333333333333333333%; } }
.main__item {
  width: 100%;
  max-width: 350px;
  margin: 0px auto;
  background: red;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .main__item {
      max-width: 100%; } }
.main__promo {
  display: block;
  text-decoration: none; }

.promo {
  position: relative;
  overflow: hidden; }
  .promo::before, .promo::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
    z-index: 2; }
  .promo::after {
    border-top: 12px solid #131313;
    border-bottom: 12px solid #131313;
    -webkit-transition: scale(0, 1);
    -moz-transition: scale(0, 1);
    -ms-transform: scale(0, 1);
    -o-transition: scale(0, 1);
    transform: scale(0, 1); }
  .promo::before {
    border-right: 12px solid #131313;
    border-left: 12px solid #131313;
    -webkit-transition: scale(1, 0);
    -moz-transition: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transition: scale(1, 0);
    transform: scale(1, 0); }
  .promo:hover::before, .promo:hover::after {
    -webkit-transition: scale(1, 1);
    -moz-transition: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transition: scale(1, 1);
    transform: scale(1, 1); }
  .promo__name {
    position: absolute;
    top: 60px;
    left: 15%;
    padding: 12px 10px 9px 10px;
    background: #131313;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Teko, sans-serif;
    font-size: 2em;
    color: #fff;
    z-index: 1; }
  .promo__img {
    display: block;
    width: 100%;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s; }
  .promo:hover .promo__img {
    -webkit-transition: scale(1.2);
    -moz-transition: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transition: scale(1.2);
    transform: scale(1.2); }

.blind, .triple-menu__first-item {
  position: relative; }
  .blind::before, .triple-menu__first-item::before {
    display: block;
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0;
    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    -ms-transition: height 1s;
    -o-transition: height 1s;
    transition: height 1s;
    z-index: 1; }
  .blind:hover::before, .triple-menu__first-item:hover::before {
    background: #fff;
    height: 100%; }

.triple-menu {
  font-family: 'Teko', sans-serif;
  /*-------------------first-list-------------------------------*/
  /*-------------------second-list-------------------------------*/
  /*-------------------third-list-------------------------------*/ }
  .triple-menu, .triple-menu__first-list, .triple-menu__second-list, .triple-menu__third-list {
    list-style-type: none; }
  .triple-menu__second-list, .triple-menu__third-list {
    position: absolute; }
  .triple-menu__btn {
    position: relative;
    display: block;
    padding: 15px 0px;
    background: .triple-menu__btn white;
    text-align: center; }
    @media (min-width: 800px) {
      .triple-menu__btn {
        display: none; } }
    .triple-menu__btn::after, .triple-menu__btn::before {
      display: block;
      content: '';
      position: absolute;
      right: 20px;
      width: 20px; }
    .triple-menu__btn::after {
      top: 18px;
      border-top: 2px solid black; }
    .triple-menu__btn::before {
      top: 22px;
      height: 2px;
      border-top: 2px solid black;
      border-bottom: 2px solid black; }
  .triple-menu__link, .triple-menu__link-drop {
    display: block;
    text-decoration: none;
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #131313; }
  .triple-menu__link {
    padding-left: 20px;
    padding-right: 20px; }
  .triple-menu__link-drop {
    position: relative;
    padding-left: 20px;
    padding-right: 40px; }
    .triple-menu__link-drop::before, .triple-menu__link-drop::after {
      display: block;
      content: '';
      position: absolute; }
    .triple-menu__link-drop::before {
      top: -webkit-calc(50% - 8px);
      top: -moz-calc(50% - 8px);
      top: -o-calc(50% - 8px);
      top: calc(50% - 8px);
      right: 14px;
      width: 12px;
      height: 12px;
      -webkit-border-top-left-radius: 50%;
      -moz-border-top-left-radius: 50%;
      border-top-left-radius: 50%;
      -webkit-border-top-right-radius: 50%;
      -moz-border-top-right-radius: 50%;
      border-top-right-radius: 50%;
      -webkit-border-bottom-right-radius: 50%;
      -moz-border-bottom-right-radius: 50%;
      border-bottom-right-radius: 50%;
      -webkit-border-bottom-left-radius: 50%;
      -moz-border-bottom-left-radius: 50%;
      border-bottom-left-radius: 50%;
      background: #fff; }
    .triple-menu__link-drop::after {
      right: 16px;
      width: 0px;
      height: 0px;
      border: 4px solid transparent; }
  .triple-menu__arrow--right::after {
    top: -webkit-calc(50% - 6px);
    top: -moz-calc(50% - 6px);
    top: -o-calc(50% - 6px);
    top: calc(50% - 6px);
    right: 14px;
    border-left: 4px solid #131313; }
  .triple-menu__arrow--bottom::after {
    top: -webkit-calc(50% - 3px);
    top: -moz-calc(50% - 3px);
    top: -o-calc(50% - 3px);
    top: calc(50% - 3px);
    border-top: 4px solid #131313; }
  .triple-menu__second-item, .triple-menu__third-item {
    width: 170px;
    position: absolute;
    left: -9999px;
    max-height: 0px;
    background: #fff;
    -webkit-transition: max-height 0.3s ease-out;
    -moz-transition: max-height 0.3s ease-out;
    -ms-transition: max-height 0.3s ease-out;
    -o-transition: max-height 0.3s ease-out;
    transition: max-height 0.3s ease-out; }
  .triple-menu__first-list {
    text-align: center; }
  .triple-menu__first-item {
    position: relative;
    display: inline-block;
    margin: 0px 10px;
    font-size: 18px;
    font-weight: 500; }
    .triple-menu__first-item:hover > .triple-menu__second-list > .triple-menu__second-item {
      position: relative;
      top: 0px;
      left: 0px;
      max-height: 36px; }
    .triple-menu__first-item:hover > .triple-menu__link-drop::before {
      background: #131313; }
    .triple-menu__first-item:hover > .triple-menu__arrow--bottom::after {
      border-top: 4px solid #fff; }
    .triple-menu__first-item > .triple-menu__link, .triple-menu__first-item > .triple-menu__link-drop {
      position: relative;
      display: block;
      z-index: 2;
      text-transform: uppercase;
      color: #fff;
      -webkit-transition: color 0.3s;
      -moz-transition: color 0.3s;
      -ms-transition: color 0.3s;
      -o-transition: color 0.3s;
      transition: color 0.3s; }
    .triple-menu__first-item:hover > .triple-menu__link, .triple-menu__first-item:hover > .triple-menu__link-drop {
      color: #131313; }
  .triple-menu__second-list {
    font-size: 14px; }
  .triple-menu__second-item {
    overflow: hidden;
    text-transform: capitalize;
    text-align: left; }
    .triple-menu__second-item > .triple-menu__link-drop {
      padding-top: 11px;
      padding-left: 20px;
      padding-bottom: 11px;
      padding-right: 10px; }
    .triple-menu__second-item > .triple-menu__link-drop::before {
      width: 10px;
      height: 10px;
      background: #131313; }
    .triple-menu__second-item > .triple-menu__arrow--right::after {
      border: 3px solid transparent;
      border-left: 3px solid #fff; }
    .triple-menu__second-item:hover {
      overflow: visible; }
    .triple-menu__second-item:hover > .triple-menu__third-list > .triple-menu__third-item {
      position: relative;
      top: 0px;
      left: 0px;
      max-height: 36px; }
    .triple-menu__second-item > .triple-menu__link {
      padding-top: 11px;
      padding-left: 10px;
      padding-bottom: 11px;
      padding-right: 20px;
      text-align: left; }
  .triple-menu__third-list {
    position: absolute;
    left: 170px;
    top: 0px; }

.post {
  background: #f6f6f6;
  padding: 0px 15px; }
  .post__date, .post__title, .post__autor {
    display: block;
    text-align: center; }
  .post__title, .post__autor {
    text-transform: uppercase; }
  .post__title {
    font-size: 2em;
    letter-spacing: 2px;
    color: #131313; }
    @media (min-width: 600px) {
      .post__title {
        font-size: 2.5em; } }
    @media (min-width: 768px) {
      .post__title {
        font-size: 3em; } }
    @media (min-width: 960px) {
      .post__title {
        font-size: 5em; } }
