@import url("https://fonts.googleapis.com/css?family=Teko");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.header__top::after, .main::after, .feedback--clearfix::after {
  display: block;
  content: '';
  clear: both; }

.header__social, .header__search, .main__clm, .feedback__clm {
  float: left; }

.feedback__btn {
  outline: none;
  display: block;
  border: none; }

.header__img, .post__img, .archive__img {
  display: block;
  width: 100%;
  height: 100%; }

.list-inline {
  list-style-type: none; }
  .list-inline li {
    display: inline-block;
    margin-left: -4px; }
  .list-inline li:first-child {
    margin-left: 0px; }
  .list-inline a {
    display: block;
    text-decoration: none; }

.ratio-search__string > input, .feedback__elem, .feedback__textarea, .feedback__btn {
  display: block;
  border: none;
  outline: none; }

.page-theme {
  font-family: 'helvetica', sans-serif;
  font-family: 'Teko', sans-serif;
  color: #666;
  letter-spacing: 0.2px; }

.header {
  background: #131313;
  padding-top: 40px;
  padding-bottom: 30px; }
  .header__top, .header__nav {
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    margin: 0px auto; }
  .header__top {
    padding-top: 20px;
    padding-bottom: 60px; }
    @media (min-width: 960px) {
      .header__top {
        max-width: 960px; } }
  .header__social, .header__search {
    float: none;
    margin: 0px auto; }
    @media (min-width: 768px) {
      .header__social, .header__search {
        float: left; } }
  .header__social {
    padding-top: 12.5px;
    padding-left: 10px;
    text-align: center; }
    @media (min-width: 768px) {
      .header__social {
        width: 66.666666666666666666666666%; } }
    @media (min-width: 960px) {
      .header__social {
        text-align: left; } }
  .header__search {
    padding-top: 20px; }
    @media (min-width: 768px) {
      .header__search {
        padding-top: 0px;
        width: 33.333333333333333333333333%; } }
  .header__search-item {
    min-width: 320px;
    max-width: 425px;
    padding: 0px 10px;
    margin: 0px auto; }
    @media (min-width: 768px) {
      .header__search-item {
        padding: 0px;
        min-width: 100%;
        max-width: 100%; } }
  .header__logo {
    display: block;
    width: 300px;
    height: 120px;
    margin: 0px auto; }
  .header__nav {
    padding-top: 45px; }
    @media (min-width: 800px) {
      .header__nav {
        max-width: 800px; } }

.list-inline {
  display: inline-block; }
  .list-inline__link {
    color: #888888;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-size: 1.3em;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s; }
    .list-inline__link::after {
      display: inline;
      content: '-';
      padding: 0px 10px; }
    .list-inline__link:hover {
      color: #fff; }

.ratio-search__btn, .ratio-search__string > input {
  height: 45px; }
.ratio-search__btn {
  float: right;
  display: block;
  width: 45px;
  background: url("blocks/ratio-search/search.png") no-repeat center center #fff; }
.ratio-search__string {
  overflow: hidden; }
  .ratio-search__string > input {
    width: 100%;
    padding: 10px;
    border: 1px solid #888;
    background: #131313;
    font-size: 0.8rem;
    color: #fff; }

.main {
  padding-top: 40px; }
  @media (min-width: 375px) {
    .main {
      max-width: 960px;
      margin: 0px auto; } }
  .main--post {
    padding-left: 10px;
    padding-right: 10px; }
  .main__clm {
    float: none;
    padding: 0px 10px; }
    @media (min-width: 768px) {
      .main__clm {
        float: left;
        width: 33.333333333333333333333333%; } }
  .main__item {
    width: 100%;
    max-width: 350px;
    margin: 0px auto;
    background: red;
    margin-bottom: 30px; }
    @media (min-width: 768px) {
      .main__item {
        max-width: 100%; } }
  .main__promo {
    display: block;
    text-decoration: none; }

.promo {
  position: relative; }
  .promo::before, .promo::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: 2; }
  .promo::after {
    border-top: 12px solid #131313;
    border-bottom: 12px solid #131313; }
  .promo::before {
    border-right: 12px solid #131313;
    border-left: 12px solid #131313; }
  @media (min-width: 600px) {
    .promo {
      overflow: hidden; }
      .promo:hover .promo__img {
        -webkit-transition: scale(1.2);
        -moz-transition: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transition: scale(1.2);
        transform: scale(1.2); }
      .promo::before, .promo::after {
        -webkit-transition: transform 0.5s;
        -moz-transition: transform 0.5s;
        -ms-transition: transform 0.5s;
        -o-transition: transform 0.5s;
        transition: transform 0.5s;
        -webkit-transform-origin: center;
        -moz-transform-origin: center;
        -ms-transform-origin: center;
        -o-transform-origin: center;
        transform-origin: center; }
      .promo::after {
        -webkit-transition: scale(0, 1);
        -moz-transition: scale(0, 1);
        -ms-transform: scale(0, 1);
        -o-transition: scale(0, 1);
        transform: scale(0, 1); }
      .promo::before {
        -webkit-transition: scale(1, 0);
        -moz-transition: scale(1, 0);
        -ms-transform: scale(1, 0);
        -o-transition: scale(1, 0);
        transform: scale(1, 0); }
      .promo:hover::before, .promo:hover::after {
        -webkit-transition: scale(1, 1);
        -moz-transition: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transition: scale(1, 1);
        transform: scale(1, 1); } }
  .promo__name {
    position: absolute;
    top: 60px;
    left: 15%;
    padding: 12px 10px 9px 10px;
    background: #131313;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Teko, sans-serif;
    font-size: 2em;
    color: #fff;
    z-index: 1; }
  .promo__img {
    display: block;
    width: 100%;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s; }

.blind, .triple-menu__first-item {
  position: relative; }
  .blind::before, .triple-menu__first-item::before {
    display: block;
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0;
    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    -ms-transition: height 1s;
    -o-transition: height 1s;
    transition: height 1s;
    z-index: 1; }
  .blind:hover::before, .triple-menu__first-item:hover::before {
    background: #fff;
    height: 100%; }

.triple-menu {
  /*-------------------first-list-------------------------------*/
  /*-------------------third-list-------------------------------*/ }
  .triple-menu, .triple-menu__first-list, .triple-menu__second-list, .triple-menu__third-list {
    list-style-type: none; }
  @media (min-width: 800px) {
    .triple-menu__second-list, .triple-menu__third-list {
      position: absolute; } }
  .triple-menu__btn {
    position: relative;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #131313;
    cursor: pointer; }
    @media (min-width: 800px) {
      .triple-menu__btn {
        display: none; } }
    .triple-menu__btn::after, .triple-menu__btn::before {
      display: block;
      content: '';
      position: absolute;
      right: 20px;
      width: 20px; }
    .triple-menu__btn::after {
      top: 18px;
      border-top: 2px solid black; }
    .triple-menu__btn::before {
      top: 22px;
      height: 2px;
      border-top: 2px solid black;
      border-bottom: 2px solid black; }
  .triple-menu__body {
    display: none; }
    @media (min-width: 800px) {
      .triple-menu__body {
        display: block; } }
  .triple-menu__link, .triple-menu__link-drop {
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: #fff; }
    @media (min-width: 800px) {
      .triple-menu__link, .triple-menu__link-drop {
        padding-top: 12px;
        padding-bottom: 12px;
        color: #131313; } }
  @media (min-width: 800px) {
    .triple-menu__link {
      padding-left: 20px;
      padding-right: 20px; } }
  @media (min-width: 800px) {
    .triple-menu__link-drop {
      position: relative;
      padding-left: 20px;
      padding-right: 40px;
      z-index: 9999; }
      .triple-menu__link-drop::before, .triple-menu__link-drop::after {
        position: absolute;
        display: block;
        content: ''; }
      .triple-menu__link-drop::before {
        top: calc(50% - 8px);
        right: 16px;
        width: 12px;
        height: 12px;
        -webkit-border-top-left-radius: 50%;
        -moz-border-top-left-radius: 50%;
        border-top-left-radius: 50%;
        -webkit-border-top-right-radius: 50%;
        -moz-border-top-right-radius: 50%;
        border-top-right-radius: 50%;
        -webkit-border-bottom-right-radius: 50%;
        -moz-border-bottom-right-radius: 50%;
        border-bottom-right-radius: 50%;
        -webkit-border-bottom-left-radius: 50%;
        -moz-border-bottom-left-radius: 50%;
        border-bottom-left-radius: 50%; }
      .triple-menu__link-drop::after {
        width: 0px;
        height: 0px;
        border: 4px solid transparent; } }
  @media (min-width: 800px) {
    .triple-menu__second-item, .triple-menu__third-item {
      width: 170px;
      position: absolute;
      left: -9999px;
      max-height: 0px;
      background: #fff;
      -webkit-transition: max-height 0.3s ease-out;
      -moz-transition: max-height 0.3s ease-out;
      -ms-transition: max-height 0.3s ease-out;
      -o-transition: max-height 0.3s ease-out;
      transition: max-height 0.3s ease-out; } }
  .triple-menu__first-list {
    padding-left: 20px; }
    @media (min-width: 800px) {
      .triple-menu__first-list {
        padding-left: 0px;
        text-align: center; } }
  .triple-menu__first-item {
    text-transform: uppercase;
    font-size: 1.2em;
    padding-top: 10px;
    padding-bottom: 10px; }
    .triple-menu__first-item::before {
      display: none; }
    @media (min-width: 800px) {
      .triple-menu__first-item {
        position: relative;
        display: inline-block;
        margin: 0px 10px;
        padding-top: 0px;
        padding-bottom: 0px; }
        .triple-menu__first-item::before {
          display: block; }
        .triple-menu__first-item > .triple-menu__link-drop::before {
          background: #fff; }
        .triple-menu__first-item > .triple-menu__link-drop::after {
          top: calc(50% - 3px );
          right: 18px;
          border-top: 4px solid #131313; }
        .triple-menu__first-item > .triple-menu__link-drop:hover::after {
          border-top: 4px solid #fff; }
        .triple-menu__first-item > .triple-menu__link-drop:hover::before {
          background: #131313; }
        .triple-menu__first-item:hover > .triple-menu__second-list
        > .triple-menu__second-item {
          position: relative;
          top: 0px;
          left: 0px;
          max-height: 36px; }
        .triple-menu__first-item > .triple-menu__link, .triple-menu__first-item > .triple-menu__link-drop {
          position: relative;
          display: block;
          z-index: 2;
          text-transform: uppercase;
          color: #fff;
          -webkit-transition: color 0.3s;
          -moz-transition: color 0.3s;
          -ms-transition: color 0.3s;
          -o-transition: color 0.3s;
          transition: color 0.3s; }
        .triple-menu__first-item:hover > .triple-menu__link, .triple-menu__first-item:hover > .triple-menu__link-drop {
          color: #131313; } }
  .triple-menu__second-list {
    padding-left: 15px; }
    @media (min-width: 800px) {
      .triple-menu__second-list {
        padding-left: 0px;
        z-index: 9999; } }
  .triple-menu__second-item {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 0.8em; }
    @media (min-width: 800px) {
      .triple-menu__second-item {
        overflow: hidden;
        text-transform: capitalize;
        text-align: left;
        padding-top: 0px;
        padding-bottom: 0px; }
        .triple-menu__second-item > .triple-menu__link-drop {
          padding-top: 11px;
          padding-left: 20px;
          padding-bottom: 11px;
          padding-right: 10px; }
        .triple-menu__second-item > .triple-menu__link-drop::before {
          width: 10px;
          height: 10px;
          background: #131313; }
        .triple-menu__second-item > .triple-menu__arrow-right::after {
          top: calc(50% - 7px);
          right: 15px;
          border-left: 4px solid #fff; }
        .triple-menu__second-item:hover {
          overflow: visible; }
        .triple-menu__second-item:hover > .triple-menu__third-list
        > .triple-menu__third-item {
          position: relative;
          top: 0px;
          left: 0px;
          max-height: 36px; }
        .triple-menu__second-item > .triple-menu__link {
          padding-top: 11px;
          padding-left: 10px;
          padding-bottom: 11px;
          padding-right: 20px;
          text-align: left; } }
  .triple-menu__third-list {
    padding-left: 15px; }
    @media (min-width: 800px) {
      .triple-menu__third-list {
        padding-left: 0px;
        position: absolute;
        left: 170px;
        top: 0px;
        z-index: 9999; } }
  .triple-menu__third-item {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 0.8em; }
    @media (min-width: 800px) {
      .triple-menu__third-item {
        padding-top: 0px;
        padding-bottom: 0px; } }

.post {
  background: #f6f6f6;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 70px; }
  .post__date, .post__name, .post__autor {
    display: block;
    text-align: center; }
  .post__title, .post__autor, .post__date {
    text-transform: uppercase; }
  .post__head {
    padding-top: 20px;
    padding-bottom: 30px; }
  .post__date {
    padding-bottom: 10px;
    font-size: 1.3em;
    text-transform: capitalize; }
  .post__name {
    padding-bottom: 10px;
    font-size: 2em;
    letter-spacing: 2px;
    line-height: 1;
    color: #131313; }
    @media (min-width: 425px) {
      .post__name {
        font-size: 3em; } }
    @media (min-width: 600px) {
      .post__name {
        font-size: 3.2em; } }
    @media (min-width: 768px) {
      .post__name {
        font-size: 3.5em; } }
    @media (min-width: 960px) {
      .post__name {
        font-size: 4em; } }
  .post__img {
    margin-top: 25px; }
  .post__autor {
    display: block;
    text-decoration: none;
    font-size: 1.4em;
    color: #888888;
    line-height: 1.6em;
    letter-spacing: 0.2px; }
    @media (min-width: 768px) {
      .post__autor {
        -webkit-transition: color 0.2s ease-in-out;
        -moz-transition: color 0.2s ease-in-out;
        -ms-transition: color 0.2s ease-in-out;
        -o-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out; }
        .post__autor:hover {
          color: #131313; } }
  .post__body {
    text-align: justify; }
    @media (min-width: 425px) {
      .post__body {
        padding-left: 30px;
        padding-right: 30px; } }
    @media (min-width: 768px) {
      .post__body {
        padding-left: 120px;
        padding-right: 120px; } }
  .post__title {
    font-size: 1.8em;
    color: #3F3F3F;
    letter-spacing: 1px;
    text-transform: capitalize; }
  .post__text, .post__quote {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.6em;
    letter-spacing: 0.2px;
    line-height: 1.3;
    color: #686868; }
  .post__mark {
    font-family: monospace; }
  .post__quote {
    display: block;
    margin: 0px 50px;
    padding-left: 20px;
    border-left: 3px solid #1c7791; }
  .post__list {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    list-style: inside;
    list-style-type: circle;
    font-size: 1.65em; }

.archive {
  padding-left: 30px;
  padding-right: 30px; }
  .archive__item {
    border-bottom: 1px solid #e1e1e1; }
    .archive__item:last-child {
      border: none; }
  .archive__head {
    padding-top: 30px; }
  .archive__date {
    text-transform: capitalize;
    font-family: Georgia,serif;
    font-size: 17px; }
  .archive__autor, .archive__title {
    text-decoration: none;
    letter-spacing: 1px;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s; }
  .archive__title {
    display: block;
    color: #131313; }
    .archive__title > h1 {
      font-size: 2.3em;
      font-weight: 300; }
    .archive__title:hover {
      color: #888888; }
    @media (min-width: 425px) {
      .archive__title > h1 {
        font-size: 3.2em; } }
  .archive__img {
    margin-top: 30px; }
  .archive__autor {
    text-transform: uppercase;
    font-size: 17px;
    color: #888; }
    .archive__autor:hover {
      color: #131313; }
  .archive__body {
    padding-top: 10px;
    padding-bottom: 40px; }
  .archive__intro {
    font-size: 1.5em;
    margin-bottom: 20px; }
  .archive__link {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.28em;
    color: #888888;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s; }
    .archive__link:hover {
      color: #131313; }

.feedback {
  background: #f6f6f6;
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 30px; }
  .feedback--clearfix {
    padding-top: 20px;
    padding-bottom: 30px; }
  .feedback__clm {
    width: 33.333333333333333%;
    padding-left: 10px; }
  .feedback__clm:first-child {
    padding-left: 0px; }
  .feedback__title-xl {
    display: block;
    font-size: 3.8em;
    text-align: center;
    text-transform: capitalize;
    line-height: 1.2; }
  .feedback__elem, .feedback__textarea, .feedback__btn {
    border: 1px solid #d1d1d1; }
  .feedback__elem {
    width: 100%;
    padding-top: 23px;
    padding-left: 23px;
    padding-bottom: 23px;
    padding-right: 23px;
    font-size: 16px;
    text-transform: capitalize;
    color: #686868; }
  .feedback__textarea {
    width: 100%;
    height: 250px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    color: red;
    text-transform: capitalize; }
  .feedback__btn {
    width: 140px;
    margin-top: 50px;
    margin-left: auto;
    margin-bottom: 20px;
    margin-right: auto;
    padding: 15px;
    background: #575756;
    text-transform: capitalize;
    font-family: arial;
    font-weight: 400;
    font-size: 1.1em;
    color: #fff;
    cursor: pointer; }
