@import url("https://fonts.googleapis.com/css?family=Ubuntu");
.slider__control::after, .slider__lenta::after, .feedback__header::after {
  display: block;
  content: '';
  clear: both; }

.slider__arrow, .slider__descr, .slider__section, .feedback__ico, .feedback__title {
  float: left; }

.persona__img, .slider__item, .answer__img {
  display: block;
  width: 100%;
  height: 100%; }

.feedback__btn {
  display: block;
  border: none;
  outline: none; }

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*size*/
/*color*/
.page__theme {
  font-family: 'Ubuntu', san-serif;
  font-size: 14px;
  color: #5f5f5f;
  line-height: 1.8; }

.header {
  padding-top: 15px;
  text-align: center; }
  .header__logo {
    font-size: 1.2em; }

.main {
  max-width: 960px;
  margin: 0px auto;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px; }
  @media (min-width: 600px) {
    .main {
      text-align: left; } }
  .main__text {
    display: block;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 1.1em; }
  .main__title {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.7em; }
  .main__list {
    padding-left: 40px;
    padding-right: 40px;
    list-style-image: url("img/marker.png");
    list-style-position: inside; }
  .main__item {
    padding-top: 15px;
    padding-bottom: 15px; }
  .main__mark {
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    text-align: center; }

.service {
  border-top: 3px solid #ffeb3b;
  border-bottom: 3px solid #ffeb3b;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px; }
  .service__header {
    display: block;
    padding-top: 20px;
    text-align: center; }
  .service__body {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-box-orient: column;
    -webkit-box-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    max-width: 320px;
    margin: 0px auto; }
    @media (min-width: 500px) {
      .service__body {
        flex-direction: row;
        -webkit-box-orient: row;
        -webkit-box-direction: row;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        justify-content: space-around;
        -webkit-box-pack: space-around;
        -webkit-justify-content: space-around;
        -ms-flex-pack: space-around;
        align-items: strech;
        -webkit-box-align: strech;
        -webkit-align-items: strech;
        -ms-flex-align: strech;
        max-width: 500px; } }
    @media (min-width: 768px) {
      .service__body {
        max-width: 768px; } }
  .service__item {
    text-align: center;
    margin-top: 30px;
    width: 70%; }
    @media (min-width: 500px) {
      .service__item {
        width: 48%; } }
    @media (min-width: 768px) {
      .service__item {
        width: 23%; } }
  .service__img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0px auto; }
  .service__descr {
    display: block;
    padding-top: 15px; }

.persona {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 20px;
  padding-right: 10px;
  background: #fff9c2; }
  @media (min-width: 600px) {
    .persona {
      position: relative;
      padding-top: 20px;
      padding-left: 15px;
      padding-bottom: 20px; } }
  @media (min-width: 768px) {
    .persona {
      padding-top: 30px;
      padding-left: 50px;
      padding-bottom: 30px; } }
  .persona__foto {
    width: 200px;
    height: 200px;
    margin: 0px auto; }
    @media (min-width: 600px) {
      .persona__foto {
        position: absolute;
        top: -webkit-calc((100% - 180px) / 2);
        left: 70%;
        top: -moz-calc((100% - 180px) / 2);
        left: 70%;
        top: calc((100% - 180px) / 2);
        left: 70%;
        width: 30%; } }
    @media (min-width: 768px) {
      .persona__foto {
        top: -webkit-calc((100% - 200px) / 2);
        top: -moz-calc((100% - 200px) / 2);
        top: calc((100% - 200px) / 2); } }
  .persona__img {
    border: 5px solid #ffec3b;
    -webkit-border-top-left-radius: 50%;
    -moz-border-top-left-radius: 50%;
    border-top-left-radius: 50%;
    -webkit-border-top-right-radius: 50%;
    -moz-border-top-right-radius: 50%;
    border-top-right-radius: 50%;
    -webkit-border-bottom-right-radius: 50%;
    -moz-border-bottom-right-radius: 50%;
    border-bottom-right-radius: 50%;
    -webkit-border-bottom-left-radius: 50%;
    -moz-border-bottom-left-radius: 50%;
    border-bottom-left-radius: 50%; }
    @media (min-width: 600px) {
      .persona__img {
        width: 180px;
        height: 180px;
        margin: 0px auto; } }
    @media (min-width: 768px) {
      .persona__img {
        width: 200px;
        height: 200px; } }
  .persona__descr {
    display: block;
    text-align: justify;
    padding-top: 20px; }
    @media (min-width: 600px) {
      .persona__descr {
        padding-top: 0px;
        width: 70%; } }

.slider {
  padding-bottom: 15px; }
  .slider__header {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center; }
  .slider__control {
    display: inline-block;
    margin: 0px auto;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000; }
  .slider__arrow {
    width: 15px;
    height: 15px;
    border-top: 2px solid #000000;
    cursor: pointer; }
  .slider__arrow:hover {
    border-color: #9e9e9e; }
  .slider__arrow--left {
    border-left: 2px solid black;
    -webkit-transition: rotate(-45deg);
    -moz-transition: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transition: rotate(-45deg);
    transform: rotate(-45deg); }
  .slider__arrow--right {
    border-right: 2px solid black;
    -webkit-transition: rotate(45deg);
    -moz-transition: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transition: rotate(45deg);
    transform: rotate(45deg); }
  .slider__descr {
    display: block;
    padding-left: 15px;
    padding-right: 15px; }
  .slider__body {
    width: 320px;
    margin: 0px auto;
    overflow: hidden; }
    @media (min-width: 400px) {
      .slider__body {
        width: 400px; } }
    @media (min-width: 600px) {
      .slider__body {
        width: 600px; } }
    @media (min-width: 768px) {
      .slider__body {
        min-width: 768px; } }
  .slider__lenta {
    position: relative;
    top: 0px;
    left: 0px;
    list-style-type: none;
    width: 9999px; }
  .slider__section {
    width: 320px;
    height: 150px;
    padding: 10px; }
    @media (min-width: 400px) {
      .slider__section {
        width: 200px;
        height: 130px; } }
    @media (min-width: 600px) {
      .slider__section {
        width: 200px; } }
    @media (min-width: 768px) {
      .slider__section {
        width: 192px; } }

.feedback {
  padding-top: 20px;
  padding-bottom: 50px;
  background: #ffeb3b;
  text-align: center; }
  .feedback__header {
    padding-top: 20px;
    display: inline-block;
    height: 90px; }
  .feedback__ico, .feedback__title {
    display: block; }
  .feedback__ico {
    width: 40px;
    height: 40px;
    background: url("img/ballons.png") no-repeat;
    -webkit-background-size: contain;
    -o-background-size: contain;
    -moz-background-size: contain;
    background-size: contain; }
    @media (min-width: 425px) {
      .feedback__ico {
        width: 50px;
        height: 50px; } }
    @media (min-width: 600px) {
      .feedback__ico {
        width: 70px;
        height: 70px; } }
  .feedback__title {
    font-size: 1.9em;
    padding-left: 8px;
    padding-right: 8px;
    text-transform: uppercase;
    color: #000000; }
    @media (min-width: 425px) {
      .feedback__title {
        font-size: 2.3em; } }
    @media (min-width: 600px) {
      .feedback__title {
        font-size: 3.5em;
        line-height: 70px; } }
  .feedback__descr {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: capitalize;
    font-size: 1.2em;
    font-weight: 550;
    color: #000000; }
  .feedback__btn {
    padding-top: 10px;
    padding-right: 70px;
    padding-bottom: 10px;
    padding-left: 70px;
    margin: 15px auto 0px auto;
    border: 3px solid black;
    -webkit-border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: #ffec3b;
    font-size: 1.2em;
    text-transform: capitalize;
    font-weight: 550;
    color: #000000;
    cursor: pointer; }
  .feedback__popup {
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); }
  .feedback__answer-box {
    position: relative;
    top: calc(50% - 160px);
    left: calc(50% - 160px);
    padding: 10px;
    width: 320px;
    height: 200px;
    background: #fff;
    border: 3px solid gold;
    -webkit-border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  .feedback__answer {
    display: block;
    font-size: 1.2em;
    text-transform: uppercase; }

.footer {
  margin-top: 10px;
  background: #ededed; }

.contacts {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  background: url("img/rose.png") no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover; }
  .contacts__shadow {
    padding-bottom: 20px;
    background: rgba(0, 0, 0, 0.4); }
  .contacts__text {
    display: block;
    padding-top: 10px;
    text-align: center;
    color: #fff; }
  .contacts__bold {
    font-size: 1.1em;
    font-weight: 600; }

.portfolio {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #ffeb3b; }
  .portfolio__link {
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.4em;
    color: #000000; }

.answer {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: column;
  -webkit-box-orient: column;
  -webkit-box-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center; }
  @media (min-width: 600px) {
    .answer {
      flex-direction: row;
      -webkit-box-orient: row;
      -webkit-box-direction: row;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-wrap: no-wrap;
      -webkit-flex-wrap: no-wrap;
      -ms-flex-wrap: no-wrap; } }
  @media (min-width: 768px) {
    .answer {
      max-width: 768px;
      margin: 0px auto; } }
  .answer__item {
    margin-top: 10px;
    width: 70%;
    height: 200px; }
    @media (min-width: 500px) {
      .answer__item {
        margin: 10px; } }
  .answer__title {
    display: block;
    padding-top: 10px;
    padding-right: 7px;
    padding-bottom: 10px;
    padding-left: 7px;
    background: #ffeb3b;
    margin-bottom: 10px;
    text-align: center;
    line-height: 1;
    color: #fff; }
  .answer__img-box {
    height: 145px; }
  .answer__img {
    background: #000000; }
