/*accrd-tabs*/
/*---------------------------------*/
.ui-state-focus { outline: none; }

.step{
	padding-right:15px;
	padding-left:15px;}
    .step__wr{
		max-width:750px;
	    margin:0px auto;}
	    @media(min-width:1100px){
		    .step__wr{
			    max-width:1024px;}}
	
	.step__title{
		display:block;
		padding-top:20px;
		padding-bottom:20px;
		text-align:center;
		line-height: 1.231;
		font-size:1.8em;
		color:#7fdbf9;}
	.step__title:first-letter{
		text-transform:uppercase;}

.ui-tabs-nav li:before, .ui-icon{
				position:absolute;
				display:block;
				content:'';
				border-radius:50%;} 
			
.ui-tabs, .ui-tabs-nav{
	display:flex;
}
.ui-tabs{
	padding-top:10px;
	padding-bottom:10px;}	
	
	.ui-tabs-nav{
		width:30%;
		-ms-flex-item-align:center;
         -ms-grid-row-align:center;
                 align-self:center;
	    -webkit-box-direction:normal;
		 -webkit-box-orient:vertical;
           -ms-flex-direction:column;
               flex-direction:column;}
        
		.ui-tab{
			position:relative;}
			.ui-tab::before{
				margin-top:12px;
				display:block;
				content:'';
				width:9px;
				height:9px;
				border:3px solid #474747;}
			.ui-tabs-anchor{
				outline:none;
				border:none;
				text-decoration: underline;
				padding-top:5px;
				padding-bottom:5px;
				padding-left:23px;
				font-size:1.57em;
				line-height: 1.455;
				color:#474747;}
    	    .ui-state-active:before{
				border:3px solid #7fdbf9;}
			.ui-state-active .ui-tabs-anchor {
				color:#7fdbf9;}
            .ui-tabs-anchor:first-letter{
				text-transform:uppercase;}			
		
	.ui-tabs-panel{
		width:500px;
		margin-right:15px;
		margin-left:40px;
		padding-top:15px;
		padding-left:20px;
		border:2px solid #41c9f6;
		border-radius:30px;
		line-height: 1.667;}	
		.ui-tabs-panel::after{
			display:block;
			content:' ';
			clear:both;}
		@media(min-width:1100px){
			.ui-tabs-panel{
			    width:640px;
				padding-top:25px;
		        padding-left:25px;}}
		
		.ui-accordion-header{
			font-size:1.35em;
			outline: none;
			padding-top:5px;
	        padding-bottom:5px;
	        padding-left:38px;
	        line-height: 1.684;
	        color:#474747;}
		.ui-accordion-header:first-letter{
				text-transform:uppercase;}
		.ui-accordion-header-active, .ui-accordion-content-active{
			border:1px solid #7fdbf9;} 
		.ui-accordion-header-active{
			border-top-left-radius:30px;
			border-top-right-radius:30px;
			border-bottom:none;}
        .ui-accordion-header-active{
				outline:none;
				color:#7fdbf9;}	     
	    .ui-accordion-header-active .ui-icon{
				border:3px solid #7fdbf9;}
		
            .ui-icon{
		        left:15px;top:12px;
			    width:15px;
			    height:15px;
			    border:3px solid #747474;}
		
		.ui-accordion-content{
			font-size:1.07em;
			padding:10px;}
		.ui-accordion-content-active{
			border-bottom-left-radius:30px;
			border-bottom-right-radius:30px;
			border-top:none;}
	    

.accord-tabs__card{
	float:left;} 
		
	.accord-tabs__content{
		
	    overflow:hidden;
		text-align:left;}
	.accord-tabs__content--accordion{
		line-height: 1.667;
		font-size:1.07em;}
	.accord-tabs__content--tabs{
		width:320px;
		height:200px;}
	@media(min-width:1100px){
		.accord-tabs__content--tabs{
			width:370px;
			font-size:1.1em;
			line-height: 1.556;}}
    
		
	.accord-tabs__card a{
		display:block;
		margin-top:15px;
	    margin-bottom:15px;
		text-align:center;
		font-size:1.14em;
		color:#7fdbf9;}
	.accord-tabs__card a:first-letter{
		text-transform:uppercase;}
         
	.accord-tabs__icon{
		float:left;
	    display:none;
	    width:100px;
        margin-top:15px;
		padding-left:14px;}
	@media(min-width:1100px){
		.accord-tabs__icon{
		    width:150px;
	        margin-top:35px;
			margin-left:60px;}}
        .accord-tabs__icon img{
		    display:block;
			width:100%;
			height:auto;}				

.tab0,.tab1,.tab2,.tab3{
	position:relative;}
	
.tab0:before, .tab0:after,
.tab1:before, .tab1:after,
.tab2:before, .tab2:after,
.tab3:before, .tab3:after{
	position:absolute;
    right:100%;
	content:'';}
	
.tab0:before, .tab1:before,
.tab2:before, .tab3:before{
	border:20px solid transparent;
	border-right-color:#41c9f6;}

.tab0:after, .tab1:after,
.tab2:after, .tab3:after{
	border:18px solid transparent;
	border-right-color:#fff;}

.tab0:before{
	top:38px;}	
.tab0:after{
	top:40px;}		
.tab1:before{
	top:80px;}
.tab1:after{
	top:82px;}	
.tab2:before{
	top:140px;}
.tab2:after{
	top:142px;}
.tab3:before{
	top:190px;}
.tab3:after{
	top:192px;}	
	
@media(min-width:1100px){
    .tab0:before{
	    top:60px;}	
    .tab0:after{
	    top:62px;}		
    .tab1:before{
	    top:103px;}
    .tab1:after{
	    top:105px;}	
    .tab2:before{
	    top:140px;}
    .tab2:after{
	    top:142px;}
    .tab3:before{
	    top:182px;}
    .tab3:after{
	    top:184px;}}	



	


/*accrd-tabs end*/	