@charset "utf-8";
@font-face {
	font-family: 'proxima_nova';
	src: url('../fonts/proximanova-light.eot');
	src: url('../fonts/proximanova-light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/proximanova-light.woff') format('woff'),
		 url('../fonts/proximanova-light.ttf') format('truetype'),
		 url('../fonts/proximanova-light.svg#proxima_novalight') format('svg');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova';
	src: url('../fonts/proximanova-regular.eot');
	src: url('../fonts/proximanova-regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/proximanova-regular.woff') format('woff'),
		 url('../fonts/proximanova-regular.ttf') format('truetype'),
		 url('../fonts/proximanova-regular.svg#proxima_novaregular') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova';
	src: url('../fonts/proximanova-semibold.eot');
	src: url('../fonts/proximanova-semibold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/proximanova-semibold.woff') format('woff'),
		 url('../fonts/proximanova-semibold.ttf') format('truetype'),
		 url('../fonts/proximanova-semibold.svg#proxima_novasemibold') format('svg');
	font-weight: 600;
	font-style: normal;
}
*{  margin:0px;
	padding:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;}

.header__top, .nav-menu__btn,
.nav-menu__list, .single-slider__control,
.advantages__descr, .advantages__body, 
.service,.personal__control,.feedback__body,
.reviews__control, .footer__wr,
.warning__container, .cln-why, 
.contacts__container, .contacts-box, 
.service__head, .service__item{
	display:-webkit-box;
    display:-ms-flexbox;
           display:flex;}


.page{
	font-family: 'Calibri', sans-serif;
	font-family: 'proxima_nova', sans-serif;
	font-size:14px;
	font-weight:400;}

    .page__title{
	    display:block;
	    text-align:center;
	    font-size:1.7em;
		font-weight:400;
		color:#474747;}	
	.page__title:first-letter{
		text-transform:uppercase;}	
	@media(min-width:750px){
		.page__title{
			font-size:1.85em;}}
			
	.page__quotes:before, .page__quotes:after{
		display:inline;}
	.page__quotes:before{
		content:'\00AB';}
	.page__quotes:after{
		content:'\00BB';}
		
	.page-mark{
		display:inline;
		color:#00b7f4;}	
		
.pointer{
	position:relative;
	padding-left:15px;}
.pointer::before{
	display:inline-block;
    content:'';
	position:absolute;
	top:0;left:0;
	width:6px;
	height:9px;
	background:url('../img/marker.png');
	background-size:100% 100%;}
	
.btn{
	display:block;
	outline:none;
	border:none;
	cursor:pointer;
	border-radius:30px;}
    .btn__bg-1{
	    background:#00b7f4;
	    color:#fff;}
    .btn__bg-1:hover{
		background-image: -moz-linear-gradient( -90deg, rgb(77,211,255) 0%, rgb(87,188,246) 100%);
        background-image: -webkit-linear-gradient( -90deg, rgb(77,211,255) 0%, rgb(87,188,246) 100%);
        background-image: -ms-linear-gradient( -90deg, rgb(77,211,255) 0%, rgb(87,188,246) 100%);
        box-shadow: 0px 2px 1.96px 0.04px rgba(1, 1, 1, 0.2);}		
    .btn__bg-2{
		position:relative;
	    background:#fff;
        border:1px solid #00b7f4;
		font-weight:200;
	    color:#00b7f4;}	
	.btn__bg-2::after{
		display:block;
		content:'';
		position:absolute;
		bottom:10px; left:50%;
		margin-left:-50px;
		height:0px;
		width:100px;
		background:#00b7f4;}	

	.color-square{
		border:2px solid #23c5fa;}	
		
	.full-color-box{
		border-radius: 20px;
        background-image: -moz-linear-gradient( 90deg, rgb(0,183,244) 0%, rgb(62,208,255) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(0,183,244) 0%, rgb(62,208,255) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(0,183,244) 0%, rgb(62,208,255) 100%);}
		
.header{} 
    
	.header__top{
		max-width:750px;
		 -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
           -ms-flex-direction:column;
               flex-direction:column;}
		@media(min-width:750px){
		    .header__top{
			    padding-top:10px;
			    padding-bottom:15px;
			    margin:0px auto;
			    -webkit-box-orient:horizontal;
                 -webkit-box-direction:normal;
                       -ms-flex-direction:row;
                           flex-direction:row;
			             -ms-flex-wrap:nowrap;
                             flex-wrap:nowrap;
			        -webkit-box-align: center;
                       -ms-flex-align: center;
                          align-items: center;}}
		@media(min-width:1100px){
		    .header__top{
			    max-width:1200px;}}
			
		
	    .header__item{}
		    @media(min-width:750px){
				.header__item{
					-ms-flex-positive: 1;
						   -webkit-box-flex:1;
                                flex-grow: 1;}}
					
		    .header__btn{
				display:block;
				width:215px;
				margin:0px auto;
			    padding-top:5px;
				padding-bottom:5px;
				border-radius:30px;
				line-height: 1.875;
				font-family:'proxima_nova', san-serif;
				font-size:1.14em;
				font-weight:200;}
			@media(min-width:750px){
				.header__btn{
					margin:17px auto 0 auto;}}
    
	.logo{
		width:250px;
		padding:15px 0;
		margin:0 auto;
		text-align:center;
		line-height: 1.5;
		font-size:1.42em;
		color:#fff;}
	 	
	    .logo img{
	        display:block;
	        width:100%;
	        height:auto;}
    
        .logo a{
	        display:block;}	
		
	    .phone,.work{
			display:block;
			text-align:center;}
	    .phone{
			font-size:1.57em;
			font-weight:600;
			line-height: 1;
			color:#00b7f4;}
		@media(min-width:1100px){
			.phone{
				font-size:1.71em;}}
		.phone--color-type1{
			color:#fff;}
		.work{
			margin-top:5px;
			margin-bottom:10px;
			font-size:1.14em;
			font-weight:200;
			line-height: 1;
			color:#919191;}
	
	.adress{
		padding-top:10px;
		padding-bottom:15px;}
	@media(min-width:750px){
		.adress{
			padding-top:0px;
		    padding-bottom:0px;}}
					
	.city, .email{
		display:block;
		text-align:center;
		line-height: 1.875;
		font-size:1.14em;
		color:#474747;}
	.city--color-type1, .email--color-type1{
		color:#fff;}
	@media(min-width:1100px){
		.city, .email{
			font-size:1.28em;}
		.email{
		    font-size:1.14em;
			line-height:1;}}	
		
	.adress__city, .adress__email{
		display:none;}
	@media(min-width:750px){
		.adress__city, .adress__email{
		    line-height:1;
			display:block;}
	    .adress__email{
	        margin-top:9px;}}
	@media(min-width:1100px){
		.adress__email{
			font-weight:400;}}
	
	
	.header__nav{
		background:#f4f4f4;}
	
.nav-menu,.nav-menu__list{
	list-style-type:none;}
	
.nav-menu{
	position:relative;
	color:#474747;}
	
	.nav-menu__btn{
		-webkit-box-pack: center;
		 justify-content: center;
           -ms-flex-pack: center;
		padding-top:10px;
		padding-bottom:10px;
		cursor:pointer;}
		@media(min-width:750px){
			.nav-menu__btn{
				display:none;}}
				
	.nav-menu__btn--active{
		background:#00b7f4;}
	    
		.nav-menu__icon{
			position:relative;
			width:30px;
			height:30px;
			border:2px solid #474747;
	        border-radius:50%;}
		
		.nav-menu__icon::after, .nav-menu__icon::before{
		    display:block;
			position:absolute;
			left:6px;
			content:'';
			width:14px;}			
		.nav-menu__icon::after{
			top:6px;
			border-top:2px solid #474747;}
		.nav-menu__icon::before{
			top:12px;
			height:4px;
			border-top:2px solid #474747;
			border-bottom:2px solid #474747;}
		.nav-menu__icon--active{
		    border:2px solid #fff;}
		.nav-menu__icon--active::after{
		    border-top:2px solid #fff;}
		.nav-menu__icon--active::before{
		    border-top:2px solid #fff;
			border-bottom:2px solid #fff;}
		
		.nav-menu__name{
			margin-left:14px;
			-ms-flex-item-align:center;
             -ms-grid-row-align:center;
                     align-self:center;
			font-size:1.57em;
	        text-transform:uppercase;}
		.nav-menu__name--active{
			color:#fff;}
	
	.nav-menu__body{
		max-width:750px;
		position:absolute;
		margin:0px auto;
		width:100%;
	    text-align:center;
		background:#f4f4f4;
		z-index:9999;}
	@media(min-width:750px){
		.nav-menu__body{
			position:relative;}}
	@media(min-width:1100px){
		.nav-menu__body{
			position:relative;
			max-width:1200px;}}
	.nav-menu__body--active{
		display:block;}
	.nav-menu__body--off{
		display:none;}
		@media(min-width:750px){
			.nav-menu__body--off{
				display:block;}}
	    
		.nav-menu__list{
			-webkit-box-direction:normal;
			-webkit-box-orient:vertical;
            -ms-flex-direction:column;
            flex-direction:column;}
		    @media(min-width:750px){
				.nav-menu__list{
					-webkit-box-orient:horizontal;
                     -webkit-box-direction:normal;
                           -ms-flex-direction:row;
                               flex-direction:row;}}
			
			.nav-menu__item{}
			    @media(min-width:750px){
				    .nav-menu__item{
						-ms-flex-positive: 1;
						   -webkit-box-flex:1;
                                flex-grow: 1;}}    
			
			.nav-menu__link{
				display:block;
				padding-top:10px;
				padding-bottom:10px;
				text-decoration:none;
				text-transform:capitalize;
				font-size:1.28em;
				color:#474747;}
					.nav-menu__link:hover{
						background:#00b7f4;
						color:#fff;}}

.main{}
.main-section{
	min-width:320px;
	max-width:750px;
	margin:0px auto;
	padding-left:15px;
	padding-right:15px;}
	@media(min-width:780px){
		.main-section{}}
	@media(min-width:1100px){
		.main-section{
			max-width:1200px;}}
    
	.main__contacts{
		margin-top:15px;}
	@media(min-width:750px){
		.main__contacts{
		    margin-top:25px;}}
	@media(min-width:1100px){
		.main__contacts{
		    margin-top:35px;}}
			
	.main__info-box{
		margin-top:15px;}
	@media(min-width:750px){
		.main__info-box{
		    margin-top:25px;}}
	@media(min-width:1100px){
		.main__info-box{
		    margin-top:35px;}}		
	
.single-slider{
		position:relative;}
		
	.single-slider__control{
		     -webkit-box-pack: justify;
                -ms-flex-pack: justify;
        justify-content: space-between;
		position:absolute;
		padding-left:15px;
		padding-right:15px;
		bottom:15px;
		z-index:1;
		width:100%;}
		@media(min-width:450px){
			.single-slider__control{
				width:300px;
				left:50%;
				margin-left:-150px;
				padding-left:0px;
				padding-right:0px;}}
		@media(min-width:750px){
			.single-slider__control{
				width:600px;
				left:50%;bottom:30px;
				margin-left:-300px;
				padding-bottom:20px;}}
		@media(min-width:1100px){
			.single-slider__control{
				width:1000px;
				left:50%; 
				margin-left:-500px;}}
		
		.single-slider__arrow-left,.single-slider__arrow-right{
			width:40px;height:30px;
			cursor:pointer;}
            @media(min-width:1100px){
				.single-slider__arrow-left,.single-slider__arrow-right{
				    width:60px;height:50px;}}					
        
		.single-slider__arrow-left{
			background:url('../img/back.png');
			background-size:cover;
			background-position:center center;}
        
		.single-slider__arrow-right{
			background:url('../img/next.png');
			background-size:cover;
			background-position:center center;}		
			
    .single-slider__body{}
        
		.single-slider__item{
			padding-top:25%;
			padding-right:15px;
			padding-bottom:25%;
			padding-left:15px;
			background:#6c90a4;
	        background:url('../img/slider-topbg320.png')no-repeat;
			background-size:cover;
			background-position:center center;}
			@media(min-width:400px){
				.single-slider__item{
					padding-top:20%;
					padding-bottom:20%;
					background:url('../img/slider-topbg750.png')no-repeat;
					background-size:cover;
					background-position:center center;}}
			@media(min-width:750px){
				.single-slider__item{
					padding-top:15%;
					padding-bottom:15%;
					background:url('../img/slider-topbg960.png')no-repeat;
					background-size:cover;
					background-position:center center;}}
		    
			.single-slider__descr{
				display:block;
				margin:0px auto;
				text-align:center;
				text-transform:uppercase;
				line-height: 1.5;
				font-size:1.4em;
				color:#fff;}
				@media(min-width:750px){
			        .single-slider__descr{
				        max-width:750px;
				        margin:0px auto;
						font-size:1.7em;}}
				@media(min-width:1100px){
			        .single-slider__descr{
				        max-width:960px;
				        margin:0px auto;
						line-height: 1.667;
						font-size:2.1em;}}
	
.service{
     -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
       -ms-flex-direction:column;
           flex-direction:column;
		   
    -webkit-box-align:center;
       -ms-flex-align:center;
          align-items:center;
		  
	padding-top:10px;
	padding-right:15px;
	padding-left:15px;
	padding-bottom:40px;}
	@media(min-width:1100px){
		.service{
			-webkit-box-orient:horizontal;
             -webkit-box-direction:normal;
                   -ms-flex-direction:row;
                       flex-direction:row;
			   -webkit-box-align: stretch;
                  -ms-flex-align: stretch;
                     align-items: stretch; 
					 
                -webkit-box-pack: justify;
                   -ms-flex-pack: justify;
            justify-content:space-between;}}
    
	.service__item{
		width:100%;
		max-width:400px;
		min-width:290px;
		margin-top:15px;
		
		flex-direction:column;}
	@media(min-width:750px){
		.service__item{
			margin-top:20px;
			max-width:750px;}}
	@media(min-width:1100px){
		.service__item{
			max-width:320px;}}
	
	.service__head{
		-webkit-box-align:center;
           -ms-flex-align:center;
              align-items:center;
		
		height:80px;
		text-transform:uppercase;
		letter-spacing:2px;}
	@media(min-width:750px){
		.service__head{
			height:60px;}}
	@media(min-width:1100px){
		.service__head{
			height:112px;
	        font-size:1.8em;}}	
		
	.service__head span{
		display:block;
		width:100%;
		text-align:center;}
	
	.service__body{
		flex:1 1 auto;}
	
	.service__list{
		padding:10px 10px;
		list-style-type:none;}
	@media(min-width:750px){
		.service__list{
			padding:15px 20px 15px 20px}}
	@media(min-width:1100px){
		.service__list{
			padding:20px 25px;}}
			
	.service__list .pointer:before{
		top:8px;}		
			    
		.service__string{
			padding-left:15px;
			line-height: 1.625;	
			font-size:1.14em;
			color:#474747;}
		@media(min-width:750px){
			.service__string{
				margin-left:10px;
				display:inline-block;
				vertical-align:top;
				width:48%;}}
		@media(min-width:1100px){
			.service__string{
				display:block;
				margin-left:0px;
				padding-left:25px;
				width:100%;}}
			.service__string:first-letter{
		        text-transform:uppercase;}
			.service__string--uppercase{
				text-transform:uppercase;}
	
	.service-box{
		font-size:1rem;}
		.service-box__head{	 
			background:#00b7f4;
			background-image: -moz-linear-gradient( 90deg, rgb(0,183,244) 0%, rgb(62,208,255) 100%);
            background-image: -webkit-linear-gradient( 90deg, rgb(0,183,244) 0%, rgb(62,208,255) 100%);
            background-image: -ms-linear-gradient( 90deg, rgb(0,183,244) 0%, rgb(62,208,255) 100%);
			line-height:1.4;
		    font-size:1.6em;
			color:#fff;}
		@media(min-width:1100px){
			.service-box__head{
				font-size:1.8em;}}
	    
		.service-box__body{
			border:2px solid #00b7f4;
			border-top:none;}
		    
			
					
.description{
	padding-bottom:20px;
	background:#f9f9f9;
	color:#474747;}
    @media(min-width:1100px){
		.description{
			padding-bottom:35px;}}
    
	.description__title, .description__text{
		margin:0px auto;}	
    
	.description__title{
		padding-top:20px;
		padding-bottom:20px;
		text-align:center;}	
	.description__title::first-letter{
		text-transform:uppercase;}	
	@media(min-width:750px){
		.description__title{
			line-height: 1.733;}}
	@media(min-width:1100px){
		.description__title{
			padding-top:30px;
			padding-bottom:28px;}}
    
	.description__text{
		line-height: 1.733;
		text-align:justify;
		font-size:1.07em;}
    @media(min-width:500px){
		.description__text{
			text-align:center;}}			
    @media(min-width:750px){
		.description__text{
			line-height: 1.444;
			font-size:1.28em;}}		

.advantages{
	padding-bottom:30px;}
	@media(min-width:750px){
		.advantages{
			padding-top:5px;}}
	@media(min-width:1100px){
		.advantages{
			padding-top:20px;}}
			
	.advantages__body{
		-webkit-box-direction:normal;
		 -webkit-box-orient:vertical;
           -ms-flex-direction:column;
               flex-direction:column;
		-webkit-box-align:center;
           -ms-flex-align:center;
              align-items:center;}
	@media(min-width:750px){
		.advantages__body{
			-webkit-box-orient:horizontal;
             -webkit-box-direction:normal;
                   -ms-flex-direction:row;
                       flex-direction:row;}}
    
	.advantages__title{
		padding-top:15px;
		padding-bottom:15px;}
		@media(min-width:750px){
			.advantages__title{
				padding-top:20px;
		        padding-bottom:20px;}}
	
	.advantages__logo{}
	    @media(min-width:750px){
			.advantages__logo{
				-ms-flex-positive: 1;
				  -webkit-box-flex:1;
                        flex-grow: 1;
				align-self:center;
				margin-right:45px;}}
		@media(min-width:750px){
			.advantages__logo{
				-ms-flex-positive: 1;
				  -webkit-box-flex:1;
                        flex-grow: 1;
				align-self:center;
				margin-right:45px;}}
	    
		.advantages__icon{
			display:block;
			margin:15px auto;}
		@media(min-width:1100px){
			.advantages__icon{
				width:135px;
				height:150px;}}
		
		.advantages__text{
			display:block;
			text-align:center;
			font-size:1.1em;
			color:#474747;}
		@media(min-width:1100px){
			.advantages__text{
				font-size:1.5em;}}
		.advantages__text--blue{
			color:#00b7f4;}
	
	.advantages__descr{
		position:relative;
	    webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
		-ms-flex-wrap: wrap;
            flex-wrap: wrap;
		    
        -webkit-box-pack: space-evenly;
           -ms-flex-pack: space-evenly;
         justify-content: space-evenly;

		width:100%;
		max-width:320px;
		min-width:290px;
		margin-top:60px;
		padding-top:10px;
		padding-bottom:10px;
		border-radius:15px;
		border:1px solid #00b7f4;}
	@media(min-width:380px){
		.advantages__descr{
			max-width:420px;
			min-width:350px;}}
	@media(min-width:750px){
		.advantages__descr{
			margin-top:0px;
			max-width:380px;
			-ms-flex-positive: 0;
			  -webkit-box-flex:0;
                    flex-grow: 0;}}
	@media(min-width:1100px){
		.advantages__descr{
			margin-top:10px;
			max-width:570px;}}
		
		
	    .advantages__descr:before, .advantages__descr:after{
			display:block;
			position:absolute;
			content:'';}
		.advantages__descr:before {
			left:50%;bottom:100%;
			margin-left:-49px;
	        border:49px solid transparent;
	        border-bottom-color:#00b7f4;}
		.advantages__descr:after {
			left:50%; bottom:100%;
			margin-left:-48px;
	        border:48px solid transparent;
	        border-bottom-color:#fff;}
		@media(min-width:750px){
			.advantages__descr:before {
			    left:0%;bottom:50%;
				margin-left:-98px;
				margin-bottom:-49px;
	            border:49px solid transparent;
	            border-right-color:#00b7f4;}
		    .advantages__descr:after {
			    left:0%; bottom:50%;
			    margin-left:-96px;
				margin-bottom:-48px;
	            border:48px solid transparent;
	            border-right-color:#fff;}}
		
		.advantages__item{
			width:100%;
			max-width:110px;
			margin-top:15px;
			text-align:center;}
		@media(min-width:1100px){
			.advantages__item{
				margin-top:15px;
				margin-bottom:15px;
			    max-width:150px;}}
		
		.advantages__img{
			display:block;
			width:60px;
			margin:0px auto;}
		@media(min-width:380px){
			.advantages__img{
			   height:70px;}}
		@media(min-width:1100px){
			.advantages__img{
				width:85px;
				height:100px;}}
		.advantages__img>img{
			display:block;
			width:100%;
			height:auto;}
		
		
		.advantages__item>span{
			display:inline-block;
            margin-top:10px;
			font-weight:600;
			color:#474747;}
		@media(min-width:1100px){
			.advantages__item>span{
				font-size:1.28em;
				font-weight:400;
				width:140px;}}
	
    .advantages--bordernone{}
	.advantages--bordernone .advantages__descr{
		margin-top:0;
		margin-left:auto;
		margin-right:auto;
		padding:0;
		border:none;}				
	.advantages--bordernone .advantages__descr:before,
	.advantages--bordernone .advantages__descr:after{
		display:none;
		content:none;}	
	@media(min-width:750px){
		.advantages--bordernone .advantages__descr{
			margin-top:0px;
			max-width:670px;}}
	@media(min-width:1100px){
		.advantages--bordernone .advantages__descr{
			max-width:1024px;}}	
			
	
	.advantages--page-center, .advantages--big{
		margin-top:25px;}
	@media(min-width:750px){
		.advantages--page-center, .advantages--big{
		    margin-top:50px;}}
	@media(min-width:750px){
		.advantages--page-center, .advantages--big{
		    margin-top:60px;}}
	
	.advantages--big{
		background:#f8fdfe;} 		
    
	.advantages--big .advantages__body{
		display:block;}
		
	.advantages--big .advantages__title{
		padding:0;
		max-width:290px;
		margin-left:auto;
		margin-right:auto;
		margin-top:20px;
		margin-bottom:15px;}	
    @media(min-width:480px){
	.advantages--big .advantages__title{
		max-width:none;}}		
	
	.advantages--big .advantages__item{
		max-width:120px;} 
	
	.advantages--big .advantages__item span{
		font-size:16px;
		font-weight:400;
		max-width:120px;}
	@media(min-width:750px){
		.advantages--big .advantages__item{
			width:25%;
			max-width:none;}
		.advantages--big .advantages__item span{
			font-size:18px;
			font-weight:400;
			max-width:120px;}	
	    .advantages--big .advantages__img{
			display:flex;
			 -webkit-box-align:center;
                -ms-flex-align:center;
                   align-items:center;
			  -webkit-box-pack:center;
			     -ms-flex-pack:center;
			   justify-content:center;
		    width:90px;
			height:100px;}
		.advantages--big .advantages__img img{
		    width:auto;
			height:auto;}}
	@media(min-width:1100px){
		.advantages__item{
			margin-top:15px;
			margin-bottom:15px;
			max-width:150px;}
		.advantages--big .advantages__item span{
			font-size:18px;
			max-width:220px;}}
	
	.advantages--page-center .advantages__descr .advantages__item{
		width:50%;
		max-width:none;
		margin-top:20px;}
		
	@media(min-width:750px){
		.advantages--page-center .advantages__descr .advantages__item{
		    width:25%;}}
	
	.advantages--page-center .advantages__item span{
	    font-size:13px;
		max-width:130px;}
	@media(min-width:750px){
		.advantages--page-center .advantages__descr .advantages__item span{
			max-width:140px;
		    font-size:14px;}}
	@media(min-width:1100px){
		.advantages--page-center .advantages__descr .advantages__item span{
			width:160px;
			max-width:none;
		    font-size:16px;}}
	
	.advantages--page-center .advantages__img{
		width:90px;
		height:110px;}
	
.personal{
	padding-top:15px;
	background:#f8fdfe;}
	@media(min-width:750px){
		.personal{
			padding-top:20px;}}
	@media(min-width:1100px){
		.personal{
			padding-bottom:50px;}}
	
	.personal__title, .personal__descr{
		display:block;
		text-align:center;} 
	.personal__title:first-letter,.personal__descr:first-letter{
		text-transform:uppercase;} 
	
	.personal__title{
		line-height: 1.167;
		font-size:1.7em;}
	    @media(min-width:1100px){
		    .personal__title{
				font-size:1.85em;
				line-height: 1.154;}}
				
	.personal__descr{
		padding-top:20px;
		padding-bottom:20px;
		line-height: 1.7;
		color:#474747;}
	@media(min-width:750px){
		.personal__descr{
			line-height: 1.5;
			font-size:1.14em;}}
	@media(min-width:1100px){
		.personal__descr{
			line-height: 1.444;
			font-size:1.28em;}}
	
	.personal__body{
		position:relative;}
	    
		.personal__control{
			     -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
            justify-content: space-between;
			width:53px;
			padding-top:25px;
			padding-bottom:25px;
			margin:0px auto;}
	    @media(min-width:1100px){
		    .personal__control{
				position:absolute;
				top:40%;left:0;
				width:100%;
				height:0;}}
		    
			.personal__arrow-left, .personal__arrow-right{
				width:19px;height:36px;
				cursor:pointer;} 
			@media(min-width:1100px){
				.personal__arrow-left, .personal__arrow-right{
					position:absolute;
					width:38px;height:70px;}}
			
			.personal__arrow-left{
				background:url('../img/personal__back1100.png') no-repeat;
				background-size:cover;
				background-position:center center;}
			.personal__arrow-left:hover{
				background:url('../img/personal__back1100-hover.png') no-repeat;
				background-size:cover;
				background-position:center center;}   
			@media(min-width:1100px){
			    .personal__arrow-left{
					left:0;}}
			
            .personal__arrow-right{
			    background:url('../img/personal__next1100.png') no-repeat;
				background-size:cover;
				background-position:center center;} 
			.personal__arrow-right:hover{
			    background:url('../img/personal__next1100-hover.png') no-repeat;
				background-size:cover;
				background-position:center center;}
            @media(min-width:1100px){
				.personal__arrow-right{
					right:0;}}                
				
		.personal__slider-body{}
		
			.personal__item{
				color:#474747;}
			   
			   .personal__item>img{
					display:block;
					width:100%;
					max-width:200px;
					margin:0px auto;
					height:auto;}
			    
				.personal__name, .personal__profession{
					display:block;
					text-align:center;}
			    
				.personal__name{
					margin-top:16px;
					margin-bottom:16px;
					text-align:center;
					line-height: 1.301;
					font-size:1.4em;}
				@media(min-width:1100px){
					.personal__name{
						line-height: 1.182;
						font-size:1.57em;}}
				
				.personal__profession{
					max-width:230px;
					margin:0px auto;}
				@media(min-width:1100px){
					.personal__profession{
						font-size:1.14em;}}

	
    .attention{
		max-width:480px;
		margin:0 auto;
		background:url('../img/exclamation.png')no-repeat;
		background-position:center center;}
	@media(min-width:750px){
		.attention{
			max-width:none;
		    background:none;}}
	@media(min-width:1100px){
		.attention{
		    padding-left:32px;}}
		
		.attention:after{
		    display:block;
			content:'';
			clear:both;}
		
		.attention__logo{
			display:none;
			float:left;
			background:url('../img/exclamation.png')no-repeat;
		    background-position:center center;}
		@media(min-width:750px){
		    .attention__logo{
				margin-top:45px;
			    width:95px; height:180px;
		        display:block;}}
		
		.attention__descr{}
		@media(min-width:750px){
		    .attention__descr{
				max-width:960px;
				padding-top:20px;
			    margin-left:95px;}}
	        
			.attention__text{
				padding:15px 0;
				font-size: 16px;
                line-height: 1.563;
				color:#474747;}
			@media(min-width:750px){
		        .attention__text{
			       padding:20px 0;
				   font-size:18px;}}
			@media(min-width:1100px){
		        .attention__text{
			        font-size:20px;}}
			
.feedback{
	margin-top:20px;
	background:#f48e25;}}
	
    .feedback--home{
		background:url('../img/feedback-bg320.png')no-repeat;
	    background-size:cover;
        background-position:center center;}	
	
	@media(min-width:400px){
		.feedback--home{
			background:url('../img/feedback-bg400.png')no-repeat;
			background-size:cover;
		    background-position:center center;}}
	@media(min-width:750px){
		.feedback--home{
			background:url('../img/feedback-bg750.png')no-repeat;
			background-size:cover;
		    background-position:center center;}}
			
	.feedback--category{
		background:url('../img/feedbackCategory320.png')no-repeat;
	    background-size:cover;
        background-position:center center;}
	@media(min-width:400px){
		.feedback--category{
			background:url('../img/feedbackCategory400.png')no-repeat;
			background-size:cover;
		    background-position:center center;}}
	@media(min-width:750px){
		.feedback--category{
			background:url('../img/feedbackCategory1100.png')no-repeat;
			background-size:cover;
		    background-position:center center;}}
		
	.feedback--page-center{
		background:url('../img/feedbackPage-center320.png')no-repeat;
	    background-size:cover;
        background-position:center center;}
	@media(min-width:400px){
		.feedback--page-center{
			background:url('../img/feedbackPage-center750.png')no-repeat;
			background-size:cover;
		    background-position:center center;}}
	@media(min-width:750px){
		.feedback--page-center{
			background:url('../img/feedbackPage-center1100.png')no-repeat;
			background-size:cover;
		    background-position:center center;}}
			
	.feedback--relative{
		margin-top:150px;
		background:url('../img/feedbackRelative320.png')no-repeat;
	    background-size:cover;
        background-position:center center;}
	@media(min-width:400px){
		.feedback--relative{
			background:url('../img/feedbackRelative750.png')no-repeat;
			background-size:cover;
		    background-position:center center;}}
	@media(min-width:750px){
		.feedback--relative{
			background:url('../img/feedbackRelative1100.png')no-repeat;
			background-size:cover;
		    background-position:center center;}}
	@media(min-width:1100px){
		.feedback--relative{
			margin-top:200px;}}
    
	.feedback__body{
	    -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
           -ms-flex-direction: column;
               flex-direction: column;
	    -webkit-box-align:center;
           -ms-flex-align:center;
              align-items:center;
		padding-top:15px;
		color:#fff;}
		@media(min-width:750px){
			.feedback__body{
				-webkit-box-orient: horizontal;
                 -webkit-box-direction: normal;
                       -ms-flex-direction: row;
                           flex-direction: row;
			    -webkit-box-align:start;
                -ms-flex-align:start;
                align-items:flex-start;}}
        @media(min-width:1100px){
			.feedback__body{
		        width:900px;}}						   
		
		.feedback__descr{
			-ms-flex-positive: 1;
			  -webkit-box-flex:1;
                    flex-grow: 1;}
		@media(min-width:750px){
			.feedback__descr{
				margin-top:50px;}}
		   
		    .feedback__title{
				display:block;
				padding:12px 0;
				line-height: 1.391;
				font-size:1.64em;}
			    @media(min-width:1100px){
					.feedback__title{
						padding-top:15px;
				        padding-bottom:15px;
						line-height: 1.231;
						font-size:1.85em;}}
			
			.feedback__text{
				max-width:280px;
				line-height: 1.667;
				font-weight:200;}
				.feedback__text:first-letter{
					text-transform:uppercase;}
			@media(min-width:750px){
					.feedback__text{
						max-width:340px;
						line-height: 1.588;
						font-size:1.21em;}}
				@media(min-width:1100px){
					.feedback__text{
						max-width:450px;
						line-height: 1.5;
						font-size:1.42em;}}
		
		.feedback__form{
			width:280px;
			min-width:280px;
			-ms-flex-positive:0;
			 -webkit-box-flex:0;
                   flex-grow: 0;}
		@media(min-width:1100px){
			.feedback__form{
				width:320px;}}
		    
			.feedback input,.feedback label{
		        display:block;
		        outline:none;
				font-size:1.28em;}
			
			.feedback__label{
				line-height:1;
				margin-top:15px;
				margin-bottom:7px;
				margin-left:20px;}
		    
			.feedback__input{
				width:100%;
				padding:5px 15px;
	            border-radius: 16px;
				border:2px solid #f4f4f4;
				font-family:'proxima_nova';
				font-weight:400;}
			
			.feedback__input:focus{
				border-color:#7fdbf9;}
			
			.feedback__phone{
				text-align:left;}
				
			.feedback__btn{
				width:190px;
				padding-top:5px;
				padding-right:10px;
				padding-bottom:5px;
				padding-left:8px;
				margin-top:30px;
				margin-right:auto;
				margin-bottom:37px;
				margin-left:auto;
				line-height: 1.765;
				font-weight:200;
				font-size:1.2em;
				color:#fff;
				cursor:pointer;}
			@media(min-width:1100px){
				.feedback__btn{
					width:260px;}}

.reviews{
	color:#474747;
	}
    @media(min-width:750px){
		.reviews{
			padding-left:0;
			padding-right:0;}}
	@media(min-width:1100px){
	    .reviews{
			position:relative;}}
    
	.reviews__title{
		display:block;
		padding-top:25px;
		padding-bottom:25px;
		line-height: 1.391;
		text-align:center;
		font-size:1.6em;}
    
	.reviews__body{
		max-width:750px;
		margin:0px auto;}
		@media(min-width:1100px){
			.reviews__body{
				max-width:1000px;}}		
		
		.reviews__text{
			display:block;
			max-width:400px;
			padding-top:15px;
			padding-right:10px;
			padding-bottom:15px;
			padding-left:10px;
			margin:0px auto;
			border:1px solid #00b7f4;
			border-radius:30px;
			line-height: 1.714;}
		@media(min-width:750px){
			.reviews__text{
				padding:15px;
				max-width:340px;}}
		@media(min-width:1100px){
			.reviews__text{
				padding:15px 30px;
				max-width:480px;}}
    
	.reviews__control{
		     -webkit-box-pack:justify;
                -ms-flex-pack:justify;
        justify-content:space-between;
		margin-top:30px;
		margin-right:auto;
		margin-bottom:30px;
		margin-left:auto;
		width:140px;}
		@media(min-width:1100px){
			.reviews__control{
				display:block;
				position:absolute;
				top:55%;left:50%;
				width:1100px; height:0px;
				margin-top:0px;
				margin-bottom:0px;
				margin-left:-550px;}}
        
		.reviews__arrow-left, .reviews__arrow-right{
			width:35px;height:30px;
			cursor:pointer;}
			@media(min-width:1100px){
				.reviews__arrow-left, .reviews__arrow-right{
				    position:absolute;}}
        
		.reviews__arrow-left{
			background:url('../img/arrow-back.png');
			background-size:cover;
			background-position:center center;}
		.reviews__arrow-left:hover{
			background:url('../img/arrow-back-h.png');
			background-size:cover;
			background-position:center center;}
		@media(min-width:1100px){
			.reviews__arrow-left{
				left:0px;}}
        
		.reviews__arrow-right{
			background:url('../img/arrow-next.png');
			background-size:cover;
			background-position:center center;}	
		.reviews__arrow-right:hover{
			background:url('../img/arrow-next-h.png');
			background-size:cover;
			background-position:center center;}	
		@media(min-width:1100px){
			.reviews__arrow-right{
				right:0px;}}
	
    
	.top-banner{
		max-height:280px;
		display: -webkit-box;
        display: -ms-flexbox;
               display: flex;
        -webkit-box-pack:center;
           -ms-flex-pack:center;
         justify-content:center;
       -webkit-box-align:center;
          -ms-flex-align:center;
             align-items:center;
	    overflow:hidden;}
	
	.top-banner span{
		text-transform: uppercase;
		font-size:1.428571428571429rem;
		line-height: 1.455;
		font-weight:bold;
		color:#fff;}
	@media(min-width:750px){
		.top-banner span{
			font-size:1.714285714285714rem;}}
	@media(min-width:1100px){
		.top-banner span{
			font-size:2.142857142857143rem;}}
	
	.top-banner--relative span{
		width:60%;
		text-align:center;}
	@media(min-width:750px){
		.top-banner--relative span{
			width:100%;}}
	
	
	.top-banner:before{
		display:block;
		content:'';
		float:left;
		padding-top:75%;}
	@media(min-width:750px){
	    .top-banner:before{
		    padding-top:50%;}}
	
	@media(min-width:750px){
		.top-banner{
			max-height:340px;}}
			
	.top-banner--category{
		background:url('../img/doctor320.png')no-repeat;
		background-size:cover;}
	@media(min-width:480px){
		.top-banner--category{
			background:url('../img/doctor480.png')no-repeat;
			background-size:cover;}}	
			
	.top-banner--services{
		background:url('../img/services320.png')no-repeat;
		background-size:cover;
		background-position:center center;}
	@media(min-width:480px){
		.top-banner--services{
			background:url('../img/services750.png')no-repeat;
			background-size:cover;
			background-position:center center;}}
	@media(min-width:1100px){
		.top-banner--services{
			background:url('../img/services1100.png')no-repeat;
			background-size:cover;
			background-position:center center;}}	

    .top-banner--page-center{
		background:url('../img/page-centerbg320.png')no-repeat;
		background-size:cover;
		background-position:center center;}	
    @media(min-width:480px){
		.top-banner--page-center{
			background:url('../img/page-centerbg750.png')no-repeat;
			background-size:cover;
			background-position:center center;}}
	@media(min-width:1100px){
		.top-banner--page-center{
			background:url('../img/page-centerbg1100.png')no-repeat;
			background-size:cover;
			background-position:center center;}}	
		
	.top-banner--guarantee{
		background:url('../img/guarantee320.png')no-repeat;
		background-size:cover;
		background-position:center center;}	
    @media(min-width:480px){
		.top-banner--guarantee{
			background:url('../img/guarantee750.png')no-repeat;
			background-size:cover;
			background-position:center center;}}
	@media(min-width:1100px){
		.top-banner--guarantee{
			background:url('../img/guarantee1100.png')no-repeat;
			background-size:cover;
			background-position:center center;}}
    
    .top-banner--contacts{
		background:url('../img/contacts320.png')no-repeat;
		background-size:cover;
		background-position:center center;}	
    @media(min-width:480px){
		.top-banner--contacts{
			background:url('../img/contacts750.png')no-repeat;
			background-size:cover;
			background-position:center center;}}
	@media(min-width:1100px){
		.top-banner--contacts{
			background:url('../img/contacts1100.png')no-repeat;
			background-size:cover;
			background-position:center center;}}	
		
	.cln-description{
		font-size:1.142857142857143rem;
		padding-top:1em;
		color:#474747;}
	@media(min-width:1100px){
		.cln-description{
		font-size:1.285714285714286rem;
		padding:0 2em;}}
		
	.cln-description p{
		font-size:1em;
		margin-top:30px;
		line-height: 1.625;}
	@media(min-width:1100px){
		.cln-description p{
		    line-height: 1.444;}}
	
	.warning{
		padding:15px 15px 25px 15px;
		font-size:1.285714285714286rem;
		background:#f9f9f9;}
	@media(min-width:768px){
		.warning{
			margin-top:25px;
			padding:0 0 30px 0;}}
	@media(min-width:1100px){
		.warning{
			font-size:1.428571428571429rem;}}
	
	.warning__title{
		font-size:1.333333333333333em;
		color:#474747;
		text-align:center;
		padding:15px 0 15px 0;}
		
	.warning__title:first-letter{
		text-transform:uppercase;}
	
	.warning__container{
		max-width:480px;
		margin:0 auto;
		 -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
           -ms-flex-direction:column;
               flex-direction:column;
			   
		-webkit-box-align:center;
           -ms-flex-align:center;
              align-items:center;}
	@media(min-width:768px){
		.warning__container{
			max-width:550px;
			-webkit-box-orient:horizontal;
             -webkit-box-direction:normal;
                   -ms-flex-direction:row;
                       flex-direction:row;
			
			-webkit-box-align:start;
               -ms-flex-align:start;
             align-items:flex-start;
			
			     -webkit-box-pack:justify;
                    -ms-flex-pack:justify;
            justify-content:space-between;
			
			-ms-flex-wrap:wrap;
                flex-wrap:wrap;}}	
	@media(min-width:1100px){
		.warning__container{
			max-width:1024px;}}
	@media(min-width:1200px){
		.warning__container{
			max-width:1140px;}}
		
	.warning__item{
		width:100%;
		margin-top:40px;}
	.warning__item:first-child{
	    margin-top:15px;}	
	@media(min-width:768px){
		.warning__item{
			width:50%;
			margin-top:15px;
			max-width:240px;}
		.warning__item:nth-child(n+3){
		    margin-top:30px;}}			
	@media(min-width:1100px){
		.warning__item{
			width:25%;
			margin-top:0;}
			
		.warning__item:first-child{
	        margin-top:0px;}	
			
		.warning__item:nth-child(n+3){
		    margin-top:0px;}}
	
	.cln-content-card{
		font-size:1em;}
	@media(min-width:768px){
		.cln-content-card{}}
	.cln-content-card::after{
		display:block;
		content:'';
		clear:both;}
		
	.cln-content-card__logo{
		width:19%;
		float:left;
		line-height:1;
		font-size:4.3rem;
		height:60px;
		font-weight:bold;
		text-align:center;
		color:#00b7f4;}
	@media(min-width:768px){
		.cln-content-card__logo{
			text-align:left;}}

	.cln-content-card__descr{
		margin-left:19%;
		color:#474747;}
	
	
	
	.cln-methods{
		margin-top:15px;
		font-size:1.142857142857143rem;}
	@media(min-width:1100px){
		.cln-methods{
			max-width:1024px;
		    font-size:1.285714285714286rem;}}
		
		.cln-methods__title{
			padding:10px 0;}
		
	    .cln-methods__item{
		    font-size:1em;}
		.cln-methods__item:after{
		    display:block;
			content:'';
			clear:both;}
			
		.cln-methods p{
			position:relative;
			padding:10px 0;
			margin-left:19px;
			line-height: 1.627;
			color:#474747;}
		@media(min-width:1100px){
			.cln-methods p{
				line-height: 1.444;}}
		.cln-methods p:before{
		    position:absolute;
			left:-19px; top:17px;
			width:7px;
			height:12px;
			content:'';
			background:url(../img/marker.png)no-repeat;
			background-size:100% 100%;
			color:#00b7f4;}
    
	.text-box{
		font-size:1.285714285714286rem;
		max-width:1140px;
		margin:0 auto;
		padding:0.83em 1em;
		line-height: 1.667;
		text-align:center;}
	@media(min-width:750px){
		.text-box{
		    font-size:1.428571428571429rem;
			padding:0.83em 1.5em;
			line-height: 1.7;}}
	@media(min-width:1100px){
		.text-box{
		    font-size:1.571428571428571rem;
			line-height: 1.636;}}
	.text-box p{
		font-size:1em;
		color:#474747;}
		
	.cln-text-box{
		margin-top:30px;
		margin-bottom:15px;}
	@media(min-width:750px){
		.cln-text-box{
		    margin-top:35px;}}
	@media(min-width:1100px){
		.cln-text-box{
		    margin-top:40px;}}
	
	.cln-why{
		flex-direction:column;}
	@media(min-width:1100px){
		.cln-why{
			flex-direction:row;
			margin-top:15px;}}
			
	    .cln-why:after{
			display:block;
			content:'';
			clear:both;}
	    
		.cln-why-title{
			padding-top:15px;}
		@media(min-width:1100px){
		    .cln-why-title{
			    padding-top:20px;}}
		
	    .cln-why__descr .cln-methods__item p{
			font-size:16px;
			line-height: 1.627;
			padding:5px 0;}
			
		.cln-why__descr .cln-methods__item p:before{
			top:12px;}
			
		@media(min-width:1100px){
			.cln-why__descr{
				margin-left:40px;
				flex-shrink:1;
				order:2;
				margin-top:0;
		        margin-bottom:0;}
				
			.cln-why__descr .cln-methods__item p:before{
			    top:10px;}
				
			.cln-why__descr .cln-methods__item p{
				padding:3px 0 0 0;
				font-size:18px;
			    line-height: 1.444;}}
		
		.cln-why__logo{
			padding-top:15px;}
		@media(min-width:750px){
			.cln-why__logo{
				width:600px;
				margin:0 auto;}}
		@media(min-width:1100px){
			.cln-why__logo{
				padding-top:5px;
				flex-shrink:0;
				width:460px;
				order:1;}}
		    .cln-why__logo img{
			    display:block;
			    width:100%;
			    height:auto;}
	.article{
		padding-top:10px;}	
	.article p{
		font-size:16px;
		line-height: 1.627;
		color:#474747;
		margin:20px 0;}
		
	@media(min-width:1100px){
		.article p{
			margin:15px 0;
			font-size:18px;
			line-height: 1.444;}}
	
	
	.contacts{
		max-width:480px;
		padding:25px 0;
		margin:0 auto;}
	@media(min-width:750px){
		.contacts{
		    max-width:720px;}}
	@media(min-width:1100px){
		.contacts{
			padding:35px 0 20px 0;
		    max-width:none;}}
	
	    .contacts__title{
			min-width:270px;
			padding:0 10px;
			margin:0 auto;
			font-size:18px;
			font-weight:bold;
			text-transform:uppercase;
			line-height: 1.556;
			text-align:center;
		    color:#fff;}
		@media(min-width:425px){
		    .contacts__title{
				font-size:20px;}}
		@media(min-width:750px){
		    .contacts__title{
				width:650px;
				font-weight:normal;
				line-height: 1.417;
		        font-size:24px;}}
		@media(min-width:1100px){
		    .contacts__title{
				width:970px;
		        font-size:26px;
				line-height: 1.385;}}
		
	    .contacts__container{
		    -webkit-box-orient:vertical;
           -webkit-box-direction:normal;
              -ms-flex-direction:column;
                  flex-direction:column;}
	    @media(min-width:750px){
		    .contacts__container{
				width:700px;
				margin:0 auto;
				
		        -webkit-box-orient:horizontal;
                 -webkit-box-direction:normal;
                       -ms-flex-direction:row;
                           flex-direction:row;}}
		@media(min-width:1100px){
		    .contacts__container{
		        width:930px;}}
					
		.contacts__item{
            flex:1 1 auto;}
			
	.contacts-box{
		
		 -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
           -ms-flex-direction:column;
               flex-direction:column;
			   
		     -webkit-box-pack:center;
                -ms-flex-pack:center;
              justify-content:center;
			  
		margin:15px 0;
		height:120px;
		font-size:1rem;
		text-align:center;}
		@media(min-width:768px){
		    .contacts-box{
				height:120px;}}
	    @media(min-width:1100px){
		    .contacts-box{
				height:157px;}}
		
		.contacts-box--bg-phone{
			background:url('../img/telephone.png')no-repeat;
			background-size:110px auto;
			background-position:center center;}
		@media(min-width:1100px){
			.contacts-box--bg-phone{
			    background-size:150px auto;}}

        .contacts-box--bg-adress{
			background:url('../img/hospital-white.png')no-repeat;
			background-size:110px;
			background-position:center center;}
		@media(min-width:1100px){
			.contacts-box--bg-adress{
			    background-size:140px auto;}}

        .contacts-box--bg-email{
			background:url('../img/internet.png')no-repeat;
			background-size:110px;
			background-position:center center;}		
		@media(min-width:1100px){
			.contacts-box--bg-email{
			    background-size:150px auto;}}
	    
		.contacts-box__text{
			font-size:22px;
            line-height: 1.486;
			color:#fff;}
		@media(min-width:750px){
			.contacts-box__text{
			font-size:20px;
            line-height: 1.486;
			color:#fff;}}
		@media(min-width:1100px){
			.contacts-box__text{
			    font-size:22px;}}
			
		.contacts-box__text--small{
			align-self:center;
			max-width:210px;}
		@media(min-width:750px){
			.contacts-box__text--small{
				max-width:190px;}}
		@media(min-width:1100px){
			.contacts-box__text--small{
				max-width:none;}}
			
		.contacts-box__text--bold{
			font-weight:bold;
			font-size:28px;}
		@media(min-width:1100px){
			.contacts-box__text--bold{
			font-size:30px;}}
			
		.contacts-box__text--slim{
			font-size:20px;}
		@media(min-width:750px){
			.contacts-box__text--bold{
			font-size:28px;}}
		@media(min-width:1100px){
			.contacts-box__text--bold{
			font-size:30px;}}
	
    .page-center-article{
		max-width:480px;
		margin:0 auto;}
	@media(min-width:768px){
		.page-center-article{
		    max-width:none;
		    margin:0 auto;}}
	@media(min-width:1100px){
		.page-center-article{
			max-width:1140px;
			margin:0;}}
			
	.page-center-article p{
		line-height: 1.625;}
	@media(min-width:750px){
		.page-center-article p{
		    line-height: 1.556;}}
	@media(min-width:1100px){
		.page-center-article p{
		    margin-top:20px;}}
	
	.cln-info-box{
		font-size:16px;
		padding:0 15px;
		max-width:480px;
		margin:0 auto;
		color:#474747;}	
    @media(min-width:750px){
		.cln-info-box{
			max-width:none;
		    font-size:19px;
			padding:0 30px;}}
    @media(min-width:1100px){
		.cln-info-box{
		    font-size: 21px;
			padding:0 40px;}}			
		
	.cln-info-box p{
		font-size:1em;
		margin:5px 0;
		line-height: 1.667;}
	@media(min-width:750px){
		.cln-info-box p{
			margin:10px 0;}}
    @media(min-width:1100px){
		.cln-info-box p{}}
		
	.cln-info-box ul{
		padding:0 0 15px 0;
		font-size:1em;
		list-style-type:none;}
	@media(min-width:750px){
		.cln-info-box ul{
		    padding:0 0 20px 0;}}
    
        .cln-info-box ul li{
			position: relative;
			margin-left: 19px;
			line-height: 1.667;}	
		    
			.cln-info-box ul li:before {
                position: absolute;
                left: -19px;
                top: 8px;
                width: 7px;
                height: 12px;
                content: '';
                background: url(../img/marker.png)no-repeat;
                background-size: 100% 100%;}
			@media(min-width:750px){
				.cln-info-box ul li:before {
                    top:10px;}}
			@media(min-width:1100px){
				.cln-info-box ul li:before {
                    top:12px;}}
		
	.center-page-description{
		max-width:480px;
		margin:15px 0 10px 0;
		font-size:16px;
		text-align:center;
		margin:15px auto 0 auto;}
	@media(min-width:750px){
		.center-page-description{
			max-width:none;
			margin:25px auto 10px auto;
		    font-size: 18px;}}
	@media(min-width:1100px){
		.center-page-description{
			max-width:1100px;
			margin:35px auto 30px auto;
		    font-size: 20px;}}
		
	.center-page-description p{
		font-size:1em;
		line-height: 1.667;
		color:#474747;}
	@media(min-width:750px){
		.center-page-description p{
	        line-height: 1.556;}}
    @media(min-width:750px){
		.center-page-description p{
	        line-height: 1.4;}}	
	
	.relative-info-box{
		max-width:480px;
		margin:20px auto 0 auto;}
	@media(min-width:750px){
		.relative-info-box{
			max-width:none;
		    margin:30px 0 0 0;}}
	@media(min-width:1100px){
		.relative-info-box{
		    margin:40px 0 0 0;}}
		
	.relative-info-box .service-box__body{
		padding:8px 5px 8px 10px;}	
	@media(min-width:750px){
		.relative-info-box .service-box__body{
		    padding:0 25px 0 25px;}}
	@media(min-width:1100px){
		.relative-info-box .service-box__body{
			padding:12.5px 65px 12.5px 65px;}}
		
	.relative-info-box__text{
		display:block;
		font-size: 14px;
		padding:8px 0;
		color:#474747;
		line-height: 1.429;}
	@media(min-width:750px){
		.relative-info-box__text{
		    font-size: 15px;
			padding:15px 0;
			line-height: 1.667;}}
	@media(min-width:1100px){
		.relative-info-box__text{
		    font-size: 16px;
			padding:12.5px 0;
			line-height: 1.625;}}
	
    .relative-info-box__text--bold{
		font-weight:800;
		color:#383636;}
	
	.relative-info-box .pointer{
		padding-left:15px;}
	
	.relative-info-box__text + .pointer:before{
		top:12px;}
	@media(min-width:750px){
		.relative-info-box__text + .pointer:before{
		    top:23px;}}
	
	.relative-info-box__link{
		color:#03b8f5;}		
			
	.relative-info-box__list{
		font-size:14px;
		display:block;
		padding:8px 0;
		list-style-type:none;}
	
    .relative-info-box__list li{
		font-size:14px;
		line-height: 1.571;} 	
	@media(min-width:750px){
		.relative-info-box__list li{
			font-size:15px;
			line-height: 1.667;}}
	@media(min-width:1100px){
		.relative-info-box__list li{
			margin-left:15px;
			font-size:16px;}}
		
	.relative-info-box__list li:before{
		top:6px;}
	@media(min-width:750px){
		.relative-info-box__list li:before{
		    top:8px;}}
	@media(min-width:1100px){
		.relative-info-box__list li:before{
		    top:9px;}}
	
		
	.relative-info-box .service-box__head{
	    font-size: 15px;
		padding:8px 15px 8px 15px;
		font-weight: bold;
		line-height: 1.533;
		color:#fff;}
    @media(min-width:750px){
		.relative-info-box .service-box__head{
		    font-size: 22px;
			padding:12px 30px 12px 30px;
			line-height: 1.455;}}
    @media(min-width:1100px){
		.relative-info-box .service-box__head{
		    font-size: 24px;
			padding:20px 65px 20px 65px;
			line-height: 1.5;}}			
	
	.guarantee-container{
		max-width:480px;
		margin:0 auto;}
	@media(min-width:750px){
		.guarantee-container{
		    max-width:none;}}
	
	.guarantee-text{
		padding:10px 0;
		font-size: 14px;
        line-height: 1.714;}
	@media(min-width:750px){
		.guarantee-text{
			padding:15px 0;
			font-size: 16px;
            line-height: 1.625;}}
    @media(min-width:1100px){
		.guarantee-text{
			font-size: 18px;
            line-height: 1.556;}}
	
	.guarantee-info-box{
		width:100%;
		max-width:480px;
		margin:25px auto 10px auto;
		padding:10px;}
	@media(min-width:750px){
		.guarantee-info-box{
			max-width:1070px;
			margin:30px auto 15px auto;
			padding:15px 25px 15px 25px;}}
    @media(min-width:1100px){
		.guarantee-info-box{
			margin:35px auto 10px auto;
			padding:20px 40px 20px 50px;}}
	
	.guarantee-info-box p{
		text-align: center;
		font-size: 17px;
        line-height: 1.765;
		color:#474747;}
	@media(min-width:750px){
		.guarantee-info-box p{
		    font-size: 18px;
            line-height: 1.667;}}
    @media(min-width:1100px){
		.guarantee-info-box p{
		    font-size: 22px;
            line-height: 1.636;}}	
	
	.guarantee-info-box--bold{
		font-weight:bold;}
		
	.guarantee-attention{
		max-width:270px;
		margin:0 auto;
		text-align:center;}
	@media(min-width:750px){
		.guarantee-attention{
		    max-width:none;
		    text-align:left;}}
	@media(min-width:1100px){
		.guarantee-attention{
		   padding-top:15px;
		   padding-bottom:15px;
		   padding-left:0;}}
		
		
		
	.guarantee-attention .attention__text{
		font-size:17px;
		line-height: 1.588;}	
	@media(min-width:750px){
		.guarantee-attention .attention__text{
		   font-size: 18px;
           line-height: 1.556;}
		.guarantee-attention .attention__logo{
		   margin-top:0;}
    @media(min-width:1100px){
		.guarantee-attention .attention__text{
		   font-size: 22px;
           line-height: 1.455;}}
	
.footer{
	margin-top:20px;
	padding-top:10px;
	padding-bottom:20px;
	background:#191919}
    
	.footer--category{
		margin-top:0;}
	
    @media(min-width:1100px){
		.footer{
			margin-top:35px;}
			
		.footer--category{
		    margin-top:0;}}
	
	.footer__wr{
		-webkit-box-direction:normal;
		 -webkit-box-orient:vertical;
           -ms-flex-direction:column;
               flex-direction:column;}
		@media(min-width:750px){
			.footer__wr{
				-webkit-box-orient:horizontal;
                 -webkit-box-direction:normal;
                       -ms-flex-direction:row;
                           flex-direction:row;}}
            
			.footer__logo{
				-webkit-box-ordinal-group:1;
                           -ms-flex-order:1;
			                        order:1;}
			.footer__phone{
				-webkit-box-ordinal-group:2;
                           -ms-flex-order:2;
			                        order:2;}
			.footer__email{
				-webkit-box-ordinal-group:3;
                           -ms-flex-order:3;
			                        order:3;
				padding-top:15px;
				padding-bottom:15px;}
			.footer__e{
				display:none;
				-webkit-box-ordinal-group:3;
                           -ms-flex-order:3;
			                        order:3;}
			.footer__adress{
				-webkit-box-ordinal-group:4;
                           -ms-flex-order:4;
                                    order:4;}
			@media(min-width:750px){
				.footer__logo,.footer__phone,
				.footer__email, .footer__adress{
					align-self:center;
					-webkit-box-flex:1;
                    -ms-flex-positive:1;
                            flex-grow:1;}
				.footer__e{
					display:block;}
				.footer__email{
					display:none;}}
			@media(min-width:1100px){
				.footer__email{
					display:block;}
				.footer__phone{
					-webkit-box-ordinal-group:3;
                               -ms-flex-order:3;
                                        order:3;}
				.footer__e{
					display:none;}
			    .footer__adress{
					-webkit-box-ordinal-group:2;
                               -ms-flex-order:2;
                                        order:2;}}