@font-face{
	font-family: "ProximaNova-Light";
	src: url("../fonts/ProximaNova-Light.ttf");}
@font-face{
	font-family: "ProximaNova-Regular";
	src: url("../fonts/ProximaNova-Regular.ttf");}
@font-face{
	font-family: "ProximaNova-Semibold";
	src: url("../fonts/ProximaNova-Semibold.ttf");}
*{  margin:0px;
	padding:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;}

.page-theme{
	font-family: 'Calibri', sans-serif;
	font-family: 'ProximaNova-Regular', sans-serif;
	font-size:14px;}	

.header{} 
    .header__top{}
	.header__nav{
		}
.nav-menu,.nav-menu__list{
	list-style-type:none;}
.nav-menu{
	position:relative;
    background:#f4f4f4;
	color:#474747;}
	.nav-menu__btn{
		display:-webkit-box;
        display:-ms-flexbox;
               display:flex;
		-webkit-box-pack: center;
		 justify-content: center;
           -ms-flex-pack: center;
		padding-top:10px;
		padding-bottom:10px;
		cursor:pointer;}
		@media(min-width:750px){
			.nav-menu__btn{
				display:none;}}
	.nav-menu__btn--active{
		background:#00b7f4;}
	    .nav-menu__icon{
			position:relative;
			width:30px;
			height:30px;
			border:2px solid #474747;
			-webkit-border-radius:50%;
	           -moz-border-radius:50%;
	                border-radius:50%;}
		.nav-menu__icon::after, .nav-menu__icon::before{
		    display:block;
			position:absolute;
			left:6px;
			content:'';
			width:14px;}			
		.nav-menu__icon::after{
			top:6px;
			border-top:2px solid #474747;}
		.nav-menu__icon::before{
			top:12px;
			height:4px;
			border-top:2px solid #474747;
			border-bottom:2px solid #474747;}
		.nav-menu__icon--active{
		    border:2px solid #fff;}
		.nav-menu__icon--active::after{
		    border-top:2px solid #fff;}
		.nav-menu__icon--active::before{
		    border-top:2px solid #fff;
			border-bottom:2px solid #fff;}
		.nav-menu__name{
			margin-left:14px;
			-ms-flex-item-align:center;
             -ms-grid-row-align:center;
                     align-self:center;
			font-size:1.57em;
	        text-transform:uppercase;}
		.nav-menu__name--active{
			color:#fff;}
	.nav-menu__body{
		width:100%;
		position:absolute;
	    text-align:center;
		background:#f4f4f4;
		z-index:9999;}
	@media(min-width:750px){
			.nav-menu__body{
				position:relative;}}
	.nav-menu__body--active{
		display:block;}
	.nav-menu__body--off{
		display:none;}
		@media(min-width:750px){
			.nav-menu__body--off{
				display:block;}}
	    .nav-menu__list{}
		    @media(min-width:750px){
				.nav-menu__list{
					display:-webkit-box;
                    display:-ms-flexbox;
                           display:flex;
                    max-width:750px;
					margin:0px auto;}}
			@media(min-width:1024px){
				.nav-menu__list{
					display:-webkit-box;
                    display:-ms-flexbox;
                           display:flex;
                    max-width:960px;
					margin:0px auto;}}
		    .nav-menu__item{}
			    @media(min-width:750px){
				    .nav-menu__item{
						-ms-flex-positive: 1;
						   -webkit-box-flex:1;
                                flex-grow: 1;}}    
			.nav-menu__link{
				display:block;
				padding-top:10px;
				padding-bottom:10px;
				text-decoration:none;
				text-transform:capitalize;
				font-size:1.28em;
				color:#474747;}
				@media(min-width:750px){
					.nav-menu__link{
						font-size:1.07em;}
					.nav-menu__link:hover{
						background:#00b7f4;
						color:#fff;}}
.main{}
.single-slider{
		position:relative;}
		
	.single-slider__control{
		display:-webkit-box;
        display:-ms-flexbox;
               display:flex;
		-webkit-box-pack: justify;
           -ms-flex-pack: justify;
        justify-content: space-between;
		padding-right:15px;
		padding-bottom:15px;
		padding-left:15px;
		position:absolute;
		bottom:0px;
		z-index:1;
		width:100%;}
		@media(min-width:750px){
			.single-slider__control{
				width:750px;
				left:50%;
				margin-left:-375px;
				padding-bottom:20px;}}
		@media(min-width:1024px){
			.single-slider__control{
				width:960px;
				left:50%;
				margin-left:-480px;}}
		.single-slider__arrow-left,.single-slider__arrow-right{
			width:50px;
			height:40px;
			cursor:pointer;}
        .single-slider__arrow-left{
			background:url('../img/back.png')}
        .single-slider__arrow-right{
			background:url('../img/next.png');}		
			
    .single-slider__body{}
        .single-slider__item{
			padding-top:80px;
			padding-right:15px;
			padding-bottom:80px;
			padding-left:15px;
	        background:url('../img/slider-topbg320.png')no-repeat;
			background-size:cover;}
			@media(min-width:750px){
				.single-slider__item{
					padding-top:120px;
					padding-bottom:120px;
					background:url('../img/slider-topbg750.png')no-repeat;
					background-size:cover;}}
			@media(min-width:1024px){
				.single-slider__item{
					padding-top:120px;
					padding-bottom:120px;
					background:url('../img/slider-topbg960.png')no-repeat;
					background-size:cover;}}
		    .single-slider__descr{
				display:block;
				margin:0px auto;
				text-align:center;
				text-transform:uppercase;
				line-height: 1.5;
				font-family: "ProximaNova-Regular",sans-serif;
				font-size:1.4em;
				color:#fff;}
				@media(min-width:750px){
			        .single-slider__descr{
				        max-width:750px;
				        margin:0px auto;
						font-size:1.7em;}}
	
.service{
	display:-webkit-box;
    display:-ms-flexbox;
           display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
       -ms-flex-direction:column;
           flex-direction:column;
	   -webkit-box-align: center;
          -ms-flex-align: center;
             align-items: center;
	padding-top:10px;
	padding-right:15px;
	padding-left:15px;
	padding-bottom:40px;}
	@media(min-width:1024px){
		.service{
            max-width:1200px;
			margin:0px auto;
			-webkit-box-orient:horizontal;
             -webkit-box-direction:normal;
                   -ms-flex-direction:row;
                       flex-direction:row;
			   -webkit-box-align: stretch;
                  -ms-flex-align: stretch;
                     align-items: stretch; 
           -webkit-box-pack: space-evenly;
              -ms-flex-pack: space-evenly;
            justify-content: space-evenly;}}
    .service__box{
		max-width:320px;
		margin-top:10px;
		border:2px solid #00b7f4;}
		@media(min-width:750px){
			.service__box{
				max-width:750px;}}
		@media(min-width:1024px){
			.service__box{
				max-width:320px;}}
	    .service__head{
			padding-top:15px;
			padding-right:45px;
			padding-bottom:15px;
			padding-left:45px;
			background:#00b7f4;
			text-align:center;
			text-transform:uppercase;
			line-height:1.4;
			font-size:1.6em;
			color:#fff;}
		@media(min-width:1024px){
			.service__head{
				font-size:1.8em;}}
	    .service__body{}
		    .service__list{
				padding-top:10px;
				padding-bottom:10px;
			    list-style-type:none;}
			    .service__item{
					position:relative;
					margin-left:10px;
					padding-left:15px;
					line-height: 1.625;
					font-size:1.14em;
					color:#474747;}
				@media(min-width:750px){
					.service__item{
						display:inline-block;
						width:48%;}}
				@media(min-width:1024px){
					.service__item{
						display:inline-block;
						width:100%;}}
			    .service__item::before{
					display:inline-block;
					content:'';
					position:absolute;
					top:50%;left:0px;
					margin-top:-4px;
					width:6px;
					height:9px;
					background:url('../img/marker.png');
					color:#00b7f4;}
.description{
	padding-right:15px;
	padding-bottom:20px;
	padding-left:15px;
	background:#f9f9f9;}
    .description__title, .description__text{
		display:block;
		max-width:750px;
		margin:0px auto;
		color:#474747;}	
	@media(min-width:1024px){
		.description__title, .description__text{
		    max-width:1200px;}}
    .description__title{
		padding-top:20px;
		padding-bottom:20px;
		text-transform:capitalize;
		line-height: 1.25;
		text-align:center;
		font-family:'ProximaNova-Semibold',sans-serif;
	    font-size:1.7em;}	
	@media(min-width:750px){
		.description__title{
			line-height: 1.733;
		    text-align:center;
			font-size:1.85em;}}
    .description__text{
		line-height: 1.733;
		text-align:justify;
		color:#474747;}	
    @media(min-width:750px){
		.description__text{
			text-align:center;
			line-height: 1.444;
			font-size:1.28em;}}		