@import url('https://fonts.googleapis.com/css?family=Teko');

.page-theme{
    font-family: 'helvetica', sans-serif;
    font-family: 'Teko', sans-serif;
	color: $darkgrey;
    letter-spacing: $letter-spacing;
}