@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700');

*{
	margin:0;
	padding:0;
	webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}

header, footer{
	background:#b2b2b2;
	height:50px;}
footer{
	margin-top:30px;}
	
.page{
	color: #2E363F;
    font-family: 'Open Sans'!important;
    font-size: 14px;
    line-height: 23px;}

.product{
	-webkit-box-shadow: 0px 4.33px 4.75px -4.75px rgba(1, 1, 1, 0.1);
	box-shadow: 0px 4.33px 4.75px -4.75px rgba(1, 1, 1, 0.1);
	font-family: "Open Sans", sans-serif;}

    
    .product__wr{
		position:relative;
	    display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
	    -webkit-box-direction:normal;
	     -webkit-box-orient:vertical;
           -ms-flex-direction:column;
               flex-direction:column;
            -webkit-box-align:center;
               -ms-flex-align:center;
                  align-items:center;
	    max-width:320px;
	    margin:0px auto;
	    padding:20px 0 40px 0;}
	@media(min-width:768px){
	    .product__wr{
		    -webkit-box-orient:horizontal;
             -webkit-box-direction:normal;
                   -ms-flex-direction:row;
                       flex-direction:row;
		    align-items:flex-start;
            max-width:750px;
		    padding:30px 0 40px 0;}}
    @media(min-width:1100px){
	    .product__wr{
		    padding:80px 0 50px 0;
            max-width:1200px;}}
	
	.product__wr::before, .product__wr::after{
		position:absolute;
		left:50%;
		display:block;
		width:290px;
		height:1px;
		margin-left:-145px;
	    content:'';
		background:#cee7a8;
		border-top:1px solid #dbedbf;
		border-bottom:1px solid #f2f9e8;}
	.product__wr::before{top:20px;}
	.product__wr::after{bottom:20px;}
	@media(min-width:768px){
		.product__wr::before{top:30px;}
	    .product__wr::after{bottom:20px;}
		.product__wr::before, .product__wr::after{
			left:46px;
			width:438px;
			margin-left:0;}}
	@media(min-width:1100px){
		.product__wr::before, .product__wr::after{width:760px;}
		.product__wr::before{top:80px;}
		.product__wr::after{bottom:75px;}}
			
	
	
	.product__descr{
		flex:1;}
	    
		.product__title{
			display:block;
			padding:20px 0 30px 0;
			text-align: center;
			font-size:1.35em;
			font-weight: bold;
			text-transform: uppercase;
            line-height: 1.905;
			color:#84c225;}
		@media(min-width:768px){
			.product__title{
				padding:25px 0 20px 33px;
			    font-size:1.5em;
				text-align:left;
				line-height:1.739;}}
		@media(min-width:1100px){
			.product__title{
				padding:25px 0 30px 120px;
			    font-size:1.85em;
				line-height: 1.538;}}
				
			    .product__title--quotes::before, .product__title--quotes::after{
					display:inline;}
				.product__title--quotes::before{
					content:'\00ab';}
				.product__title--quotes::after{
					content:'\00bb';}
		
	    .product__list{
			display:none;
			margin:0;
			padding:0;
			list-style-type:none;
			font-size:1.14em;
			line-height: 1.875;}
		@media(min-width:768px){
		    .product__list{
			    display:block;
				padding-left:15px;}}
		@media(min-width:1100px){
		    .product__list{
			    line-height: 2.25;}}
	    
		.product__list::after{
			display:block;
			content:'';
			clear:both;}
		
		.product__list>li{
			position:relative;
			padding-left:28px;}
		@media(min-width:1100px){
			.product__list>li{
				float:left;
			    width:48%;}}	
		.product__list>li:first-letter{
			text-transform:uppercase;}
		    .product__list>li::before{
			    position:absolute;
				top:7px;left:0px;
			    display:block;
			    content:'';
			    width:18px;
			    height:14px;
			    background:url('../img/pointer.png');}
			@media(min-width:1100px){
				.product__list>li::before{
			        top:10px;}}
			
    		
	.product__logo{
		flex:none;
	    width:180px;}
	@media(min-width:768px){
		.product__logo{
			margin-right:45px;}}
	@media(min-width:1100px){
		.product__logo{
			width:220px;
			margin-right:45px;}}
	.product__logo>img{
	    display:block;
		width:100%;
		height:auto;}
		
.description{
	position:relative;
	padding-left:15px;
	padding-right:15px;
	font-family: "Open Sans", sans-serif;
	color:#5e686e;}	
	
    .description__wr{
	    background:url('../img/seeding.png')no-repeat;
	    background-position:center center;}
	@media(min-width:768px){
		.description__wr{
			margin:0px auto;
		    max-width:768px;}}
	@media(min-width:1200px){
		.description__wr{
			margin:0px auto;
		    max-width:1024px;}}
		
	.description__text{
		display:block;
		text-align:justify;
		line-height: 1.875;
	    font-size:1.1em;
		padding:30px 0;}
	@media(min-width:450px){
		.description__text{
			text-align:center;}}
	@media(min-width:768px){
		.description__text{
			font-size:1.28em;
			line-height: 1.778;}}
	@media(min-width:1200px){
		.description__text{
			font-size:1.42em;
			line-height: 1.6;}}
		
		
.advantages{
	padding:0px 15px;
	color:#5e686e;
	font-family: "Open Sans", sans-serif;}
	

    .advantages__wr{
		position:relative;
		margin:0px auto;
		max-width:320px;}
	@media(min-width:768px){
		.advantages__wr{
			max-width:590px;}}
    @media(min-width:1100px){
		.advantages__wr{
			max-width:1200px;}}	
	
	    .advantages__wr::before, .advantages__wr::after{
			position:relative;
			display:block;
			content:'';
			width:100%;
		    height:2px;
			background:#95d55d;}
			
		.advantages__wr::before{top:0;} .advantages__wr::after{bottom:0;}
	     @media(min-width:1100px){
		    .advantages__wr::before, .advantages__wr::after{
			    width:590px;
				left:50%;
				margin-left:-295px;}}
	
	    .advantages__title{
			display:block;
			text-align:center;
			padding:25px 0 5px;
			font-size:1.57em;
			line-height: 1.273;
			text-transform:uppercase;}
		
        .advantages__body{
			display:-webkit-box;
            display:-ms-flexbox;
                   display:flex;
		    -webkit-box-orient:horizontal;
             -webkit-box-direction:normal;
                   -ms-flex-direction:row;
                       flex-direction:row;
			-ms-flex-wrap:wrap;
                flex-wrap:wrap;
			padding-bottom:25px;}	
		@media(min-width:1100px){
			.advantages__body{
				-ms-flex-wrap:nowrap;
                    flex-wrap:nowrap;
                    -ms-flex-pack:distribute;
                justify-content:space-around;
                -webkit-box-align:start;
                   -ms-flex-align:start;
                 align-items:flex-start;}}
		
		    .advantages__item{
				margin-top:20px;
				width:50%;}
			@media(min-width:768px){
				.advantages__item{
				    width:33.33333333333333333333333%;}}
			@media(min-width:1100px){
				.advantages__item{
					width:16.66666666666666666666666%;}}
			
			    .advantages__logo{
					width:100px;
					height:100px;
					margin:0px auto;}
				    .advantages__logo>img{
						display:block;
						height:auto;}
					
				.advantages__descr{
					display:block;
					margin:0px auto;
					padding-top:15px;
					max-width:150px;
					text-align:center;
					font-size:1.14em;
					line-height: 1.625;}
				@media(min-width:1100px){
					.advantages__descr{
						font-size:1.28em;}}
		
.subscription{
	margin-top:30px;
	padding:15px;
	background:url('../img/chamomile.png')no-repeat;
	background-size:cover;
	background-position:center center;
	font-family: "Open Sans", sans-serif;}
@media(min-width:400px){
	.subscription{
		background:url('../img/chamomile-750.png')no-repeat;
	    background-size:cover;
	    background-position:center center;}}
@media(min-width:768px){
	.subscription{
		background:url('../img/chamomile-1200.png')no-repeat;
	    background-size:cover;
	    background-position:center center;}}
@media(min-width:1200px){
	.subscription{
		background:url('../img/chamomile-1500.png')no-repeat;
	    background-size:cover;
	    background-position:center center;}}
    
	.subscription__abbreviation{
		text-transform:uppercase;}
	
	.subscription__name{
		text-transform:uppercase;}
	.subscription__name::before, .subscription__name::after{
		display:inline;}
	.subscription__name::before{ 
		content:'\00ab';}
	.subscription__name::after{
	    content:'\00bb';}
	
	.subscription__title, .subscription__descr{
		display:block;
		padding:15px 0px;
		text-align:center;
		font-size:1.42em;
		line-height: 1.5;
		color:#fff;}
	@media(min-width:768px){
		.subscription__title, .subscription__descr{
			font-size:1.57em;
			line-height: 1.091;}}
	@media(min-width:1100px){
		.subscription__title, .subscription__descr{
			font-size:1.71em;
		    line-height: 1;}}
	
	.subscription__title:first-letter, .subscription__descr:first-letter{
		text-transform:uppercase;}

	.subscription__title{
		font-weight: bold;}
	
    
	.subscription__descr{
		font-style:italic;
		font-weight:400;}	

    .subscription__btn{
		display:block;
		margin:25px auto;
		padding:5px 0;
		width:220px;
		text-align:center;
		text-transform:uppercase;
	    
        outline:none;
		border:none;		
		cursor:pointer;
		
		background:#ffb900;
        border-radius:30px;
		
		font-size:1.28em;
		line-height: 1.556;
		letter-spacing:2px;
		color:#fff;}
    @media(min-width:1100px){
		.subscription__btn{
			font-size:1.42em;
			line-height: 1.4;}}	
    .subscription__btn:hover{
		background:#fff;
		color:#ffb900;}			
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		