@charset "utf-8";
*{
	margin:0;
	padding:0;
	webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
	
html,body{
	font-family:Arial,sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-size:16px;
	line-height:1;}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    img{
		border:none;}	
}	
	
/*------underline-------*/	
.underline{
	position:relative;}
.underline:after{
	position:absolute;
	content:'';
	bottom:0;left:0;
	width:100%;height:4px;
	background:red;}
/*------general-------*/
.link{
	color:inherit;
	text-decoration:none;}	
	
.input{
	outline:none;
	border:0;}	

.is-hidden{
	display:none !important;}
	
/*------button--------*/	
.btn{
	display:inline-block;
	padding:0.5em 1.2em;
	cursor:pointer;}
@media(min-width:768px){
	.btn{
		padding:0.7em 1.6em;}}

.btn--dark{
	background:#000;}	
/*------circle--------*/
.circle{
	border-radius:50%;}
/* ну такое s - m - l - x  */
.img{
	display:block;
	width:100%;
	height:auto;}

.img--center{
	margin:0 auto;}
	
.img--sm{
	width:10%;}
.img--sl{
	width:15%;}
.img--sx{
	width:20%;}
.img--s{
	width:25%;}
.img--ms{
	width:30%;}
.img--ml{
	width:35%;}
.img--mx{
	width:40%;}
.img--m{
	width:45%;}	
.img--ls{
	width:50%;}
.img--lm{
	width:55%;}
.img--lx{
	width:60%;}
.img--l{
	width:65%;}
.img--xs{
	width:70%;}
.img--xm{
	width:75%;}
.img--xl{
	width:80%;}
.img--x{
	width:85%;}
.img--xsm{
	width:90%;}
.img--xsl{
	width:95%;}
	
.title{
	display:block;
	font-size:32px;
	padding:0.3em 0px;
	font-weight: bold;
	color: #000;}
@media(min-width:480px){	
    .title{
		font-size:35px;}}
@media(min-width:768px){	 
    .title{
	    font-size:40px;}}	
@media(min-width:992px){	
    .title{
	    font-size:50px;}}	
@media(min-width:1200px){
    .title{
	    font-size:60px;}}
@media(min-width:1440px){
    .title{
	    font-size:70px;
	    letter-spacing: 1.4px;}}
	
.title--light{
	color:#fff;}	
	
.second-title{
	font-size:20px;
	font-weight: bold;}
.second-title--italic{
	font-style:italic;}
@media(min-width:480px){	
.second-title{
	font-size:25px;}}
@media(min-width:768px){	
.second-title{
	font-size:23px;}}	
@media(min-width:992px){	
.second-title{
	font-size:30px;}}	
@media(min-width:1200px){
.second-title{
	font-size:36px;}}
@media(min-width:1440px){
.second-title{
	font-size:40px;
	letter-spacing: 1.4px;}}
	
.second-title--underline{
	bottom:-3px;}	
@media(min-width:480px){	
.second-title--underline:after{
	bottom:-5px;}}
@media(min-width:768px){	
.second-title--underline:after{
	bottom:-7px;}}	
@media(min-width:992px){	
.second-title--underline:after{
	bottom:-10px;}}	
@media(min-width:1200px){
.second-title--underline:after{
	bottom:-12px;}}
@media(min-width:1440px){
.second-title--underline:after{
	bottom:-14px;}}	
	
.second-title--light{
	color:#fff;}	
	
.second-title--color1{
	color:#da0041;}	
.second-title--color1.underline:after{
	background:#da0041;
	opacity:0.5;}	
	
.second-title--color2{
	color:#a638fd;}	
.second-title--color2.underline:after{
	background:#a638fd;
	opacity:0.5;}

.second-title--color3{
	color:#c1005c;}	
.second-title--color3.underline:after{
	background:#c1005c;
	opacity:0.5;}	

/*-------------bold---------------*/	
.bold{
	font-weight:bold;}
	
@media(min-width:480px){
.first{ 
    width:300px;}}
@media(min-width:992px){
.first{ 
    width:400px;}}
@media(min-width:1200px){
.first{ 
    width:450px;}}
/*-------------list---------------*/	
	
.list{
	list-style-type:none;}
.list__item{
	position:relative;
	color:#fff;
	padding:8px 0 8px 16px;
	font-size:16px;
	line-height:1.2;}
@media(min-width:480px){	
.list__item{}}
@media(min-width:768px){	
.list__item{}}	
@media(min-width:992px){	
.list__item{
	padding:8px 0 8px 20px;
	font-size:18px;}}	
@media(min-width:1200px){
.list__item{
	padding:10px 0 10px 24px;
	font-size:18px;}}
@media(min-width:1440px){
.list__item{
	padding:10px 0 10px 30px;
	font-size:20px;}}		
	
.list__item::after{
	position:absolute;
	content:'';
	width:6px;height:6px;
	border-radius:50%;
	top:16px;left:0;
	background:#fff;}

.list__item--pointerColor1::after{
    background:#e30117;}	
	
.masonry{
	display: -webkit-box;
    display: -ms-flexbox;
           display: flex;
		   
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
		
	justify-content:space-between;}
.masonry__1-2{
	flex:0 0 100%;}
@media(min-width:768px){
	.masonry__1-2{
		flex:0 0 47%;}}

.masonry__1-1{
	flex:0 0 100%;}	
	
.section{
	width:290px;
	margin:0 auto;}
@media(min-width:480px){
	.section{
		width:450px;}}
@media(min-width:768px){
	.section{
		width:730px;}}
@media(min-width:992px){
	.section{
		width:960px;}}
@media(min-width:1200px){
	.section{
		width:1170px;}}
@media(min-width:1440px){
	.section{
		width:1200px;}}				
/*------header-------*/	
.header{
	background:#000;}
@media(min-width:768px){
.header{
	position:relative;
    background:#000;
	overflow:hidden;}}	

.header__section{
	width:290px;
	margin:0 auto;}
@media(min-width:480px){
	.header__section{
		width:450px;}}
@media(min-width:768px){
	.header__section{
		width:84%;
	    max-width:1440px;}}
@media(min-width:992px){	
    .header__section{}}

.header__slogan{
	position:relative;
	z-index:1;}
	
.header__top{
	position:relative;
	display: -webkit-box;
    display: -ms-flexbox;
           display: flex;
		   
	-webkit-box-align:center;
	   -ms-flex-align:center;
          align-items:center;
		  
	     -webkit-box-pack:justify;
            -ms-flex-pack:justify;
    justify-content:space-between;	  
		  
	padding-top:15px;	  
		  
	flex-direction:row;}	
@media(min-width:768px){	
.header__top{	
	padding-top:25px;}}

.header__animation{
	display:none;}		  
@media(min-width:768px){		  
.header__animation{
	display:block;
	position:absolute;
	top:40px;right:-270px;
	width:700px;
	height:700px;
    z-index:0;}}
@media(min-width:992px){		  
.header__animation{
	top:80px;right:-300px;
	width:850px;
	height:850px;}}
@media(min-width:1200px){		  
.header__animation{
	width:1100px;
	height:1100px;
	top:20px;right:-390px;}}
@media(min-width:1440px){		  
.header__animation{
	top:30px;right:-300px;}}	
	
.logo{
	width:90px;}
@media(min-width:480px){
	.logo{}}
@media(min-width:768px){
	.logo{
        width:136px;
		margin:0;}}
@media(min-width:992px){
    .logo{}}
@media(min-width:1200px){
    .logo{}}
@media(min-width:1440px){
    .logo{}}	
	
.header__menu{}
@media(min-width:992px){
.header__menu{}}

.header__mobileBtn{
	display:block;
	width:60px;height:40px;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	text-align:center;}
@media(min-width:768px){
	.header__mobileBtn{
		display:none;}}

.header__mobileBtn span{
	font-size:10px;
	line-height:40px;
	letter-spacing: 0.2px;
	color:#fff;}		
		
.navigation__closed{
	width:60px;
	height:40px;}		
		
.header__slogan{}
/*------navigation-------*/
.navigation{
	display:none;
	position:fixed;
	bottom:0;left:0;
	width:100%;height:100%;
	background:rgba(0,0,0,0.9);
    flex-direction:column;
	list-style-type:none;
	color:#fff;
	opacity:0;
	z-index:99;}
@media(min-width:768px){
.navigation{
	display:flex;
	opacity:1;
	position:static;
	background:none;
    flex-direction:row;}}

.navigation__item{
	width:100%;
	text-align:center;
	padding:25px 0;}	
@media(min-width:768px){
.navigation__item{
	width:auto;
	margin-right:35px;
	cursor:pointer;
	padding:0;}
.navigation__item:last-child{
    margin-right:0;}}

.navigation__item--mobileClosed{
	width:290px;
	margin:0 auto;
	display:flex;
	justify-content:space-between;
	padding-top:17px;}
@media(min-width:480px){
	.navigation__item--mobileClosed{
		width:450px;
		margin:0 auto;}}
@media(min-width:768px){
	.navigation__item--mobileClosed{
		display:none;}}	
	
.navigation__link{
	font-size:20px;}	
@media(min-width:768px){	
.navigation__link{
	font-size:16px;}}	
/*------slogan-------*/	
.slogan{
	font-size:53px;
	width:100%;
	height:302px;
	padding:0.8em 0 1.25em 0;}
@media(min-width:480px){
	.slogan{
		height:320px;}}
@media(min-width:768px){
	.slogan{
		height:380px;
		text-align:left;
		font-size:61px;}}
@media(min-width:992px){
    .slogan{
	    width:670px;
		height:550px;
	    font-size:85px;}}
@media(min-width:1200px){
    .slogan{
		height:620px;
	    font-size:102px;}}
@media(min-width:1440px){
    .slogan{
		height:770px;
	    font-size:120px;}}
	
.slogan__item{
	display:block;
	color:#fff;
	font-weight: 900;
	letter-spacing:2.4px;}	
	
@keyframes background {
    0% {
	    background-position:0 0;
    }
	
	100%{
        background-position:0 200%;   
    }
}	
	
.slogan__item--ligh{
	color: #da0041;
	background-image:linear-gradient(0deg, #da0041 20%, #8000ff 40%, #8000ff 60%, #da0041 80%);
	background-size:auto 200%;
	-webkit-text-fill-color: transparent;
	        text-fill-color: transparent;
           -webkit-background-clip: text;
		           background-clip: text;
    animation: background 3s infinite linear;}   
	
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .slogan__item--ligh{
	    background-image:none;
		background-clip:none;}	
}

.slogan__item--dark{
	color:#8000ff;
	background-image:linear-gradient(0deg, #8000ff 20%, #da0041 40%, #da0041 60%,#8000ff 80%);
	background-size:auto 200%;
	-webkit-text-fill-color: transparent;
	        text-fill-color: transparent;
           -webkit-background-clip: text;
		           background-clip: text;
    animation: background 3s infinite linear;}
	
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .slogan__item--dark{
	    background-image:none;
		background-clip:none;}	
}	

.slogan__underline--hidden:after{
	content:none;}	
	
.slogan__underline:after{
	opacity:.5;}	
@media(min-width:768px){	
    .slogan__underline:after{
	    height:4px;}}
@media(min-width:992px){
	.slogan__underline:after{
	    height:6px;}}

.slogan__underline--item1,
.slogan__underline--item2{
	font-style:italic;}	
	
.slogan__underline--item2{}	
	
.slogan__underline--item1:after{
	background:#da0041;
	width:98%;}	
@media(min-width:480px){
	.slogan__underline--item1:after{
		width:62%;}}
@media(min-width:768px){
	.slogan__underline--item1:after{
		bottom:-4px;
		width:345px;}}
@media(min-width:992px){
	.slogan__underline--item1:after{
		bottom:-5px;
		width:490px;}}
@media(min-width:1200px){
	.slogan__underline--item1:after{
		width:615px;}}
@media(min-width:1440px){
	.slogan__underline--item1:after{
		bottom:-6px;
		width:710px;}}	
	
.slogan__underline--item2:after{
    background:#8000ff;
	width:60%;}	
@media(min-width:480px){
	.slogan__underline--item2:after{
		width:37%;}}
@media(min-width:768px){
	.slogan__underline--item2:after{
		bottom:-6px;
		width:215px;}}
@media(min-width:992px){
	.slogan__underline--item2:after{
		bottom:-10px;
		width:300px;}}
@media(min-width:1200px){
	.slogan__underline--item2:after{
		width:365px;}}
@media(min-width:1440px){
	.slogan__underline--item2:after{
		width:460px ;}}
	
/*------main-------*/	
.main{}

/*отступы сверху*/
.main__item{
	margin-top:7%;}

.main__item--large{
	margin-top:12%;}	
/*------develops-------*/	
.develops{}

.develops__shop{
	/*background:green;*/}
		
.develops__company, .develops__lends{
	margin:18px 0 0 0;
	/*background:purple;*/}
@media(min-width:480px){
	.develops__company, .develops__lends{
		margin:26px 0 0 0;}}
@media(min-width:768px){
	.develops__company, .develops__lends{
		margin:43px 0 0 0;}}
@media(min-width:992px){
	.develops__company, .develops__lends{
		margin:55px 0 0 0;}}
@media(min-width:1200px){
	.develops__company, .develops__lends{
		margin:66px 0 0 0;}}
@media(min-width:1440px){
	.develops__company, .develops__lends{
		margin:80px 0 0 0;}}	

.develops__company{}
	
.develops__lends{
	/*background:yellow;*/}
@media(min-width:480px){
	.develops__lends{}}
@media(min-width:768px){
	.develops__lends{}}
@media(min-width:992px){
	.develops__lends{}}
@media(min-width:1200px){
	.develops__lends{}}
@media(min-width:1440px){
	.develops__lends{}}	
	
.develops__item{
	display:block;
	text-decoration:none;
	margin:25px 0 0 0;}
@media(min-width:480px){
	.develops__item{
		margin:30px 0 0 0;}}
@media(min-width:768px){
	.develops__item{
		margin:43px 0 0 0;}}
@media(min-width:992px){
	.develops__item{
		margin:55px 0 0 0;}}
@media(min-width:1200px){
	.develops__item{
		margin:66px 0 0 0;}}
@media(min-width:1440px){
	.develops__item{
		margin:80px 0 0 0;}}

/*------portfolio-------*/
	
.portfolio{
	display:block;}	
	
.portfolio__caption{
	text-align: center;
	color:#000;
	font-weight:bold;
	line-height:1.1;
	padding:30px 0 0 0;}	
@media(min-width:480px){
	.portfolio__caption{
		font-size:20px;
		padding:40px 0 0 0;}}
@media(min-width:768px){
	.portfolio__caption{
		font-size:17px;
		padding:21px 0 0 0;}}
@media(min-width:992px){
	.portfolio__caption{
		font-size:22px;
		padding:27px 0 0 0;}}
@media(min-width:1200px){
	.portfolio__caption{
		font-size:27px;
		padding:33px 0 0 0;}}
@media(min-width:1440px){
	.portfolio__caption{
		font-size:32px;
		padding:40px 0 0 0;}}	
		
.portfolio__caption span{
	display:block;
	background:#fff;}
	
.rais-convers .portfolio__caption span{
	display:block;
	background:transparent;}
	
.portfolio__caption--light{
	color:#fff;}
	
/*------rais_convers-------*/	
.rais-convers{
    background:#000;}
	
.rais-convers__item{
	position:ralative;
	margin:0 0 14% 0;}	
	
	
.rais-convers__caption{
	position:absolute;
	right:15px;bottom:20px;
	z-index:2;}	
@media(min-width:768px){
	.rais-convers__caption{
		width:125px;
	    position:absolute;
	    right:-8px;bottom:10px;
	    z-index:2;}}	
@media(min-width:1200px){
	.rais-convers__caption{
        width:147px;}}
@media(min-width:1400px){
	.rais-convers__caption{
        width:170px;}}
	
.rais-convers__title{
	padding:1.2em 0 1em 0;}	
	
.rais-convers__photo{
    padding:17% 7%;
	width:100%;height:;
	background:red;}	
	
.rais-convers__photo--small{
	height:290px;
	padding:8.8% 7% 0 7%;
	overflow:hidden;}
@media(min-width:480px){
	.rais-convers__photo--small{
		height:450px;}}
@media(min-width:768px){
	.rais-convers__photo--small{
		height:352px;}}
@media(min-width:992px){
	.rais-convers__photo--small{
		height:451px;}}
@media(min-width:1200px){
	.rais-convers__photo--small{
		height:549px;}}
@media(min-width:1440px){
	.rais-convers__photo--small{
		height:564px;}}	
	
.rais-convers__photo--custBck1{
	background-size:cover;
	background-position:center center;
	background-repeat:norepeat;
	background-image:url(../img/convers/1.png);}
	
.rais-convers__photo--custBck2{
	background-size:cover;
	background-position:center center;
	background-repeat:norepeat;
	background-image:url(../img/convers/2.png);}
	
.rais-convers__photo--custBck3{
	background-size:cover;
	background-position:center center;
	background-repeat:norepeat;
	background-image:url(../img/convers/3.png);}	
	
.rais-convers__gradient{
	position:absolute;
	left:0;
	width:101%;
	height:80px;
	opacity:0.5;
	z-index:3;}	
@media(min-width:480px){
	.rais-convers__gradient{
	    height:110px;}}
@media(min-width:768px){
	.rais-convers__gradient{
		height:80px;}}
@media(min-width:992px){
	.rais-convers__gradient{
		height:110px;}}
@media(min-width:1200px){
	.rais-convers__gradient{
		height:130px;}}
@media(min-width:1440px){
	.rais-convers__gradient{
		height:150px;}}

.rais-convers__gradient--top{
	top:0;
	background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));}
.rais-convers__gradient--bot{
	bottom:0;
	background-image: linear-gradient(to top, #000000, rgba(0, 0, 0, 0));}
	
.rais-caption{
	font-size:25px;
	font-weight:bold;
	color:#fff;
	text-align:center;}	
@media(min-width:480px){
	.rais-caption{}}
@media(min-width:768px){
	.rais-caption{
		font-size:30px;}}
@media(min-width:992px){
	.rais-caption{}}
@media(min-width:1200px){
	.rais-caption{}}
@media(min-width:1440px){
	.rais-caption{
		font-size:35px;}}	
	
.rais-caption__large{
	font-size:30px}
@media(min-width:480px){
	.rais-caption__large{
		font-size:50px;}}
@media(min-width:768px){
	.rais-caption__large{
		font-size:42px;}}
@media(min-width:992px){
	.rais-caption__large{
		font-size:54px;}}
@media(min-width:1200px){
	.rais-caption__large{
		font-size:66px;}}
@media(min-width:1440px){
	.rais-caption__large{
		font-size:80px;}}	
			
.rais-caption__circle{
	width: 250px;height:250px;
	bottom: -125px;right: -125px;}
@media(min-width:480px){
	.rais-caption__circle{
		width: 300px;height: 300px;
	    bottom: -150px;right: -150px;}}
@media(min-width:768px){
	.rais-caption__circle{
		font-size:42px;
		width: 274px;height: 274px;
	    bottom: -137px;right: -137px;}}
@media(min-width:992px){
	.rais-caption__circle{}}
@media(min-width:1200px){
	.rais-caption__circle{
		width: 330px;height: 330px;
	    bottom: -165px;right: -165px;}}
@media(min-width:1440px){
	.rais-caption__circle{
		width: 400px;height: 400px;
	    bottom: -200px;right: -200px;}}	
	
/*------working-process-------*/	
.working-process{
	}
.working-process__box{}
/*	
@media(min-width:768px){
	.working-process__section{
        width:750px;}}
@media(min-width:992px){
	.working-process__section{
        width:960px;}}	
@media(min-width:1200px){	
    .working-process__section{
	    width:1000px;
        margin:0 auto;}}
*/
/*-----------------map---------*/	
.map{
	position:relative;}

.map__title{
	font-size:20px;
	display:block;
	padding:1.3em 0;
	font-style:italic;
	font-weight:bold;
	color:#1b35be;}
@media(min-width:768px){
	.map__title{
		font-size:30px;}}

.map__list{
	display:flex;
	flex-direction:column;
	list-style-type:none;
	flex-wrap:wrap;
	align-items:flex-start;}
@media(min-width:768px){
	.map__list{
		padding:0 0 120px 0;
		flex-direction:row;}}

.map__list--contentEnd{
	justify-content:flex-end;}
		
.map__item{
	display:inline-block;
    font-size:18px;
	margin-bottom:20px;
	padding:0.7em 1em;
	border:1px solid #7f7f7f;
	background:#fff;
	font-style:italic;
	font-weight:bold;}
@media(min-width:768px){
	.map__item{
		font-size:16px;
		margin-bottom:0;
		margin-right:1.1em;}}
@media(min-width:992px){
	.map__item{
		font-size:18px;
		margin-right:2.2em;}}
@media(min-width:1200px){
	.map__item{}}
@media(min-width:1440px){
	.map__item{}}
	
.map__item--box{
	width:100%;
	display:flex;
	flex-direction:column;
	border:none;
	padding:0;}
@media(min-width:768px){
	.map__item--box{
		width:auto;}}

.map__item--box .map__item--inner:nth-child(1),
.map__item--box .map__item--inner:nth-child(2){
	width:50%;}
	
.map__item--box .map__item--inner:nth-child(2){
	align-self:flex-end;}
	
@media(min-width:768px){
    .map__item--box .map__item--inner:nth-child(1),
    .map__item--box .map__item--inner:nth-child(2){
        width:auto;}
	.map__item--box .map__item--inner:nth-child(2){
	    align-self:auto;}}	
	
.map__item--inner{
	margin:0;}
	
.map__item--marginTop{
	margin:20px 0 0 0;}

.map__item--marginTopLarge{}	
@media(min-width:768px){	
.map__item--marginTopLarge{
    margin-top:70px;}}	
	
.map__item--marginCust1{}
@media(min-width:768px){
	.map__item--marginCust1{
	    margin:70px 40px 0 325px;}}
@media(min-width:992px){
	.map__item--marginCust1{
	    margin:75px 80px 0 400px;}}
@media(min-width:1200px){
	.map__item--marginCust1{}}
@media(min-width:1440px){
	.map__item--marginCust1{}}

	
.map__item--marginCust2{}	
@media(min-width:768px){
	.map__item--marginCust2{
		order:1;}}
@media(min-width:992px){
	.map__item--marginCust2{}}
@media(min-width:1200px){
	.map__item--marginCust2{}}
@media(min-width:1440px){
	.map__item--marginCust2{}}	
	
.map__item--img{
    display:flex;
	align-items:center;}	
	
.map__icon{
	width:30px;
	height:30px;
	margin:0 0 0 10px;}

.map__line1{
	top:102%;right:55px;
	width:2px;height:110px;
	border:0;
	border-left-width:2px;}
@media(min-width:768px){
	.map__line1{
		top:135px;left:0;
		width:730px;
		height:2px;
		border-left-width:0;
		border-top-width:2px;}}
@media(min-width:992px){
	.map__line1{
		width:870px;}}
@media(min-width:1200px){
	.map__line1{}}
@media(min-width:1440px){
	.map__line1{
		width:900px;}}
	
.map__line2{
	top:133px;right:220px;
	width:2px;height:275px;
	border:0;
	border-right-width:2px;}
@media(min-width:480px){
	.map__line2{
		right:387px;}}
@media(min-width:768px){
	.map__line2{
		top:139px;
		right:0;
		height:149px;}}
@media(min-width:992px){
	.map__line2{
		right:90px;}}
@media(min-width:1200px){
	.map__line2{
		right:300px;}}
@media(min-width:1440px){
	.map__line2{}}

.map__line3{
	top:410px;right:55px;
	width:167px;height:2px;
	border:0;
	border-top-width:2px;}
@media(min-width:480px){
	.map__line3{
		width:334px;}}
@media(min-width:768px){
	.map__line3{
		top:290px;
		right:0;
		width:740px;}}
@media(min-width:992px){
	.map__line3{
		right:90px;
		width:880px;}}
@media(min-width:1200px){
	.map__line3{
		right:300px;
		width:905px;}}
@media(min-width:1440px){
	.map__line3{
		width:935px;}}
	
.map__line4{
	top:125px;left:70px;
	width:2px;height:500px;
	border:0;
	border-right-width:2px;}
@media(min-width:480px){
	.map__line4{
		height:470px;}}
@media(min-width:768px){
	.map__line4{
		top:9px;left:-10px;
		width:2px;height:125px;}}
@media(min-width:992px){
	.map__line4{
		top:2px; height:137px;}}
@media(min-width:1200px){
	.map__line4{
		left:-35px;}}
@media(min-width:1440px){
	.map__line4{}}
	
.map__line5{
	top:119px;left:134px;
	border:0;
	width:100px;height:2px;
	border-top-width:2px;}
@media(min-width:480px){
	.map__line5{
		width:220px;
		left:175px;}}
@media(min-width:768px){
	.map__line5{
		top:135px;left:-10px;
		width:740px;}}
@media(min-width:992px){
	.map__line5{
		top:140px;
		width:915px;}}
@media(min-width:1200px){
	.map__line5{
		left:-35px;
		width:940px;}}
@media(min-width:1440px){
	.map__line5{
		width:970px;}}

.map__line6{
	width: 50px;
    height: 170px;
    top: 300px;
    right: 100px;
    border: 0;
	border-bottom-width: 2px;
    border-top-width: 2px;
    border-right-width: 2px;}
@media(min-width:480px){
	.map__line6{
		width:190px;
		top:274px;
		height:159px;}}
@media(min-width:768px){
	.map__line6{
		top:138px;right:0;
		width:2px;height:165px;
		border-top-width:0;
		border-bottom-width:0;}}
@media(min-width:992px){
	.map__line6{
		top:143px;right:55px;
		height:175px;}}
@media(min-width:1200px){
	.map__line6{
		right:265px;}}
@media(min-width:1440px){
	.map__line6{}}
	
.map__line7{
	top:0;right:0;
	border:0;
	border-top-width:2px;}
@media(min-width:768px){
	.map__line7{
		top:305px;right:0;
		width:240px;height:2px;}}
@media(min-width:992px){
	.map__line7{
		top:320px;right:55px;
		width:320px;}}
@media(min-width:1200px){
	.map__line7{
		right:265px;}}
@media(min-width:1440px){
	.map__line7{}}

.map__line8{
	top:0;right:0;
	border:0;
	border-top-width:2px;}
@media(min-width:768px){
	.map__line8{
		top: 175px;
        right: 355px;
        width: 45px;
        height: 2px;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);}}
@media(min-width:992px){
	.map__line8{
		right:505px;
		width:65px;}}
@media(min-width:1200px){
	.map__line8{
		right:715px;}}
@media(min-width:1440px){
	.map__line8{
		right:745px;}}

.map__line9{
	top:0;right:0;
	border:0;
	border-top-width:2px;}
@media(min-width:768px){
	.map__line9{
		top: 175px;
        right: 165px;
        width: 35px;
        height: 2px;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);}}
@media(min-width:992px){
	.map__line9{
		right:260px;
		width:65px;}}
@media(min-width:1200px){
	.map__line9{
		right:470px;}}
@media(min-width:1440px){
	.map__line9{
		right:500px;}}		

.map__flag{}		
		
/*----------flag-------------------*/		
.flag{
	display:none;
	position:absolute;
	top:0;right:0;bottom:0;left:0;}
@media(min-width:768px){
	.flag{
		display:block;
		position:absolute;
	    top:0;right:0;bottom:0;left:0;}}
		
.flag__item{
	position:absolute;
	right:0;top:0;
	width:18px;
	height:65px;}	
@media(min-width:768px){
	.flag__item{
		top:242px;right:171px;
		z-index:3;}}
@media(min-width:992px){
	.flag__item{
		top:257px;right:287px;}}
@media(min-width:1200px){
	.flag__item{
		right:495px;}}
@media(min-width:1440px){
	.flag__item{
		right:525px;}}
	
/*------dotter-line-------*/	
.dotted-line{
	position:relative;}
.dotted-line__item{
	position:absolute;
	border-style:dotted;
	/*border-color:#7f7f7f;*/
	border-color:#000;
	z-index:1;}	
.dotted-line__visible{
	position:relative;
	z-index:2;}
/*------anim-circle-------*/	
.mobile-develop{
	position:relative;
	display:flex;}

.mobile-develop__right,
.mobile-develop__left{
	position:relative;}	
	
.mobile-develop__left{
	display:flex;
	justify-content:flex-end;
	flex:0 0 65%;
	background:#767680;}
@media(min-width:480px){	
.mobile-develop__left{}}
@media(min-width:768px){	
.mobile-develop__left{
	padding:45px 0;}}	
@media(min-width:992px){	
.mobile-develop__left{
	padding:70px 0;}}	
@media(min-width:1200px){
.mobile-develop__left{
	padding:84px 0;}}
@media(min-width:1440px){
.mobile-develop__left{
	padding:100px 0;}}		
	
	
.mobile-develop__right{
	flex:0 0 35%;
	background:#f7f7f7;}

.mobile-develop__content{
	flex:0 0 220px;}
@media(min-width:480px){
	.mobile-develop__content{
		flex:0 0 220px;}}
@media(min-width:768px){
	.mobile-develop__content{
		flex:0 0 490px;}}	
@media(min-width:992px){
	.mobile-develop__content{
		flex:0 0 630px;}}
@media(min-width:1200px){
	.mobile-develop__content{
		flex:0 0 765px;}}	
@media(min-width:1440px){
	.mobile-develop__content{
		flex:0 0 816px;}}
		
.mobile-develop__title{
	line-height:1.4;}	
	
.mobile-develop__list{}
@media(min-width:480px){
	.mobile-develop__list{}}
@media(min-width:768px){
	.mobile-develop__list{
		width:350px;
		padding:40px 0 40px 0;}}	
@media(min-width:992px){
	.mobile-develop__list{}}
@media(min-width:1200px){
	.mobile-develop__list{}}	
@media(min-width:1440px){
	.mobile-develop__list{}}	
	
.mobile-develop__imgLeft{
	position:absolute;
	top:0;right:0;
	width:25px;height:20px;}
@media(min-width:480px){
	.mobile-develop__imgLeft{}}
@media(min-width:768px){
	.mobile-develop__imgLeft{
		position:absolute;
	    top:50%;
		width:76px;height:338px;
		margin-top:-159px;}}	
@media(min-width:992px){
	.mobile-develop__imgLeft{
		width:100px;height:436px;
		margin-top:-218px;}}
@media(min-width:1200px){
	.mobile-develop__imgLeft{
		width:120px;height:528px;
		margin-top:-264px;}}	
@media(min-width:1440px){
	.mobile-develop__imgLeft{
	    width:145px;height:640px;
		margin-top:-320px;}}	
	
.mobile-develop__imgRight{
	position:absolute;
	top:0;left:0;
	width:25px;height:20px;}
@media(min-width:480px){
	.mobile-develop__imgRight{}}
@media(min-width:768px){
	.mobile-develop__imgRight{
		position:absolute;
	    top:50%;
		width:76px;height:338px;
		margin-top:-159px;}}	
@media(min-width:992px){
	.mobile-develop__imgRight{
		width:100px;height:436px;
		margin-top:-218px;}}
@media(min-width:1200px){
	.mobile-develop__imgRight{
		width:120px;height:526px;
		margin-top:-263px;}}	
@media(min-width:1440px){
	.mobile-develop__imgRight{
	    width:150px;height:640px;
		margin-top:-320px;}}	
/*-----------different-prj-------------*/	
.different-prj{
	position:relative;
	background-color:#14141e;
	padding:22px 0;
	overflow:hidden;}
@media(min-width:480px){
	.different-prj{
		padding:32px 0;}}
@media(min-width:768px){
	.different-prj{
		padding:54px 0;}}	
@media(min-width:992px){
	.different-prj{
		padding:70px 0;}}
@media(min-width:1200px){
	.different-prj{
		padding:84px 0;}}	
@media(min-width:1440px){
	.different-prj{
		padding:100px 0;}}
		
.different-prj__title{
	width:100%;
	line-height:1.2;}
@media(min-width:480px){
	.different-prj__title{}}
@media(min-width:768px){
	.different-prj__title{
		width:415px;
		letter-spacing: 1.4px;
		line-height:1;}}	
@media(min-width:992px){
	.different-prj__title{
		width:535px;}}
@media(min-width:1200px){
	.different-prj__title{
		width:680px;}}	
@media(min-width:1440px){
	.different-prj__title{
		width:780px;}}
		
.different-prj__content{
	width:100%;}
@media(min-width:480px){
	.different-prj__content{}}
@media(min-width:768px){
	.different-prj__content{
		width:250px;}}	
@media(min-width:992px){
	.different-prj__content{
		width:300px;}}
@media(min-width:1200px){
	.different-prj__content{
		width:360px;}}	
@media(min-width:1440px){
	.different-prj__content{
		width:425px;}}
		
.different-prj__secondTitle{
	display:block;
	line-height:1.2;
	padding:25px 0 12px 0;}
@media(min-width:480px){
	.different-prj__secondTitle{}}
@media(min-width:768px){
	.different-prj__secondTitle{
		padding:31px 0 12px 0;}}	
@media(min-width:992px){
	.different-prj__secondTitle{
		padding:39px 0 15px 0;}}
@media(min-width:1200px){
	.different-prj__secondTitle{
		padding:48px 0 18px 0;}}	
@media(min-width:1440px){
	.different-prj__secondTitle{
		padding:55px 0 25px 0;}}

.different-prj__anim{
	display:none;}	
@media(min-width:768px){
	.different-prj__anim{
		display:flex;
	    align-items:center;
	    justify-content:center;
	    position:absolute;
		width:1000px;height:1000px;
	    top:35px; right:-435px;
        overflow:hidden;
		cursor:pointer;}}	
@media(min-width:992px){
	.different-prj__anim{
        height:1100px;
		top:105;}}	
@media(min-width:1200px){
.different-prj__anim{
	width:1200px;height:1200px;
	top:55px; right:-410px;}}		
		
#differentPrjAnim{}		
		
/*------anim-circle-------*/		
.clients{
	}

.clients__title{
	width:100%;}
@media(min-width:480px){
	.clients__title{}}
@media(min-width:768px){
	.clients__title{
		width:460px;}}	
@media(min-width:992px){
	.clients__title{
		width:620px;}}
@media(min-width:1200px){
	.clients__title{
		width:720px;}}	
@media(min-width:1440px){
	.clients__title{
		width:860px;}}
		
.clients__slider{
	margin:25px auto 0 auto;}
@media(min-width:480px){
	.clients__slider{}}
@media(min-width:768px){
	.clients__slider{
		width:450px;
		margin:45px auto 0 auto;}}	
@media(min-width:992px){
	.clients__slider{
		width:100%;
		margin:60px 0 0 0;}}
@media(min-width:1200px){
	.clients__slider{
		margin:72px 0 0 0;}}	
@media(min-width:1440px){
	.clients__slider{
		margin:88px 0 0 0;}}		
		
/*---------slider-----*/		
.slider{}
			
.slider__item{}
@media(min-width:480px){
	.slider__item{}}
@media(min-width:768px){
	.slider__item{
		padding:0 15px 0 15px;}}	
@media(min-width:992px){
	.slider__item{
		padding:0 25px 0 25px;}}
@media(min-width:1200px){
	.slider__item{
		padding:0 40px 0 40px;}}	
@media(min-width:1440px){
	.slider__item{
		padding:0 50px 0 50px;}}
	
.slider__top{
	display:flex;}

.slider__photo{}	
	
.slider__photo img{
	width:70px;}		
@media(min-width:480px){
	.slider__photo img{}}
@media(min-width:768px){
	.slider__photo img{}}	
@media(min-width:992px){
	.slider__photo img{
		width:65px;
		height:65px;}}
@media(min-width:1200px){
	.slider__photo img{
		width:76px;
		height:76px;}}	
@media(min-width:1440px){
	.slider__photo img{
		width:92px;
		height:92px;}}	
	
.slider__name,
.slider__prof{
	display:block;}	
	
.slider__descr{
	padding:0 0 0 10px;}	
@media(min-width:480px){
	.slider__descr{}}
@media(min-width:768px){
	.slider__descr{}}	
@media(min-width:992px){
	.slider__descr{
		padding:0 0 0 13px;}}
@media(min-width:1200px){
	.slider__descr{
		padding:0 0 0 16px;}}	
@media(min-width:1440px){
	.slider__descr{
		padding:0 0 0 19px;}}	
	
.slider__name{
	font-weight:bold;}
@media(min-width:480px){
	.slider__name{}}
@media(min-width:768px){
	.slider__name{
		font-size:17px;}}	
@media(min-width:992px){
	.slider__name{
		font-size:22px;}}
@media(min-width:1200px){
	.slider__name{
		font-size:32px;}}	
@media(min-width:1440px){
	.slider__name{
		font-size:32px;}}	
	
.slider__prof{
	font-size:16px;
	padding:6px 0 0 0;}
@media(min-width:480px){
	.slider__prof{}}
@media(min-width:768px){
	.slider__prof{}}	
@media(min-width:992px){
	.slider__prof{
		padding:8px 0 0 0;
		font-size:18px;}}
@media(min-width:1200px){
	.slider__prof{}}	
@media(min-width:1440px){
	.slider__prof{
		font-size:20px;}}	
	
.slider__bottom{
	font-size:17px;
	padding:16px 0 0 0;
	color:#000;}
@media(min-width:480px){
	.slider__bottom{}}
@media(min-width:768px){
	.slider__bottom{}}	
@media(min-width:992px){
	.slider__bottom{
		font-size:18px;}}
@media(min-width:1200px){
	.slider__bottom{}}	
@media(min-width:1440px){
	.slider__bottom{
		font-size:20px;}}
		
.slider .slick-dots{
	bottom:-40px;}	
@media(min-width:480px){
	.slider .slick-dots{}}
@media(min-width:768px){
	.slider .slick-dots{
		bottom:-30px;}}	
@media(min-width:992px){
	.slider .slick-dots{
		bottom:-50px;}}
@media(min-width:1200px){
	.slider .slick-dots{
		bottom:-60px;}}	
@media(min-width:1440px){
	.slider__bottom{
		bottom:-75px;}}	
		
.slider .slick-dots li button:before{
	font-size:15px;
	color:#c4c4c4;}	
@media(min-width:480px){
	.slider .slick-dots li button:before{}}
@media(min-width:768px){
	.slider .slick-dots li button:before{}}	
@media(min-width:992px){
	.slider .slick-dots li button:before{}}
@media(min-width:1200px){
	.slider .slick-dots li button:before{}}	
@media(min-width:1440px){
	.slider .slick-dots li button:before{
		font-size:15px;}}
	
.slider.slick-dotted.slick-slider{
	margin-bottom:60px;}
@media(min-width:768px){
	.slider.slick-dotted.slick-slider{
	    margin-bottom:auto;}}	
	
.slider__bottom .list__item{
	color:#000;}
/*------footer-------*/
.footer{
	position:relative;
	background-color:#000;
	padding:20px 0 15px 0;}
@media(min-width:480px){
	.footer{
		padding:32px 0 15px 0;}}
@media(min-width:768px){
	.footer{
		padding:54px 0 15px 0;}}	
@media(min-width:992px){
	.footer{
		font-size:17px;
		padding:70px 0 20px 0;}}
@media(min-width:1200px){
	.footer{
		padding:84px 0 20px 0;}}	
@media(min-width:1440px){
	.footer{
		font-size:18px;
		padding:100px 0 20px 0;}}
	
.footer__title,
.footer__secondTitle{
	display:block;
	font-weight:bold;
	line-height:1.2;}
	
.footer__title{
	font-size:2.7em;
	color:#fff;}	

.footer__secondTitle{
	width:100%;
	padding:0.4em 0 0 0;
	font-size:1.6em;}
@media(min-width:768px){
	.footer__secondTitle{
	    width:170px;}}	
@media(min-width:992px){
	.footer__secondTitle{
	    width:220px;}}
@media(min-width:1200px){
	.footer__secondTitle{
	    width:270px;}}	
@media(min-width:1440px){
	.footer__secondTitle{
	    width:330px;}}
	
.footer__link--paddingTop{
	padding-top:3em;}	
@media(min-width:768px){
	.footer__link--paddingTop{
	    padding-top:5.3em;}}
	
.footer__text{
	display:block;}	
	
.footer__link{
	font-weight:bold;
	color:#fff;
	text-decoration:underline;
	cursor:pointer;}	
	
.footer__mark{
	color:#828282;}	
	
.footer__top{
	width:100%;
	display:flex;
	flex-direction:column;}	
@media(min-width:480px){
	.footer__top{}}
@media(min-width:768px){
	.footer__top{
		flex-direction:row;
		justify-content:space-between;}}		
	
.footer__col-1{}

.footer__col-2{}	
	
.footer__bottom{
	display:flex;
	padding:3em 0 0 0;}
@media(min-width:768px){	
.footer__bottom{}}
@media(min-width:992px){	
.footer__bottom{
	padding:5em 0 0 0;}}	
@media(min-width:1200px){	
.footer__bottom{
	padding:7em 0 0 0;}}	
	
/*------anim-circle-------*/	
.footer__anim{
	display:none;}
@media(min-width:768px){	
.footer__anim{
	display: block;
    top: 14%;
    left: 45%;
    position: absolute;
    width: 160px;
    height: 200px;}}
@media(min-width:992px){	
.footer__anim{
	top:20px; left:510px;
	position:absolute;
	width:250px;
    height:280px;}}	
@media(min-width:1200px){	
.footer__anim{
	top:-10px; left:550px;
	position:absolute;
	width:350px;
    height:350px;}}	
	
.footer__relative{
	position:relative;}
/*------anim-circle-------*/	
	
.contacts{
	padding-top:1.5em;
	line-height:1.2;
	text-align:left;}
@media(min-width:768px){
	.contacts{
	    text-align:right;}}

.contacts__link{
	padding:0 0 1.5em 0;}
@media(min-width:768px){
	.contacts__link{
	    padding:0 0 2em 0;}}
	
.contacts__adress{
	font-weight:bold;
	color:#fff;}	
	
.contacts__country{
	padding:0 0 0.3em 0;}
	
/*------callback-----*/

.callback{
	display:none;
	text-align:center;
	position:fixed;
	top:0; left:0; right:0; bottom:0;
	/*opacity:0;*/
	background:rgba(0,0,0,0.7);
	overflow-y:scroll;
	z-index:9999;}
	
.callback:before{
	display:inline-block;
	content:'';
	height:100%;
	vertical-align: middle;}	
	
.callback__content{
	width:290px;
	position:relative;
	display:inline-block;
	vertical-align: middle;
	background:#fff;
	padding:20px 10px;}
@media(min-width:480px){
	.callback__content{
		width:450px;}}
@media(min-width:768px){
	.callback__content{
		width:690px;
		padding:35px 60px;}}
@media(min-width:992px){
	.callback__content{
		width:895px;
		padding:45px 80px;}}
@media(min-width:1200px){	
    .callback__content{
		width:1080px;
		padding:45px 96px;
        font-size:18px;}}
@media(min-width:1440px){	
    .callback__content{
	    width:1320px;
	    padding:65px 120px;
        font-size:20px;}}
	
.callback__form{}	
	
.callback__title{
	display:block;
	font-size:25px;
	font-weight:700;
	text-align:left;
	color:#000;
	padding:15px 0;}
@media(min-width:768px){
	.callback__title{
		padding:25px 0;}}
@media(min-width:992px){
	.callback__title{
		font-size:35px;}}
@media(min-width:1200px){	
    .callback__title{
		font-size:42px;}}
@media(min-width:1440px){	
    .callback__title{
		padding:50px 0;
		font-size:50px;}}
		
.callback__input{
	padding:5px 0;
	font-size:18px;}
@media(min-width:768px){
	.callback__input{}}
@media(min-width:992px){
	.callback__input{
		font-size:22px;}}
@media(min-width:1200px){	
    .callback__input{
		font-size:26px;}}
@media(min-width:1440px){	
    .callback__input{
		font-size:32px;}}	
		
.callback__label{
	padding:0 0 5px 0;
	font-size:17px;}
@media(min-width:768px){
	.callback__label{}}
@media(min-width:992px){
	.callback__label{
		padding:0 0 7px 0;
		font-size:18px;}}
@media(min-width:1200px){	
    .callback__label{
		padding:0 0 9px 0;
		font-size:20px;}}
@media(min-width:1440px){	
    .callback__label{
		font-size:20px;}}

.callback__closed{
	position:absolute;
	top:10px;right:10px;
	width:28px;height:28px;
	background-image:url(../img/icons/closed.png);
	background-size:28px 28px;
	cursor:pointer;}		
/*------callback-----*/	
	
.form{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;}

.form__section{
	width:100%;
	padding:15px 0 0 0;}	
@media(min-width:768px){	 
    .form__section{
		padding:37px 0 0 0;}}
@media(min-width:992px){	 
    .form__section{
		padding:47px 0 0 0;}}
@media(min-width:1200px){	 
    .form__section{}}
@media(min-width:1440px){	 
    .form__section{
		padding:60px 0 0 0;}}

.form__col-1{
	flex:0 0 100%;}
@media(min-width:768px){	
.form__col-1{
	flex:0 0 42%;}}

.form__col-2{
	flex:0 0 100%;}	
@media(min-width:768px){	
.form__col-2{
	display:flex;
	flex-wrap:wrap; 
    flex:0 0 46%;}}
	
.form__col-3{
	flex:0 0 100%;
	text-align:left;}
@media(min-width:768px){	 
    .form__col-3{
		padding:0 0 37px 0;}}
@media(min-width:992px){	 
    .form__col-3{
		padding: 0 0 40px 0;}}
@media(min-width:1200px){	 
    .form__col-3{}}
@media(min-width:1440px){	 
    .form__col-3{
		padding:0 0 70px 0;}}	
		
.form__block{
    display:block;}
	
.form__label,
.form__input{
	display:block;
	width:100%;}	
	
.form__input{
	border-top:1px solid;
	border-bottom:1px solid;
	border-color:#4c4c4c;
	color:#000;}

.form__wrong{
	border-color:red;
	color:red;}

.form__input--wrong:before{
	top:0;}

.form__input--wrong:after{
	bottom:0;}
	
.form__input:placeholder {
  color:#cccccc;}
	
.form__label{
	text-align:left;}
	
.form__btn{
	font-size:16px;
	color:#9e9e9e;}
@media(min-width:768px){	 
    .form__btn{}}
@media(min-width:992px){	 
    .form__btn{
		font-size:18px;}}
@media(min-width:1200px){	 
    .form__btn{
		font-size:20px;}}
@media(min-width:1440px){	 
    .form__btn{
		font-size:20px;}}
	
.form__btn-box{
	margin:30px 0 0 0;
	text-align:left;
	align-self:flex-end;}		
@media(min-width:768px){
	.form__btn-box{
		margin:0;}}	
	
.form__textarea{
	resize: none;}	
@media(min-width:768px){	 
    .form__textarea{
		height:85px;}}
@media(min-width:992px){	 
    .form__textarea{
		height:109px;}}
@media(min-width:1200px){	 
    .form__textarea{
		height:130px;}}
@media(min-width:1440px){	 
    .form__textarea{
		height:160px;}}	
	
.form__caption{
	font-size:16px;
	color:#9e9e9e;}
		
		
/*------anim-circle-------
1.видимые части
2.относительно чего позицеонируем
3.Класс обрезающий всплывающий круг
4.Класс активирубщий анимацию
5.Класс обрезающий анимацию
! убрать анимаци на телефонах
*/

/*3*/
.anim-circle{
    overflow:hidden;}
.anim-circle--full{
	width:100%;height:100%;
    overflow:hidden;}

/*2*/
.anim-circle__position{
	position:relative;}	
	
/*1*/	
.anim-circle__visible{
	position:relative;
	z-index:2;}	
	
/*4*/	
.anim-circle__activ{}	
	
/*круг*/	
.anim-circle__item{
	position: absolute;
	border-radius: 50%;
	transition: all 500ms ease;
	z-index:1;}	
	
.anim-circle__item--color1{
	background-color:#c30000;}	
	
.anim-circle__item--color2{
	background-color:#0017e8;}

.anim-circle__item--color3{
	background-color:#e7740a;}	

.anim-circle__item--color4{
	background-color:#f64840;}
	
.anim-circle__item--color5{ 
	background-color:#000;}
	
.anim-circle__item--color6{
	background-color:#00f79e;}	

.anim-circle__item--color7{
	background-color:#277602;}	
	
.anim-circle__item--color8{
	background-color:#00c9f7;}

.anim-circle__item--color9{
	background-color:#0057ff;}	
	
.anim-circle__item--color10{
    background-color:#01abf9;}

.anim-circle__item--color11{
    background-color:#ff0000;}

.anim-circle__item--color12{
    background-color:#4294db;}

.anim-circle__item--color13{
    background-color:#e7740a;}	
	
.anim-circle__item--color14{
    background-color:#5f01f9;}	
	
.anim-circle__activ:hover .anim-circle__item {
	transform: scale(2, 2);
	opacity: 0.3;}

.anim-circle__position--type1 .anim-circle__item,
.anim-circle__cross{
	width:30px;height:30px;
	bottom:-15px;left:50%;
	margin-left:-15px;}
@media(min-width:480px){
	.anim-circle__position--type1 .anim-circle__item,
	.anim-circle__cross{
		width:50px;height:50px;
	    bottom:-25px;left:50%;
  	    margin-left:-25px;}}
@media(min-width:768px){
	.anim-circle__position--type1 .anim-circle__item,
	.anim-circle__cross{
		width:30px;height:30px;
	    bottom:-15px;left:50%;
	    margin-left:-15px;}}
@media(min-width:992px){
	.anim-circle__position--type1 .anim-circle__item,
	.anim-circle__cross{
		width:50px;height:50px;
	    bottom:-25px;left:50%;
  	    margin-left:-25px;}}
@media(min-width:1200px){
	.anim-circle__position--type1 .anim-circle__item,
	.anim-circle__cross{
		width:60px;height:60px;
	    bottom:-30px;left:50%;
  	    margin-left:-30px;}}
@media(min-width:1440px){
	.anim-circle__position--type1 .anim-circle__item,
	.anim-circle__cross{
		font-size:80px;}}
	
.anim-circle__cross{
	display:block;
	content:'';
	position:absolute;
	background-image:url(../img/icons/plus-icon.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:20px 20px;
	border-radius:50%;}		
@media(min-width:1200px){
	.anim-circle__cross{
	    background-size:30px 30px;}}	
	
.anim-circle__activ:hover .anim-circle__position--type1 .anim-circle__item {
	background-image:none;
	transform: scale(31,31);}

.anim-circle__position--type2 .anim-circle__item {}

.anim-circle__activ:hover .anim-circle__position--type2 .anim-circle__item {
	transform: scale(1.5, 1.5);
	opacity: .8;}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	