.areas-of-practise.home-concept-one{
}
.areas-of-practise.home-concept-one .areas-of-practise-item{
width:100%;
height:auto;
float:left;
margin:0px 0px 30px 0px;
background:#e8dcb4;
transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
}
.areas-of-practise.home-concept-one .areas-of-practise-item:hover{
background:#9c865f;
}
.areas-of-practise.home-concept-one .areas-of-practise-item > .holder{
width:100%;
height:auto;
float:left;
}
.areas-of-practise.home-concept-one .areas-of-practise-item > .holder > .row{
margin-right:0;
margin-left:0;
}
.areas-of-practise.home-concept-one .areas-of-practise-item > .holder > .row > [class*="col-"]{
padding-right:0;
padding-left:0;
}
.areas-of-practise.home-concept-one .areas-of-practise-item > .holder .pic{
width:100%;
height:auto;
float:left;
text-align:center;
}
.areas-of-practise.home-concept-one .areas-of-practise-item > .holder .pic img{
display:inline-block;
vertical-align:top;
width:100%;
}
.areas-of-practise.home-concept-one .areas-of-practise-item > .holder .data{
width:100%;
height:auto;
float:left;
padding:25px 25px 25px 25px;
text-align:left;
}
.areas-of-practise.home-concept-one .areas-of-practise-item > .holder .data > *:last-child{
margin-bottom:0 !important;
}
.areas-of-practise.home-concept-one .areas-of-practise-item > .holder .data h4{
margin:0px 0px 7px 0px;
font-size:22px;
color:#474747;
line-height:30px;
transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
}
.areas-of-practise.home-concept-one .areas-of-practise-item:hover > .holder .data h4,
.areas-of-practise.home-concept-one .areas-of-practise-item:hover > .holder .data p{
color:#fff;
}
.areas-of-practise.home-concept-one .areas-of-practise-item > .holder .data p{
margin:0px 0px 15px 0px;
color:#373737;
transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
}
.areas-of-practise.home-concept-one .areas-of-practise-item > .holder .data .btn{
margin:5px 0px 15px 0px;
padding:4px 12px 7px 15px;
background:#a68f65;
border-radius:0;
font-size:15px;
color:#fff;
line-height:25px;
text-shadow:0px 2px 2px rgba(0,0,0,0.1);
cursor:pointer;
transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
}
.areas-of-practise.home-concept-one .areas-of-practise-item:hover > .holder .data .btn{
background:#2d241b;
}
.areas-of-practise.home-concept-one .areas-of-practise-item > .holder .data .btn i{
margin-left:5px;
transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
}
.areas-of-practise.home-concept-one .areas-of-practise-item > .holder .data .btn:hover i{
margin-left:10px;
} .areas-of-practise.home-concept-two{
}
.areas-of-practise.home-concept-two .areas-of-practise-item{
width:100%;
height:auto;
float:left;
margin:0px 0px 30px 0px;
}
.areas-of-practise.home-concept-two .areas-of-practise-item > a > .holder{
position:relative;
width:100%;
height:auto;
float:left;
padding:45px 15px 50px 15px;
border:1px #d8d8d8 solid;
text-align:center;
}
.areas-of-practise.home-concept-two .areas-of-practise-item > a > .holder:before,
.areas-of-practise.home-concept-two .areas-of-practise-item > a > .holder:after{
position:absolute;
z-index:0;
content:" ";
width:0;
height:0;
border:1px #a68f65 solid;
opacity:0;
visibility:hidden;
transition:all 0.7s ease-in-out;
-webkit-transition:all 0.7s ease-in-out;
}
.areas-of-practise.home-concept-two .areas-of-practise-item > a > .holder:before{
top:-1px;
left:-1px;
border-right:0;
border-bottom:0;
}
.areas-of-practise.home-concept-two .areas-of-practise-item > a > .holder:after{
bottom:-1px;
right:-1px;
border-top:0;
border-left:0;
}
.areas-of-practise.home-concept-two .areas-of-practise-item > a > .holder:hover:before,
.areas-of-practise.home-concept-two .areas-of-practise-item > a > .holder:hover:after{
width:calc(100% + 2px);
height:calc(100% + 2px);
opacity:1;
visibility:visible;
}
.areas-of-practise.home-concept-two .areas-of-practise-item > a > .holder .icon{
width:100%;
height:auto;
float:left;
margin:0px 0px 20px 0px;
}
.areas-of-practise.home-concept-two .areas-of-practise-item > a > .holder .icon img{
display:inline-block;
vertical-align:top;
}
.areas-of-practise.home-concept-two .areas-of-practise-item > a > .holder .data{
width:100%;
height:auto;
float:left;
}
.areas-of-practise.home-concept-two .areas-of-practise-item > a > .holder .data > *:last-child{
margin-bottom:0 !important;
}
.areas-of-practise.home-concept-two .areas-of-practise-item > a > .holder .data h4{
margin:0px 0px 7px 0px;
font-weight:700;
font-size:20px;
color:#816d53;
line-height:30px;
}
.areas-of-practise.home-concept-two .areas-of-practise-item > a > .holder .data p{
margin:0px 0px 15px 0px;
color:#373737;
} @media screen and (min-width:1200px){
} @media screen and (min-width:992px) and (max-width:1199px){
} @media screen and (min-width:768px) and (max-width:991px){
.areas-of-practise.home-concept-one .areas-of-practise-item > .holder .data{
text-align:center;
}
} @media screen and (min-width:480px) and (max-width:767px){
.areas-of-practise.home-concept-one .areas-of-practise-item > .holder .data{
text-align:center;
}
} @media screen and (min-width:321px) and (max-width:479px){
.areas-of-practise.home-concept-one .areas-of-practise-item > .holder .data{
text-align:center;
}
} @media screen and (max-width:320px){
.areas-of-practise.home-concept-one .areas-of-practise-item > .holder .data{
text-align:center;
}
} .advisors.home-concept-one{
}
.advisors.home-concept-one .advisors-item{
width:100%;
height:auto;
float:left;
padding:0px 1px 0px 1px;
}
.advisors.home-concept-one .advisors-item > .holder{
width:100%;
height:auto;
float:left;
}
.advisors.home-concept-one .advisors-item > .holder > .pic{
width:100%;
height:auto;
float:left;
margin:0px 0px 20px 0px;
}
.advisors.home-concept-one .advisors-item > .holder > .pic img{
width:100%;
border-radius:3px;
}
.advisors.home-concept-one .advisors-item > .holder > .data{
width:100%;
height:auto;
float:left;
text-align:center;
}
.advisors.home-concept-one .advisors-item > .holder > .data > *:last-child{
margin-bottom:0 !important;
}
.advisors.home-concept-one .advisors-item > .holder > .data h5{
margin:0px 0px 3px 0px;
color:#d5c79a;
}
.advisors.home-concept-one .advisors-item > .holder > .data h5 a{
color:#d5c79a;
}
.advisors.home-concept-one .advisors-item > .holder > .data p{
margin:0px 0px 3px 0px;
color:#fff;
}
.advisors.home-concept-one .advisors-item > .holder > .data ul{
margin:0px 0px 15px 0px;
}
.advisors.home-concept-one .advisors-item > .holder > .data ul li{
margin:0px 0px 3px 0px;
color:#fff;
}
.advisors.home-concept-one .advisors-item > .holder > .data ul li a{
color:#fff;
}
.advisors.home-concept-one .owl-dots{
width:100%;
height:auto;
margin:15px 0px 0px 0px;
font-size:0;
}
.advisors.home-concept-one.dot-left .owl-dots{
text-align:left;
}
.advisors.home-concept-one.dot-center .owl-dots{
text-align:center;
}
.advisors.home-concept-one.dot-right .owl-dots{
text-align:right;
}
.advisors.home-concept-one .owl-dots > .owl-dot{
display:inline-block;
vertical-align:top;
width:auto;
height:auto;
margin:0px 4px 0px 4px;
}
.advisors.home-concept-one .owl-dots > .owl-dot:first-child{
margin:0px 4px 0px 0px;
}
.advisors.home-concept-one .owl-dots > .owl-dot:last-child{
margin:0px 0px 0px 4px;
}
.advisors.home-concept-one .owl-dots > .owl-dot > span{
display:block;
width:12px;
height:12px;
background:#a68f65;
border-radius:50%;
cursor:pointer;
transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
}
.advisors.home-concept-one .owl-dots > .owl-dot.active > span{
background:#e8dcb4;
} .advisors.home-concept-two{
}
.advisors.home-concept-two .advisors-item{
width:100%;
height:auto;
float:left;
}
.advisors.home-concept-two .advisors-item > .holder{
width:100%;
height:auto;
float:left;
}
.advisors.home-concept-two .advisors-item > .holder > .pic{
position:relative;
width:100%;
height:auto;
float:left;
overflow:hidden;
}
.advisors.home-concept-two .advisors-item > .holder > .pic > .holder{
width:100%;
height:auto;
float:left;
text-align:center;
}
.advisors.home-concept-two .advisors-item > .holder > .pic > .holder img{
width:100%;
}
.advisors.home-concept-two .advisors-item > .holder > .pic > .overlay{
position:absolute;
top:0;
right:0;
bottom:0;
left:0;
z-index:1;
width:auto;
height:auto;
padding:30px 30px 30px 30px;
background:rgba(45,36,27,0.9);
transform:translateY(100%);
-webkit-transform:translateY(100%);
transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
}
.advisors.home-concept-two .advisors-item:hover > .holder > .pic > .overlay{
transform:translateY(0);
-webkit-transform:translateY(0);
}
.advisors.home-concept-two .advisors-item > .holder > .pic > .overlay > .table{
display:table;
table-layout:fixed;
width:100%;
height:100%;
margin:0;
}
.advisors.home-concept-two .advisors-item > .holder > .pic > .overlay > .table > .table-cell{
display:table-cell;
width:100%;
height:100%;
vertical-align:middle;
}
.advisors.home-concept-two .advisors-item > .holder > .pic > .overlay > .table > .table-cell > *:last-child{
margin-bottom:0 !important;
}
.advisors.home-concept-two .advisors-item > .holder > .pic > .overlay h5{
margin:0px 0px 7px 0px;
color:#fff;
}
.advisors.home-concept-two .advisors-item > .holder > .pic > .overlay h5 a{
color:#fff;
}
.advisors.home-concept-two .advisors-item > .holder > .pic > .overlay p{
margin:0px 0px 17px 0px;
color:#fff;
}
.advisors.home-concept-two .advisors-item > .holder > .pic > .overlay ul{
margin:0px 0px 25px 0px;
}
.advisors.home-concept-two .advisors-item > .holder > .pic > .overlay ul li{
margin:0px 0px 7px 0px;
color:#fff;
word-break:break-all;
}
.advisors.home-concept-two .advisors-item > .holder > .pic > .overlay ul li a{
color:#fff;
}
.advisors.home-concept-two .advisors-item > .holder > .pic > .overlay ul li i{
margin-right:10px;
font-size:16px;
}
.advisors.home-concept-two .advisors-item > .holder > .pic > .overlay .btn{
margin:5px 0px 15px 0px;
padding:4px 12px 7px 15px;
background:#a68f65;
border-radius:0;
font-size:15px;
color:#fff;
line-height:25px;
text-shadow:0px 2px 2px rgba(0,0,0,0.1);
cursor:pointer;
transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
}
.advisors.home-concept-two .advisors-item > .holder > .pic > .overlay .btn:hover{
}
.advisors.home-concept-two .advisors-item > .holder > .pic > .overlay .btn i{
margin-left:5px;
transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
}
.advisors.home-concept-two .advisors-item > .holder > .pic > .overlay .btn:hover i{
margin-left:10px;
}
.advisors.home-concept-two .advisors-item > .holder > .data{
width:100%;
height:auto;
float:left;
padding:14px 15px 16px 15px;
background:#ede5ca;
text-align:center;
}
.advisors.home-concept-two .advisors-item > .holder > .data > *:last-child{
margin-bottom:0 !important;
}
.advisors.home-concept-two .advisors-item > .holder > .data h4{
margin:0px 0px 6px 0px;
font-size:18px;
color:#2f2f39;
line-height:25px;
}
.advisors.home-concept-two .advisors-item > .holder > .data h4 a{
color:#2f2f39;
}
.advisors.home-concept-two .advisors-item > .holder > .data h5{
margin:0px 0px 10px 0px;
font-weight:400;
font-size:15px;
color:#585858;
line-height:23px;
}
.advisors.home-concept-two .owl-dots{
width:100%;
height:auto;
margin:30px 0px 0px 0px;
font-size:0;
}
.advisors.home-concept-two.dot-left .owl-dots{
text-align:left;
}
.advisors.home-concept-two.dot-center .owl-dots{
text-align:center;
}
.advisors.home-concept-two.dot-right .owl-dots{
text-align:right;
}
.advisors.home-concept-two .owl-dots > .owl-dot{
display:inline-block;
vertical-align:top;
width:auto;
height:auto;
margin:0px 4px 0px 4px;
}
.advisors.home-concept-two .owl-dots > .owl-dot:first-child{
margin:0px 4px 0px 0px;
}
.advisors.home-concept-two .owl-dots > .owl-dot:last-child{
margin:0px 0px 0px 4px;
}
.advisors.home-concept-two .owl-dots > .owl-dot > span{
display:block;
width:12px;
height:12px;
background:#a68f65;
border-radius:50%;
cursor:pointer;
transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
}
.advisors.home-concept-two .owl-dots > .owl-dot.active > span{
background:#e8dcb4;
}.blog.home-concept-one{
}
.blog.home-concept-one .blog-item{
width:100%;
height:auto;
float:left;
margin:0px 0px 30px 0px;
}
.blog.home-concept-one .blog-item > .holder{
width:100%;
height:auto;
float:left;
}
.blog.home-concept-one .blog-item > .holder > .pic{
width:100%;
height:auto;
float:left;
margin:0px 0px 30px 0px;
}
.blog.home-concept-one .blog-item > .holder > .data{
width:100%;
height:auto;
float:right;
padding:15px 15px 20px 15px;
border:1px #d2d2d2 solid;
text-align:left;
}
.blog.home-concept-one .blog-item > .holder > .data > *:last-child{
margin-bottom:0 !important;
}
.blog.home-concept-one .blog-item > .holder > .data h4{
margin:0px 0px 12px 0px;
font-size:18px;
line-height:30px;
}
.blog.home-concept-one .blog-item > .holder > .data h4 a{
color:#393939;
}
.blog.home-concept-one .blog-item > .holder > .data p{
margin:0px 0px 0px 0px;
transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
}
.blog.home-concept-one .blog-item > .holder > .data .btn{
margin:22px 0px 15px 0px;
padding:4px 12px 7px 15px;
background:#a68f65;
border-radius:0;
font-size:15px;
color:#fff;
line-height:25px;
text-shadow:0px 2px 2px rgba(0,0,0,0.1);
cursor:pointer;
transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
}
.blog.home-concept-one .blog-item > .holder > .data .btn:hover{
background:#2d241b;
}
.blog.home-concept-one .blog-item > .holder > .data .btn i{
margin-left:5px;
transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
}
.blog.home-concept-one .blog-item > .holder > .data .btn:hover i{
margin-left:10px;
} .testimonial.home-concept-one{
}
.testimonial.home-concept-one .testimonial-item{
width:100%;
height:auto;
float:left;
margin:0px 0px 35px 0px;
text-align:left;
}
.testimonial.home-concept-one .testimonial-item > .holder{
width:100%;
height:auto;
float:left;
}
.testimonial.home-concept-one .testimonial-item > .holder > .data{
width:100%;
height:auto;
float:left;
}
.testimonial.home-concept-one .testimonial-item > .holder > .data > *:last-child{
margin-bottom:0 !important;
}
.testimonial.home-concept-one  .testimonial-item > .holder > .data blockquote{
position:relative;
margin:0px 0px 10px 0px;
padding-left:30px;
}
.testimonial.home-concept-one  .testimonial-item > .holder > .data blockquote:before{
position:absolute;
top:-2px;
left:0;
z-index:0;
content:"\f10d";
font-family:'FontAwesome';
font-size:24px;
color:#c4c4c4;
line-height:24px;
}
.testimonial.home-concept-one  .testimonial-item > .holder > .data blockquote cite{
display:block;
margin:10px 0px 0px 0px;
text-align:right;
font-weight:600;
font-size:14px;
color:#2d241b;
font-style:normal;
} .testimonial.home-concept-two{
}
.testimonial.home-concept-two .testimonial-item{
width:100%;
height:auto;
float:left;
text-align:center;
}
.testimonial.home-concept-two .testimonial-item > .holder{
width:100%;
height:auto;
float:left;
}
.testimonial.home-concept-two .testimonial-item > .holder > .data{
width:100%;
height:auto;
float:left;
}
.testimonial.home-concept-two .testimonial-item > .holder > .data > *:last-child{
margin-bottom:0 !important;
}
.testimonial.home-concept-two  .testimonial-item > .holder > .data blockquote{
position:relative;
margin:0px 0px 10px 0px;
font-size:18px;
line-height:30px;
}
.testimonial.home-concept-two  .testimonial-item > .holder > .data blockquote:before{
margin-right:10px;
content:"\f10d";
font-family:'FontAwesome';
font-size:40px;
color:#a68f65;
line-height:40px;
}
.testimonial.home-concept-two  .testimonial-item > .holder > .data blockquote cite{
display:block;
margin:15px 0px 0px 0px;
font-weight:600;
font-size:14px;
color:#2d241b;
font-style:normal;
}
.testimonial.home-concept-two .owl-dots{
width:100%;
height:auto;
margin:30px 0px 0px 0px;
font-size:0;
}
.testimonial.home-concept-two.dot-left .owl-dots{
text-align:left;
}
.testimonial.home-concept-two.dot-center .owl-dots{
text-align:center;
}
.testimonial.home-concept-two.dot-right .owl-dots{
text-align:right;
}
.testimonial.home-concept-two .owl-dots > .owl-dot{
display:inline-block;
vertical-align:top;
width:auto;
height:auto;
margin:0px 4px 0px 4px;
}
.testimonial.home-concept-two .owl-dots > .owl-dot:first-child{
margin:0px 4px 0px 0px;
}
.testimonial.home-concept-two .owl-dots > .owl-dot:last-child{
margin:0px 0px 0px 4px;
}
.testimonial.home-concept-two .owl-dots > .owl-dot > span{
display:block;
width:12px;
height:12px;
background:#a68f65;
border-radius:50%;
cursor:pointer;
transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
}
.testimonial.home-concept-two .owl-dots > .owl-dot.active > span{
background:#e8dcb4;
}