@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
*{  
    margin:0px;
	padding:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;}
mark{
	background:none;}
.page{
	font-family: 'Open Sans', sans-serif;
	font-size:100%;
	font-weight:400;
	background-color: #000000;}

.section{
	width:100%;}
@media(min-width:768px){
	.section{
		width:750px;
		margin:0px auto;}}
@media(min-width:1024px){
	.section{
		width:100%;
		max-width:1140px;
		margin:0px auto;}}
		
.underline{position:relative;}
	.underline::after{
		display:block;
		content:'';
		position:absolute;
		left:0;bottom:-3px;
		width:100%;
		height: 3px;
		background-image:#ff7f02;
        background-image: -webkit-linear-gradient(1deg, #ff7f02, #650adc);
        background-image: -o-linear-gradient(1deg, #ff7f02, #650adc);
        background-image: linear-gradient(89deg, #ff7f02, #650adc);}	
	
.header{
	display:-webkit-box;
    display:-ms-flexbox;
           display:flex;
	 -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
       -ms-flex-direction:column;
           flex-direction:column;
	background:#fff;}
    
	.header__hidden{
		display:none;}
	@media(min-width:768px){
		.header__hidden{
		    display:block;}}
	
    .header__contacts{
		-webkit-box-ordinal-group:2;
                   -ms-flex-order:2;
                            order:2;
	background:#000;}
	@media(min-width:768px){
		.header__contacts{
		-webkit-box-ordinal-group:1;
                   -ms-flex-order:1;
	                        order:1;}}
					
	.contacts{
		display:-webkit-box;
        display:-ms-flexbox;
               display:flex;
	    -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
           -ms-flex-direction:column;
              flex-direction:column;
		padding:8px 0 20px 15px;
		font-size: 18px;
		color:#fff;}
	@media(min-width:768px){
		.contacts{
		    -webkit-box-orient:horizontal;
             -webkit-box-direction:normal;
                   -ms-flex-direction:row;
                       flex-direction:row;
		padding:12px 0px;}}	
			
		.contacts__number{
		    margin-top:20px;}
		@media(min-width:768px){
			.contacts__number{
			    -webkit-box-ordinal-group:2;
                           -ms-flex-order:2;
                                    order:2;
			margin-top:0;}}
				
	    .contacts__btn{
		    position:relative;
			padding-left:35px;
			margin-top:17px;}
		@media(min-width:768px){
			.contacts__btn{
			    -webkit-box-ordinal-group:3;
                           -ms-flex-order:3;
                                    order:3;
			margin-top:0;
			margin-left:30px;}}
        .contacts__btn::before{
			display:block;
			content:'';
			position:absolute;
			top:0;left:0;
			width:25px;height:25px;
			background:url('../img/phone-call.svg');}			
			
		.contacts__email{
			margin-top:17px;}
		@media(min-width:768px){
			.contacts__email{
			    -webkit-box-flex:1;
               -ms-flex-positive:1;
                       flex-grow:1;
			    -webkit-box-ordinal-group:1;
                           -ms-flex-order:1;
                                    order:1;
			margin-top:0;}}
	
	.header__general{
		-webkit-box-ordinal-group:1;
                   -ms-flex-order:1;
                            order:1;
		display:-webkit-box;
        display:-ms-flexbox;
               display:flex;
		-webkit-box-align: start;
           -ms-flex-align: start;
         align-items: flex-start;
		padding:5px 0 5px 15px;}
	@media(min-width:768px){
		.header__general{
		    -webkit-box-ordinal-group:2;
                       -ms-flex-order:2;
	                            order:2;
			padding:25px 0 5px 15px;}}
		
		.header__logo{
		    -webkit-box-flex:1;
            -ms-flex-positive:1;
                    flex-grow:1;
			-webkit-transition: width 0.3s;
               -moz-transition: width 0.3s;
                    transition: width 0.3s;}
					
		@media(min-width:768px){
			.header__logo{
				-webkit-box-flex:0;
                -ms-flex-positive:0;
                       flex-grow:0;
				width:37%;}}			
			
		    .header__logo a{
				display:block;
				width:162px;
				margin-top:20px;}
			@media(min-width:768px){
				.header__logo a{
					width:100%;
					height:51px;
					margin-top:0;}}

			.header__logo img{
				display:block;
				width:100%;
				height:100%;}
				
		.header__logo--hidden{
			width:0;}
        
		.header__search{
			position:relative;
			width:0%;
			min-width:20px;
			height:51px;
			-webkit-transition: width 0.3s;
               -moz-transition: width 0.3s;
                    transition: width 0.3s;}
		@media(min-width:768px){
			.header__search{
				width:60%;
				margin-left:3%;}}
		
		.header__search--active{
			position:relative;
			width:100%;
			min-width:auto;
			border-width:1px;
			border-style:solid;
			border-color:transparent;
            background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(76deg, #ff7f02, #650adc);
			background-origin: border-box;
            background-clip: content-box, border-box;
            border-radius: 8px;}
			
		.header__search--active>span{
			z-index:0 !important;}
		    
			.header__search>button, .header__search>input, .header__search>span{
				display:block;
				position:absolute;
				top:15px; right:0;
				border:none;
				outline:none;}
			
			.header__search>input{
				right:0;
				width:100%;
				padding-left:15px;
				font-size:18px;
				z-index:1;}
			@media(min-width:768px){
				.header__search>input{
					top:0;
					height:100%;
					border-radius: 8px;
                    border: solid 1px #9b9b9b;}}
			 
			.header__search>button, .header__search>span{
				width:35px;
				background:#fff;
				cursor:pointer;}
			
			.header__search>button img, .header__search>span img{
				display:block;
				width:20px;
				height:20px;}
			@media(min-width:768px){
				.header__search>button img{
					margin:0px auto;}}
			
			.header__search>button{
				display:block;
				z-index:1;}
			@media(min-width:768px){
				.header__search>button{
					top:0;
				    width:70px;
					height:100%;
                    border: solid 1px #9b9b9b;
					border-top-right-radius:8px;
					border-bottom-right-radius:8px;}}
				
			.header__search>span{
				display:block;
				z-index:2;}
			@media(min-width:768px){
				.header__search>span{
					display:none;}}
			 
		.header__button{
			position:relative;
			flex-grow:0;
			flex-shrink:0;
			flex-basis:24px;
			-ms-flex-item-align:stretch;
             -ms-grid-row-align:stretch;
                     align-self:stretch;
			margin-left:21px;
			margin-right:15px;
			padding-top:15px;
			cursor:pointer;}
		    
            .header__lines{
				width:100%;
				height:3px;
				margin-top:3px;
				background:#650adc;
				background-image: -webkit-linear-gradient(45deg, #ff7f02, #650adc);
                background-image: -o-linear-gradient(45deg, #ff7f02, #650adc);
                background-image: linear-gradient(45deg, #ff7f02, #650adc);}			
		
		@media(min-width:768px){
			.header__button{
				display:none;}}
		
	.header__nav{
		-webkit-box-ordinal-group:3;
                   -ms-flex-order:3;
                            order:3;
		background:#fff;}
    
	.menu-nav{
		display:-webkit-box;
        display:-ms-flexbox;
               display:flex;
	    -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
           -ms-flex-direction:column;
              flex-direction:column;
		padding:10px 0 30px 15px;
		list-style-type:none;}
	@media(min-width:768px){
		.menu-nav{
			-webkit-box-orient:horizontal;
             -webkit-box-direction:normal;
                   -ms-flex-direction:row;
                       flex-direction:row;
		padding:10px 0 5px 15px;}}
        .menu-nav__item{
			margin:10px 0;}
		@media(min-width:768px){
			.menu-nav__item{
				margin-left:42px;}
			.menu-nav__item:first-child{
				margin-left:0;}}
        
            .menu-nav .menu-nav__link{
		        display:block;
			    line-height:1;
			    text-decoration:none;
			    font-size:20px;
			    color:#000;}		
		
.main{
	position:relative;}

    .main__background-img{
	   position:absolute;
	   top:0;right:0;
	   width:180px;
	   height:180px;
	   border-bottom-left-radius:200px;
	   background:url('../img/lep.jpeg');
	   background-size:cover;
	   z-index:-111;}
    @media(min-width:460px){
	    .main__background-img{
		    width:50%;
		    height:250px;}}
    @media(min-width:768px){
	    .main__background-img{
		    width:50%;
		    height:380px;}}
    @media(min-width:1024px){
	    .main__background-img{
		    width:50%;
		    height:500px;}}

	.main__production{
		margin-top:50px;}
    @media(min-width:768px){
		.main__production{
		    margin-top:133px;}}		
			
	.main__feedback{
		width:100%;
	    max-width:470px;
		margin:60px auto 0 auto;
		padding-left:15px;
		padding-right:15px;}
	@media(min-width:768px){
		.main__feedback{
			max-width:768px;}}
			
.page-title{
		display:block;
		width:100%;
		max-width:290px;
		padding-top:21px;
		padding-left:15px;
		line-height:1;
		font-size:25px;
		/*font-size:1.56em;*/
		font-weight:800;
		color: #ffffff;}
@media(min-width:460px){
	.page-title{
		max-width:auto;
		font-size:37px;}}
@media(min-width:768px){
	.page-title{
		max-width:500px;
		font-size:61px;}}
@media(min-width:1024px){
	.page-title{
		max-width:900px;
		font-size:80px;}}
			
	    .page-title--style-1{
			color: #ff7f00;}
		.page-title--style-2{
			 color: #5452bf;}
		
.production{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;}
	
	.production--grid{
		padding:0 15px;}
	@media(min-width:768px){
		.production--grid{
		    padding:0;}}
	
	
	.production--grid .production__item{
		    justify-content:center;
			margin-top:30px;}
	@media(min-width:600px){
		.production--grid .production__item{
		    flex:0 0 50%;}}
	
		
		.production--grid .production__item  .production__img{
		    flex:0 0 94px;
			height:94px;
			margin:0;}
		@media(min-width:768px){
			.production--grid .production__item  .production__img{
		        flex:0 0 140px;
			    height:140px;
			    margin:0;}}
	    
	    .production--grid .production__item  .production__descr{
		   flex:0 0 170px;}
		@media(min-width:768px){
			.production--grid .production__item  .production__descr{
		        flex:0 0 220px;
				font-size:23px;}}
	
	.production__item{
		flex:0 0 100%;
		display:flex;
		overflow:hidden;}
		
	    .production__item--reverse{
			flex-direction: row-reverse;}
			
			.production__item--reverse>.production__img{
				margin-left:0;
			 	margin-right:-33px;}
			    @media(min-width:768px){
			        .production__item--reverse>.production__img{
				        margin-right:0;}}
            
            .production__item--reverse>.production__descr{
			    margin-left:0;
				margin-right:12px;
				text-align:right;}
			
        .production__img{
			flex:0 0 148px;
			height:148px;
			margin-left:-33px;}
		@media(min-width:768px){
			.production__img{
			    flex:0 0 350px;
			    height:350px;
				margin-left:0;}}
			
			.production__img img{
		        display:block;
				width:100%;
				height:auto;
				border-radius:50%;
				border-width:3px;
			    border-style:solid;
			    border-color:transparent;
                background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(42deg, #ff7f02, #650adc);
			    background-origin: border-box;
                background-clip: content-box, border-box;}
			
        
		.production__descr{
			flex:0 0 190px;
			align-self:center;
			margin-left:12px;
			font-size: 18px;
            font-weight: 800;
            line-height: 1.12;
			color: #ffffff;}	
			
        @media(min-width:768px){
			.production__descr{
		        font-size:35px;}}   
			
			.production__descr .underline::after{
			    bottom:0px;}		
				
.feedback{
    display:flex;
	flex-direction:column;}
	@media(min-width:768px){
		.feedback{
			flex-direction:row-reverse;}}
	
	
	.feedback__logo{
		flex:1 1 auto;
		background:purple;}
	@media(min-width:768px){
		.feedback__logo{
			flex:0 0 200px;}}
	    
	.feedback__descr{
		flex:1 1 auto;
		background:green;}
	@media(min-width:768px){
		.feedback__descr{
			flex:1 0 auto;}}
	
	
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		