@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
*{  
    margin:0px;
	padding:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;}
mark{
	background:none;}
.page{
	font-family: 'Open Sans', sans-serif;
	font-size:100%;
	font-weight:400;
	background-color: #000000;}

.btn{
	display:block;
	border-radius: 16px;
    border: solid 4px transparent;
    background-image: -webkit-linear-gradient(#ffffff, #ffffff), -webkit-linear-gradient(24deg, #ff7f02, #650adc);
    background-image: -o-linear-gradient(#ffffff, #ffffff), -o-linear-gradient(24deg, #ff7f02, #650adc);
    background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(66deg, #ff7f02, #650adc);
    background-origin: border-box;
    background-clip: content-box, border-box;
    cursor:pointer;}	
	
.section{
	width:100%;}
@media(min-width:768px){
	.section{
		max-width:738px;
		margin:0 auto;}}

@media(min-width:1024px){
	.section{
		max-width:960px;}}
		
@media(min-width:1200px){
	.section{
		max-width:1140px;}}
		

	.underline{
		display:inline;
        background-image: -webkit-linear-gradient(1deg, #ff7f02, #650adc);
        background-image: -o-linear-gradient(1deg, #ff7f02, #650adc);
        background-image: linear-gradient(89deg, #ff7f02, #650adc);
		background-position: 0 95%;
		background-repeat: repeat-x;
        background-size: 100% 3px;}	
	
	
.bread-crumbs{
	display:none;
	padding-top:12px;
	font-size:14px;
	font-weight:400;}
    .bread-crumbs a{
	    text-decoration:none;
	    color:#fff;}
@media(min-width:768px){
	.bread-crumbs{
		display:block;}}

.bread-crumbs .bread-crumbs__item:after{
	display:inline;
	content:'\002F';
	padding:0 5px;
	color:#fff;}	
.bread-crumbs .bread-crumbs__item:last-child:after{
	display:inline;
	content:'';
	padding:0 5px;}	
	
.header{
	position:relative;
	display:-webkit-box;
    display:-ms-flexbox;
           display:flex;
	 -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
       -ms-flex-direction:column;
           flex-direction:column;
	background:#fff;}
    
	.header__hidden{
		display:none;}
	@media(min-width:768px){
		.header__hidden{
		    display:block;}}
	
	.header__nav, .header__contacts{
		position:absolute;
		width:100%;
		z-index:9999;} 
	@media(min-width:768px){
		.header__nav, .header__contacts{
			position:static;}}
	.header__contacts{
		top:60px;}
	.header__nav{
		top:214px;}
							

	.header__nav{
		-webkit-box-ordinal-group:3;
                   -ms-flex-order:3;
                            order:3;
		background:#fff;}
	
    .header__contacts{
		-webkit-box-ordinal-group:2;
                   -ms-flex-order:2;
                            order:2;
	background:#000;}
	@media(min-width:768px){
		.header__contacts{
		-webkit-box-ordinal-group:1;
                   -ms-flex-order:1;
	                        order:1;}}
	
	.contacts{
		display:-webkit-box;
        display:-ms-flexbox;
               display:flex;
	    -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
           -ms-flex-direction:column;
              flex-direction:column;
		padding:8px 0 20px 15px;
		font-size: 18px;
		color:#fff;}
	@media(min-width:768px){
		.contacts{
		    -webkit-box-orient:horizontal;
             -webkit-box-direction:normal;
                   -ms-flex-direction:row;
                       flex-direction:row;
		padding:12px 0px;}}	
			
		.contacts__number{
		    margin-top:20px;}
		@media(min-width:768px){
			.contacts__number{
			    -webkit-box-ordinal-group:2;
                           -ms-flex-order:2;
                                    order:2;
			margin-top:0;}}
				
	    .contacts__btn{
		    position:relative;
			padding-left:35px;
			margin-top:17px;}
		@media(min-width:768px){
			.contacts__btn{
			    -webkit-box-ordinal-group:3;
                           -ms-flex-order:3;
                                    order:3;
			margin-top:0;
			margin-left:30px;}}
        .contacts__btn::before{
			display:block;
			content:'';
			position:absolute;
			top:0;left:0;
			width:25px;height:25px;
			background:url('../img/phone-call.svg');}			
			
		.contacts__email{
			margin-top:17px;}
		@media(min-width:768px){
			.contacts__email{
			    -webkit-box-flex:1;
               -ms-flex-positive:1;
                       flex-grow:1;
			    -webkit-box-ordinal-group:1;
                           -ms-flex-order:1;
                                    order:1;
			margin-top:0;}}
	
	.header__general{
		-webkit-box-ordinal-group:1;
                   -ms-flex-order:1;
                            order:1;
		display:-webkit-box;
        display:-ms-flexbox;
               display:flex;
		-webkit-box-align: start;
           -ms-flex-align: start;
         align-items: flex-start;
		padding:5px 0 5px 15px;}
	@media(min-width:768px){
		.header__general{
		    -webkit-box-ordinal-group:2;
                       -ms-flex-order:2;
	                            order:2;
			padding:25px 0 5px 0px;}}
	
		.header__logo{
		    -webkit-box-flex:1;
            -ms-flex-positive:1;
                    flex-grow:1;
			-webkit-transition: width 0.3s;
               -moz-transition: width 0.3s;
                    transition: width 0.3s;
			margin-top:15px;}
					
		@media(min-width:768px){
			.header__logo{
				-webkit-box-flex:0;
                -ms-flex-positive:0;
                       flex-grow:0;
				margin-top:0px;
				width:37%;}}			
			
		    .logo{
				display:block;
				width:162px;}
			@media(min-width:768px){
				.logo{
					width:100%;
					height:51px;
					margin-top:0;}}

			.logo img{
				display:block;
				width:100%;
				height:100%;}
				
		.header__logo--hidden{
			width:0;}
        
		.header__search{
			position:relative;
			width:0%;
			min-width:20px;
			height:51px;
			-webkit-transition: width 0.3s;
               -moz-transition: width 0.3s;
                    transition: width 0.3s;}
		@media(min-width:768px){
			.header__search{
				width:60%;
				margin-left:3%;}}
		
		.header__search--active{
			position:relative;
			width:100%;
			min-width:auto;
			border-width:1px;
			border-style:solid;
			border-color:transparent;
            background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(76deg, #ff7f02, #650adc);
			background-origin: border-box;
            background-clip: content-box, border-box;
            border-radius: 8px;}
			
		.header__search--active>span{
			z-index:0 !important;}
		    
			.header__search>button, .header__search>input, .header__search>span{
				display:block;
				position:absolute;
				top:15px; right:0;
				border:none;
				outline:none;}
			
			.header__search>input{
				right:0;
				width:100%;
				padding-left:15px;
				font-size:18px;
				z-index:1;}
			@media(min-width:768px){
				.header__search>input{
					top:0;
					height:100%;
					border-radius: 8px;
                    border: solid 1px #9b9b9b;}}
			 
			.header__search>button, .header__search>span{
				width:35px;
				background:#fff;
				cursor:pointer;}
			
			.header__search>button img, .header__search>span img{
				display:block;
				width:20px;
				height:20px;}
			@media(min-width:768px){
				.header__search>button img{
					margin:0px auto;}}
			
			.header__search>button{
				display:block;
				z-index:1;}
			@media(min-width:768px){
				.header__search>button{
					top:0;
				    width:70px;
					height:100%;
                    border: solid 1px #9b9b9b;
					border-top-right-radius:8px;
					border-bottom-right-radius:8px;}}
				
			.header__search>span{
				display:block;
				z-index:2;}
			@media(min-width:768px){
				.header__search>span{
					display:none;}}
			 
		.header__button{
			position:relative;
			flex-grow:0;
			flex-shrink:0;
			flex-basis:24px;
			-ms-flex-item-align:stretch;
             -ms-grid-row-align:stretch;
                     align-self:stretch;
			margin-left:21px;
			margin-right:15px;
			padding-top:15px;
			cursor:pointer;}
			
		.header__button img{
			width:100%;}
		    
            .header__lines{
				width:100%;
				height:3px;
				margin-top:3px;
				background:#650adc;
				background-image: -webkit-linear-gradient(45deg, #ff7f02, #650adc);
                background-image: -o-linear-gradient(45deg, #ff7f02, #650adc);
                background-image: linear-gradient(45deg, #ff7f02, #650adc);}			
		
		@media(min-width:768px){
			.header__button{
				display:none;}}
		
	.menu-nav{
		display:-webkit-box;
        display:-ms-flexbox;
               display:flex;
	    -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
           -ms-flex-direction:column;
              flex-direction:column;
		padding:10px 0 30px 15px;
		list-style-type:none;}
	@media(min-width:768px){
		.menu-nav{
			-webkit-box-orient:horizontal;
             -webkit-box-direction:normal;
                   -ms-flex-direction:row;
                       flex-direction:row;
		padding:10px 0 5px 0px;}}
        .menu-nav__item{
			margin:10px 0;}
		@media(min-width:768px){
			.menu-nav__item{
				margin-left:42px;}
			.menu-nav__item:first-child{
				margin-left:0;}}
        
            .menu-nav .menu-nav__link{
		        display:block;
			    line-height:1;
			    text-decoration:none;
			    font-size:20px;
			    color:#000;}		
		
.main{}

	.main__title{
		position:relative;
		padding-left:15px;}
	@media(min-width:768px){
		.main__title{
			padding-left:0;}}
	.main__title::after{
	    display:block;
	    content:'';
	    clear:both;}
	
	.main__title-bottom{
		padding-top:40px;
		padding-bottom:60px;}
	.main__title-btn{
		width:200px;
		margin:0px auto;}
	@media(min-width:768px){
		.main__title-btn{
			margin:0;}}
		
	.main__title-btn span{
		display:block;
		padding-top:19px;
		padding-bottom:19px;
		font-size: 20px;
        font-weight:700;
        line-height: 1.3;
        color: #000000;
		text-transform:capitalize;}
	
    .main__background-img{
	    float:right;
	    width:57.9%;
	    min-width:180px;
		opacity: 0.7;
		border-bottom-left-radius:61%;
	    background:url(../img/lep.jpeg) no-repeat;
	    background-size:cover;}
	.main__background-img--absolute{
		float:none;
		position:absolute;
		top:0; right:0;
		z-index:-100;}	
    @media(min-width:768px){
	    .main__background-img{
			width:49%;
		    height:390px;
			border-bottom-left-radius:280px;}}
    @media(min-width:1024px){
	    .main__background-img{
		    height:502px;
			border-bottom-left-radius:390px;}}
	@media(min-width:1140px){
	    .main__background-img{
		    height:525px;
			border-bottom-left-radius:480px;}}

	.main__production{
		margin-top:20px;}
    @media(min-width:768px){
		.main__production{
		    margin-top:0;}}	
			
	.main__table{
		padding:0 15px;}
	@media(min-width:768px){
		.main__table{
			padding:0;}}	
		

	.main__feedback{
		width:100%;
	    max-width:400px;
		margin:0 auto;
		padding-left:15px;
		padding-right:15px;}
	@media(min-width:768px){
		.main__feedback{
			padding:0;
			max-width:738px;}}
	@media(min-width:1024px){
		.main__feedback{
			max-width:960px;}}
	@media(min-width:1200px){
		.main__feedback{
			max-width:1140px;}}	
		
	.description{
		font-size: 16px;
        font-weight: normal;
		color:#fff;
		padding:30px 15px 0 15px;}	
	@media(min-width:768px){
		.description{
			padding:7% 15px 0 15px;}}
        
		.description__item{
			width:82%;
			line-height: normal;
			margin-top:30px;}

        .description__text-block{
			display:block;}		
			
.respons-height{
	padding-top:100%;}		
@media(min-width:768px){
	.respons-height{
		display:none;}}			
		
.page-wrapper{
	position:relative;
	z-index:6;
	color: #fff;}
		
.page-title{
	    position:absolute;
		top:20px;
		display:block;
		width:91%;
		line-height:1;
		font-size:25px;
		font-size:7.8vw;
		/*font-size:1.56em;*/
		font-weight:800;}
		
		.page__title--small{
			display:block;
			padding-top:4.2%;
            font-weight:bold;
		    font-size:25px;
		    font-size:7.8vw;
			line-height:1;
		    z-index:6;}		
		
@media(min-width:768px){
	.page-title{
		max-width:607px;
		font-size:52px;}
	.page__title--small{
        font-size:38px;
		width:62%;}}
@media(min-width:1024px){
	.page-title{
		max-width:777px;
		font-size:67px;}
	.page__title--small{
        font-size:50px;}}
@media(min-width:1200px){
	.page-title{
		max-width:930px;
		font-size:80px;}
		.page__title--small{
        font-size:60px;}}

			
	    .page-title--style-1{
			color: #ff7f00;}
		.page-title--style-2{
			 color: #5452bf;}
	
.page-text{
	display:block;
	padding-top:22px;
	font-weight:400;
	font-size:16px;
	color:#fff;}	
	.page-text--small{
		max-width:289px;}
	@media(min-width:768px){
		.page-text{
			width:52.2%;
			max-width:420px;
			max-width:none;}}		
.production{
	display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	      -ms-flex-direction:row;
	          flex-direction:row;
	-ms-flex-wrap:wrap;
	    flex-wrap:wrap;}
	
	.production--grid{
		padding:0 15px;
		-webkit-box-orient:vertical;
        -webkit-box-direction:normal;
           -ms-flex-direction:column;
               flex-direction:column;
		-webkit-box-align:center;
		   -ms-flex-align:center;
		      align-items:center;}
	@media(min-width:768px){
		.production--grid{
			-webkit-box-orient:horizontal;
             -webkit-box-direction:normal;
                   -ms-flex-direction:row;
                       flex-direction:row;
		    padding:0;
			margin-top:150px;}}
	
	
	.production--grid .production__item{
		    width:100%;
		    -webkit-box-pack:center;
               -ms-flex-pack:center;
             justify-content:center;
			margin-top:30px;}
	@media(min-width:768px){
		.production--grid .production__item{
		    -webkit-box-flex:1;
              -ms-flex:1 0 50%;
                  flex:1 0 50%;
			margin-top:7.01%;}}
	
		
		.production--grid .production__item  .production__img{
		    -webkit-box-flex:0;
            -ms-flex:0 0 31.25%;
                flex:0 0 31.25%;
			max-width:150px;
			margin:0;}
		@media(min-width:768px){
			.production--grid .production__item  .production__img{
		        -webkit-box-flex:0;
                  -ms-flex:0 0 36%;
                      flex:0 0 36%;
				max-width:none;
			    margin:0;}}
	    
	    .production--grid .production__item  .production__descr{
		    -webkit-box-flex:0;
            -ms-flex:0 1 185px;
                flex:0 1 185px;
		    font-size:18px;}
		  
		@media(min-width:428px){
			.production--grid .production__item  .production__descr{
		        font-size:20px;}}
		@media(min-width:500px){
			.production--grid .production__item  .production__descr{
		        font-size:22px;}}
		@media(min-width:680px){
			.production--grid .production__item  .production__descr{
		        font-size:23px;}}
		@media(min-width:768px){
			.production--grid .production__item  .production__descr{
				 -webkit-box-flex:1;
                -ms-flex:1 1 30.08%;
                    flex:1 1 30.08%;
				font-size:22px;
				margin-left:12px;}}
		@media(min-width:1024px){
			.production--grid .production__item  .production__descr{
				font-size:28px;
				margin-left:12px;}}
		@media(min-width:1200px){
			.production--grid .production__item  .production__descr{
				font-size:34px;
				margin-left:12px;}}
	
	.production__item{
		-webkit-box-flex:0;
         -ms-flex:0 0 100%;
             flex:0 0 100%;
		display:-webkit-box;
        display:-ms-flexbox;
               display:flex;
	    text-decoration:none;
		overflow:hidden;}
		
	    .production__item--reverse{
			-webkit-box-orient: horizontal;
            -webkit-box-direction: reverse;
           -ms-flex-direction: row-reverse;
               flex-direction: row-reverse;}
			
			.production__item--reverse>.production__img{
				margin-left:0;
			 	margin-right:-10.3%;}
			    @media(min-width:768px){
			        .production__item--reverse>.production__img{
				        margin-right:0;}}
            
            .production__item--reverse>.production__descr{
			    margin-left:0;
				margin-right:12px;
				text-align:right;}
			@media(min-width:768px){
				.production__item--reverse>.production__descr{
					margin-left:0;
					margin-right:4.64%;}}
			
        .production__img{
			-webkit-box-flex:0;
            -ms-flex:0 0 46.25%;
                flex:0 0 46.25%;
			margin-left:-10.3%;
			max-width:300px;
			/*clear float*/
			overflow:hidden;}
		.production__img::before{
			display:block;
			content:'';
			padding-top:100%;
			float:left;}
		@media(min-width:768px){
			.production__img{
				max-width:none;
				margin-left:0;}}
		
			
			.production__img img{
		        display:block;
				/*square*/
				width:100%;
				height:100%;
				border-radius:50%;
				border-width:3px;
			    border-style:solid;
			    border-color:transparent;
                background-image: -webkit-linear-gradient(#ffffff, #ffffff), -webkit-linear-gradient(48deg, #ff7f02, #650adc);
                background-image: -o-linear-gradient(#ffffff, #ffffff), -o-linear-gradient(48deg, #ff7f02, #650adc);
                background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(42deg, #ff7f02, #650adc);
			    background-origin: border-box;
                background-clip: content-box, border-box;}
        
		.production__descr{
			-webkit-box-flex:1;
            -ms-flex:1 1 auto;
                flex:1 1 auto;
			-ms-flex-item-align:center;
			 -ms-grid-row-align:center;
			         align-self:center;
			margin-left:3.75%;
			font-size:18px;
			font-size: 5.625vw;
            font-weight: 800;
            line-height: 1.12;
			color: #ffffff;}	
			
		.production__descr a{
			display:block;
			text-decoration:none;
			color: #ffffff;}	
			
        @media(min-width:768px){
			.production__descr, .production__item--reverse>.production__descr{
		        font-size:39px;
				margin-left:4.64%;}}
        @media(min-width:1024px){
			.production__descr, .production__item--reverse>.production__descr{
		        font-size:50px;}}
        @media(min-width:1200px){
			.production__descr, .production__item--reverse>.production__descr{
		        font-size:60px;}}				

				
				
.feedback{
	margin-top:60px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	border: solid 4px transparent;
    background-image: -webkit-linear-gradient(#ffffff, #ffffff), -webkit-linear-gradient(57deg, #ff7f02, #650adc);
    background-image: -o-linear-gradient(#ffffff, #ffffff), -o-linear-gradient(57deg, #ff7f02, #650adc);
    background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(33deg, #ff7f02, #650adc);
    background-origin: border-box;
    background-clip: content-box, border-box;
	border-radius: 36px;
	overflow:hidden;}
	@media(min-width:768px){
		.feedback{
			margin-top:12.2%;
		    -webkit-box-orient:horizontal;
            -webkit-box-direction:reverse;
            -ms-flex-direction:row-reverse;
            flex-direction:row-reverse;}}
	
	
	.feedback__logo{
		-webkit-box-flex:1;
         -ms-flex:1 1 auto;
             flex:1 1 auto;
		background:#000;
		padding:15px 15px 0 15px;}
	.feedback__logo::after{
		display:block;
		content:'';
		clear:both;}
	@media(min-width:768px){
		.feedback__logo{
			flex:0 0 225px;}}
	@media(min-width:1024px){
		.feedback__logo{
			flex:0 0 290px;}}
	@media(min-width:1200px){
		.feedback__logo{
		    flex:0 0 340px;}}
	
	.feedback__img{
		float:left;
		width:90px;}
	@media(min-width:768px){
		.feedback__img{
			float:none;
			position:relative;
			top:50%;
			margin-top:-70%;
			width:100%;}}
	    
		.feedback__img img{
			display:block;
			width:100%;
			height:auto;}
	
    .feedback__title{
		display:none;
		padding-bottom:30px;
		font-size:32px;
		font-weight: 800;
		line-height: 1.2}
	@media(min-width:768px){
		.feedback__title{
			display:block;
			width:90%;}}
	@media(min-width:1024px){
		.feedback__title{
			display:block;
			font-size:42px;}}
	@media(min-width:1200px){
		.feedback__title{
			width:100%;
			font-size:50px;}}
	
	.feedback__title--mobile{
		    display:block;
			max-width:250px;
			margin-top:25px;
			margin-left:100px;
			line-height: 1;
			font-size: 25px;
			font-weight:700;
			color:#fff;}		
		
	@media(min-width:768px){
	    .feedback__title--mobile{
		    display:none;}	
	}
	
	    
	.feedback__descr{
		-webkit-box-flex:1;
        -ms-flex:1 1 auto;
            flex:0 1 auto;
		padding-left:15px;
		padding-right:15px;
		background:#000;}
	@media(min-width:768px){
		.feedback__descr{
			-webkit-box-flex:1;
             -ms-flex:1 1 auto;
                 flex:1 1 auto;
		padding:7.3% 0 10.7% 10.7%;
		font-size:20px;}}
	@media(min-width:1140px){
		.feedback__descr{
			-webkit-box-flex:1;
             -ms-flex:1 1 auto;
                 flex:1 1 auto;}}
	
	.feedback__text-box{
		max-width:250px;
		margin:15px auto 0 auto;
		font-size:18px;
		font-weight:700;
		color:#fff;}
	@media(min-width:768px){
		.feedback__text-box{
			width:100%;
			margin:20px 0 0 0;
			max-width:none;}}
		
	.feedback__text-block--regular{
		font-weight:400;}
	@media(min-width:768px){
		.feedback__text-block--regular{
			width:80%;}}
	@media(min-width:1024px){
		.feedback__text-block--regular{
			width:70%;}}
	@media(min-width:1200px){
		.feedback__text-block--regular{
			width:340px;}}
		
	
		
	.feedback__text-transfor, .feedback__text-block{
		display:block;}
	
	@media(min-width:768px){
		.feedback__text-transfor{
			display:inline;}}
		
	
		
	.feedback__link{
		text-decoration:none;
		cursor:pointer;
		color:#fff;}
    .feedback__link:hover{
		color:#ff7f00;}		
		
	.feedback__bottom{
		padding-top:40px;
		padding-bottom:40px;
		background:#000;}	
		
	@media(min-width:768px){
		.feedback__bottom{
			display:none;}}	
		
	.feedback__btn{
		width:200px;
		margin:0 auto;}
		
	.feedback__btn span{
		display:block;
		padding-top:19px;
		padding-bottom:19px;
		font-size: 20px;
        font-weight:700;
        line-height: 1.3;
        color: #000000;
		text-transform:capitalize;}
	
		
.footer{
	padding-left:15px;
	padding-right:15px;}
	
	.footer__top{
		margin-top:30px;}
	
	.footer__bottom{
		margin-top:40px;
		line-height: 1.25;
		font-weight:700;
		font-size:16px;}
	
    .footer__top, .footer__bottom{
		display:-webkit-box;
        display:-ms-flexbox;
               display:flex;
		-webkit-box-orient:vertical;
       -webkit-box-direction:normal;
          -ms-flex-direction:column;
              flex-direction:column;
		color:#fff;}
	@media(min-width:768px){
		.footer__top{
			margin-top:9.64%;}
		.footer__top, .footer__bottom{
			-webkit-box-orient:horizontal;
            -webkit-box-direction:normal;
                   -ms-flex-direction:row;
                       flex-direction:row;
			-webkit-box-align:start;
               -ms-flex-align:start;
             align-items:flex-start;}
		.footer__bottom{
			 -webkit-box-orient:horizontal;
             -webkit-box-direction:reverse;
            -ms-flex-direction:row-reverse;
                flex-direction:row-reverse;
			      -webkit-box-pack:justify;
                     -ms-flex-pack:justify;
             justify-content:space-between;
		padding-bottom:20px;
		margin-top:6.84%;}}		
	
	.footer__copyright{
		margin-top:40px;
		margin-bottom:10px;}
	@media(min-width:768px){
		.footer__copyright{
			margin-top:0;
			margin-bottom:0;}}
	
	.footer__transform{
		display:block;}
	@media(min-width:768px){
		.footer__transform{
			display:inline;}}
	
        .footer__contacts, .footer__adress{
			-webkit-box-flex:1;
             -ms-flex:1 1 auto;
                 flex:1 1 auto;
			margin-top:30px;}
		@media(min-width:420px) and (max-width:767px){
			.footer__contacts, .footer__adress, .footer__logo, .footer__copyright, .footer__made-by{
				text-align:center;}}
		
		.footer__logo{
			position:relative;
			display:none;
			height:30px;
			text-align:right;}
		
		.footer__img{
			    position:absolute;
				right:0;
				width:100%;
				max-width:240px;}
			.footer__img img{
				display:block;
				width:100%;
				height:auto;}
		
		@media(min-width:768px){
			.footer__contacts, .footer__adress{
				-webkit-box-flex:0;
                 -ms-flex:0 0 auto;
                     flex:0 0 auto;
				margin-right:8%;}
			.footer__logo{
				display:block;
				margin-top:30px;
				-webkit-box-flex:1;
                 -ms-flex:1 1 auto;
                     flex:1 1 auto;}}

        .footer__contacts .footer__text{
			margin-top:10px;}
		
		.footer__adress{
			line-height: 1.56;}
		
		
		.footer__title, .footer__text{
			}
			
		.footer__title{
			font-size: 25px;
            font-weight: 800;
			text-transform:capitalize;}
			
		.footer__text{
			font-size: 18px;
            font-weight: 700;}
			
		.footer__quotes::after, .footer__quotes::before{
			display:inline;}
		.footer__quotes::after{
			content:"\00bb";}
		.footer__quotes::before{
			content:"\00ab";}
			
		.footer__uppercase{
			text-transform:uppercase;}
		
		
	.product-grid, .product-grid__wr{
		position:relative;
	    z-index:1002;}
	
	.product-grid{
		display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		    -ms-flex-direction:column;
		        flex-direction:column;
		-webkit-box-align:center;
		    -ms-flex-align:center;
		        align-items:center;
		padding:0 15px;}	
	@media(min-width:768px){
		.product-grid{
			-webkit-box-orient:horizontal;
             -webkit-box-direction:normal;
                   -ms-flex-direction:row;
                       flex-direction:row;}}	
	
		
	.product-grid__item{
		width:100%;
		max-width:500px;
		margin-top:30px;}
	@media(min-width:768px){
		.product-grid__item{
			-webkit-box-flex:1;
			  -ms-flex:1 1 50%;
			      flex:1 1 50%;
			max-width:none;
			position:relative;
			margin-top:5.3%;}}
		
		.product-grid__wr{
			position:relative;
			margin:0 auto;}
		@media(min-width:768px){
			.product-grid__wr{
				max-width:none;}}
		
		.product-grid__wr:after{
			display:block;
		    content:'';
			clear:both;}
			
		.product-grid__logo{
			position:relative;
			width:35%;
			float:left;
			overflow:hidden;}
			
		@media(min-width:768px){
			.product-grid__logo{
				width:36%;}}	
			
				.product-grid__logo::before{
			        content: "";
                    padding-top: 100%;
                    float: left;}	
			
		.product-grid__logo img{
			position:absolute;
			display:block;
			width:100%;
			height:100%;
			border-radius:50%;
			border:3px solid transparent;
			background-image: -webkit-linear-gradient(#000000, #000000), -webkit-linear-gradient(44deg, #ff7f02, #650adc);
            background-image: -o-linear-gradient(#000000, #000000), -o-linear-gradient(44deg, #ff7f02, #650adc);
            background-image: linear-gradient(#000000, #000000), linear-gradient(46deg, #ff7f02, #650adc);
            background-origin: border-box;
            background-clip: content-box, border-box;}
			
		.product-grid__descr{
			position:absolute;
			left:35%;
			display:-webkit-box;
            display:-ms-flexbox;
                   display:flex;
			padding-left:3.75%;
			width:56.25%;
			height:100%;
			color:#fff;
			-webkit-box-align:center;
               -ms-flex-align:center;
                  align-items:center;}
		
        @media(min-width:768px){
			.product-grid__descr{
				left:36%;}}			
			
		.product-grid__descr span{
			position:relative;
			font-size: 18px;
			font-size:5.625vw;
            font-weight: 800;
			color:#fff;
			cursor:pointer;}
			
		.product-grid__arrow:before, .product-grid__arrow:after{
			display:block;
			content:'';
			position:absolute;
			top:100%;left:0;}	
			
		.product-grid__arrow:before{
			width:46px;height:18px;
			z-index:1001;
			background-image: -webkit-linear-gradient(26deg, #ff7f02, #650adc);
            background-image: -o-linear-gradient(26deg, #ff7f02, #650adc);
            background-image: linear-gradient(64deg, #ff7f02, #650adc);}
        .product-grid__arrow:after{
			width:0;height:0;
			border-right:23px solid #000;
			border-left:23px solid #000;
			border-top: 18px solid transparent;
			content:'';
			z-index:1002;}	
         
		 
		 
        .product-grid__arrow--hide:after{
			border-top: 0px solid transparent;
			border-bottom: 18px solid transparent;}		
			
		@media(min-width:768px){
			.product-grid__descr span{
				font-size:22.14px;}}
		@media(min-width:1024px){
			.product-grid__descr span{
				font-size:28.8px;}}
		@media(min-width:1140px){
			.product-grid__descr span{
				font-size:34px;}}		
		

		
		.productMenuHide{
			display:none;}
		.productMenuVisible{
			display:block;}
		
		.product-grid__menu{
			position:relative;
			top:-20px;
			transition:height 1s;
			border-radius: 36px;
            border: solid 4px transparent;
            background-image: -webkit-linear-gradient(#000000, #000000), -webkit-linear-gradient(44deg, #ff7f02, #650adc);
            background-image: -o-linear-gradient(#000000, #000000), -o-linear-gradient(44deg, #ff7f02, #650adc);
            background-image: linear-gradient(#000000, #000000), linear-gradient(46deg, #ff7f02, #650adc);
            background-origin: border-box;
            background-clip: content-box, border-box;
			z-index:1000;}
		@media(min-width:768px){
			.product-grid__menu{
				position:absolute;
				top:90%;
				width:96%;}}
			
			.product-grid__menu>ul{
				padding:18px 15px;
				list-style-type:none;}
			    
				.product-grid__menu>ul>li{
					margin-top:12px;
					font-size:18px;}
				@media(min-width:768px){
					.product-grid__menu>ul>li{
					    margin-top:18px;
						font-size:20px;}}
				
				    .product-grid__menu>ul>li>a{
						display:block;
						text-decoration:none;
						color:#fff;}
	                .product-grid__menu>ul>li>a:hover{
						color:#ff7f00;}
				

				
		.shadow{
			position:relative;}
		.shadow__item{
			position:absolute;
			width:100%;
			height:100%;
			background:rgba(0,0,0,0.75);
			z-index:999;}
		.shadow--hide{
			display:none;}
		
		.table{
			border-radius: 36px;
			border: solid 4px transparent;
            background-image: -webkit-linear-gradient(#000000, #000000), -webkit-linear-gradient(44deg, #ff7f02, #650adc);
            background-image: -o-linear-gradient(#000000, #000000), -o-linear-gradient(44deg, #ff7f02, #650adc);
            background-image: linear-gradient(#000000, #000000), linear-gradient(46deg, #ff7f02, #650adc);
            background-origin: border-box;
            background-clip: content-box, border-box;
			overflow:hidden;}
			
		@media(min-width:768px){
			.table{
				margin:8.77% auto 0 auto;}}
			
			.table__container{
				width:100%;
				background:#fff;
				padding:2.63%;
				overflow-x:scroll;
				box-sizing:border-box;}
			@media(min-width:1024px){
				.table__container{
					overflow-x:auto;}}

            .table__body{
				width:100%;
				min-width:800px;
				border-collapse: collapse;}
				
			.table__header{
				vertical-align:top;
				font-size: 14px;
                font-weight: bold;}
            @media(min-width:1024px){
				.table__header{
					font-size: 15px;}}				
			@media(min-width:1200px){
				.table__header{
					font-size: 16px;}}
			
			.table__row{
				background:#fff;
				background:-webkit-gradient(linear, left top, right top, from(#ff7f02), to(#650adc)) left bottom no-repeat;
                background:-webkit-linear-gradient(left, #ff7f02, #650adc) left bottom no-repeat;
                background:-o-linear-gradient(left, #ff7f02, #650adc) left bottom no-repeat;
                background:linear-gradient(to right, #ff7f02, #650adc) left bottom no-repeat;
				background-size:100% 1px;
				text-align:left;}
				
			.table__row:last-child{
			    background-size:100% 0px;}
				
			.table__row td{
				padding-top:8px;
				padding-right:5px;
				padding-bottom:8px;
				padding-left:5px;}
				
			.table__item{
				font-size:13px;}
			@media(min-width:768px){
				.table__item{
				    font-size:14px;}}
				
			.table__header td{
				padding-top:8px;
				padding-right:5px;
				padding-bottom:12px;
				padding-left:5px;}
				
				
		
		
		
		
		
		
		