@font-face{
	font-family: "ProximaNova-Light";
	src: url("../fonts/ProximaNova-Light.ttf");}
@font-face{
	font-family: "ProximaNova-Regular";
	src: url("../fonts/ProximaNova-Regular.ttf");}
@font-face{
	font-family: "ProximaNova-Semibold";
	src: url("../fonts/ProximaNova-Semibold.ttf");}
*{  margin:0px;
	padding:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;}

.page-theme{
	font-family: 'Calibri', sans-serif;
	font-family: 'ProximaNova-Regular', sans-serif;
	line-height: 1.25;
	font-size:14px;}	

.header{} 
    .header__top{}
	.header__nav{
		}
.nav-menu,.nav-menu__list{
	list-style-type:none;}
.nav-menu{
	position:relative;
    background:#f4f4f4;
	color:#474747;}
	.nav-menu__btn{
		display:-webkit-box;
        display:-ms-flexbox;
               display:flex;
		-webkit-box-pack: center;
		 justify-content: center;
           -ms-flex-pack: center;
		padding-top:10px;
		padding-bottom:10px;
		cursor:pointer;}
		@media(min-width:750px){
			.nav-menu__btn{
				display:none;}}
	.nav-menu__btn--active{
		background:#00b7f4;}
	    .nav-menu__icon{
			position:relative;
			width:30px;
			height:30px;
			border:2px solid #474747;
			-webkit-border-radius:50%;
	           -moz-border-radius:50%;
	                border-radius:50%;}
		.nav-menu__icon::after, .nav-menu__icon::before{
		    display:block;
			position:absolute;
			left:6px;
			content:'';
			width:14px;}			
		.nav-menu__icon::after{
			top:6px;
			border-top:2px solid #474747;}
		.nav-menu__icon::before{
			top:12px;
			height:4px;
			border-top:2px solid #474747;
			border-bottom:2px solid #474747;}
		.nav-menu__icon--active{
		    border:2px solid #fff;}
		.nav-menu__icon--active::after{
		    border-top:2px solid #fff;}
		.nav-menu__icon--active::before{
		    border-top:2px solid #fff;
			border-bottom:2px solid #fff;}
		.nav-menu__name{
			margin-left:14px;
			-ms-flex-item-align:center;
             -ms-grid-row-align:center;
                     align-self:center;
			font-size:1.57em;
	        text-transform:uppercase;}
		.nav-menu__name--active{
			color:#fff;}
	.nav-menu__body{
		width:100%;
		position:absolute;
	    text-align:center;
		background:#f4f4f4;
		z-index:9999;}
	@media(min-width:750px){
			.nav-menu__body{
				position:relative;}}
	.nav-menu__body--active{
		display:block;}
	.nav-menu__body--off{
		display:none;}
		@media(min-width:750px){
			.nav-menu__body--off{
				display:block;}}
	    .nav-menu__list{}
		    @media(min-width:750px){
				.nav-menu__list{
					display:-webkit-box;
                    display:-ms-flexbox;
                           display:flex;
                    max-width:750px;
					margin:0px auto;}}
			@media(min-width:1100px){
				.nav-menu__list{
                    max-width:1100px;
					margin:0px auto;}}
		    .nav-menu__item{}
			    @media(min-width:750px){
				    .nav-menu__item{
						-ms-flex-positive: 1;
						   -webkit-box-flex:1;
                                flex-grow: 1;}}    
			.nav-menu__link{
				display:block;
				padding-top:10px;
				padding-bottom:10px;
				text-decoration:none;
				text-transform:capitalize;
				font-size:1.28em;
				color:#474747;}
				@media(min-width:750px){
					.nav-menu__link{
						font-size:1.07em;}
					.nav-menu__link:hover{
						background:#00b7f4;
						color:#fff;}}
.main{}
.single-slider{
		position:relative;}
		
	.single-slider__control{
		display:-webkit-box;
        display:-ms-flexbox;
               display:flex;
		     -webkit-box-pack: justify;
                -ms-flex-pack: justify;
        justify-content: space-between;
		padding-right:15px;
		padding-bottom:15px;
		padding-left:15px;
		position:absolute;
		bottom:0px;
		z-index:1;
		width:100%;}
		@media(min-width:750px){
			.single-slider__control{
				width:750px;
				left:50%;
				margin-left:-375px;
				padding-bottom:20px;}}
		@media(min-width:1100px){
			.single-slider__control{
				width:1100px;
				left:50%;
				margin-left:-480px;}}
		.single-slider__arrow-left,.single-slider__arrow-right{
			width:50px;
			height:40px;
			cursor:pointer;}
        .single-slider__arrow-left{
			background:url('../img/back.png')}
        .single-slider__arrow-right{
			background:url('../img/next.png');}		
			
    .single-slider__body{}
        .single-slider__item{
			padding-top:80px;
			padding-right:15px;
			padding-bottom:80px;
			padding-left:15px;
	        background:url('../img/slider-topbg320.png')no-repeat;
			background-size:cover;}
			@media(min-width:750px){
				.single-slider__item{
					padding-top:120px;
					padding-bottom:120px;
					background:url('../img/slider-topbg750.png')no-repeat;
					background-size:cover;}}
			@media(min-width:1100px){
				.single-slider__item{
					padding-top:120px;
					padding-bottom:120px;
					background:url('../img/slider-topbg960.png')no-repeat;
					background-size:cover;}}
		    .single-slider__descr{
				display:block;
				margin:0px auto;
				text-align:center;
				text-transform:uppercase;
				line-height: 1.5;
				font-family: "ProximaNova-Regular",sans-serif;
				font-size:1.4em;
				color:#fff;}
				@media(min-width:750px){
			        .single-slider__descr{
				        max-width:750px;
				        margin:0px auto;
						font-size:1.7em;}}
	
.service{
	display:-webkit-box;
    display:-ms-flexbox;
           display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
       -ms-flex-direction:column;
           flex-direction:column;
	   -webkit-box-align: center;
          -ms-flex-align: center;
             align-items: center;
	padding-top:10px;
	padding-right:15px;
	padding-left:15px;
	padding-bottom:40px;}
	@media(min-width:1100px){
		.service{
            max-width:1200px;
			margin:0px auto;
			-webkit-box-orient:horizontal;
             -webkit-box-direction:normal;
                   -ms-flex-direction:row;
                       flex-direction:row;
			   -webkit-box-align: stretch;
                  -ms-flex-align: stretch;
                     align-items: stretch; 
                -webkit-box-pack: justify;
                   -ms-flex-pack: justify;
            justify-content:space-between;}}
    .service__box{
		max-width:320px;
		margin-top:10px;
		border:2px solid #00b7f4;}
		@media(min-width:750px){
			.service__box{
				margin-top:20px;
				max-width:750px;}}
		@media(min-width:1100px){
			.service__box{
				max-width:320px;}}
	    .service__head{
			padding-top:15px;
			padding-right:45px;
			padding-bottom:15px;
			padding-left:45px;
			background:#00b7f4;
			text-align:center;
			text-transform:uppercase;
			line-height:1.4;
			font-size:1.6em;
			color:#fff;}
		@media(min-width:1024px){
			.service__head{
				font-size:1.8em;}}
	    .service__body{}
		    .service__list{
				padding-top:10px;
				padding-bottom:10px;
			    list-style-type:none;}
			    .service__item{
					position:relative;
					margin-left:10px;
					padding-left:15px;
					line-height: 1.625;
					font-size:1.14em;
					color:#474747;}
				@media(min-width:750px){
					.service__item{
						display:inline-block;
						width:48%;}}
				@media(min-width:1100px){
					.service__item{
						width:100%;}}
			    .service__item::before{
					display:inline-block;
					content:'';
					position:absolute;
					top:50%;left:0px;
					margin-top:-4px;
					width:6px;
					height:9px;
					background:url('../img/marker.png');
					color:#00b7f4;}
					
					
.description{
	padding-right:15px;
	padding-bottom:20px;
	padding-left:15px;
	background:#f9f9f9;}
    .description__title, .description__text{
		display:block;
		max-width:750px;
		margin:0px auto;
		color:#474747;}	
	@media(min-width:1100px){
		.description__title, .description__text{
		    max-width:1200px;}}
    .description__title{
		padding-top:20px;
		padding-bottom:20px;
		text-transform:capitalize;
		line-height: 1.25;
		text-align:center;
		font-family:'ProximaNova-Semibold',sans-serif;
	    font-size:1.7em;}	
	@media(min-width:750px){
		.description__title{
			line-height: 1.733;
		    text-align:center;
			font-size:1.85em;}}
    .description__text{
		line-height: 1.733;
		text-align:justify;
		color:#474747;}	
    @media(min-width:750px){
		.description__text{
			text-align:center;
			line-height: 1.444;
			font-size:1.28em;}}		

.advantages{
	padding-left:15px;
	padding-right:15px;
	padding-bottom:30px;}
	.advantages__wr{
		display:-webkit-box;
        display:-ms-flexbox;
               display:flex;
		flex-direction:column;
		flex-wrap:wrap;
		align-items:center;}
	@media(min-width:750px){
		.advantages__wr{
			flex-direction:row;
			max-width:750px;
			margin:0px auto;}}
	@media(min-width:1100px){
		.advantages__wr{
			max-width:1100px;}}
    .advantages__title{
		display:block;
		padding-top:15px;
		padding-bottom:15px;
		text-align:center;
		font-size:1.7em;}
		@media(min-width:750px){
			.advantages__title{
				padding-top:20px;
		        padding-bottom:20px;}}
	.advantages__logo{}
	    @media(min-width:750px){
			.advantages__logo{
				width:50%;
				align-self:center;}}
	    .advantages__icon{
			display:block;
			padding-top:15px;
			padding-bottom:15px;
			margin:0px auto;}
		.advantages__text{
			display:block;
			text-align:center;
			font-size:1.1em;
			color:#474747;}
		.advantages__text--blue{
			color:#00b7f4;}
	.advantages__descr{
		display:-webkit-box;
        display:-ms-flexbox;
               display:flex;
		position:relative;
	    webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
	    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
		    -ms-flex-pack: distribute;
        justify-content: space-around;
		max-width:400px;
		margin-top:60px;
		padding-top:10px;
		padding-bottom:10px;
		border-radius:15px;
		border:1px solid #00b7f4;}
	    .advantages__descr:before, .advantages__descr:after{
			display:block;
			position:absolute;
			content:'';}
		.advantages__descr:before {
			left:50%;bottom:100%;
			margin-left:-49px;
	        border:49px solid transparent;
	        border-bottom-color:#00b7f4;}
		.advantages__descr:after {
			left:50%; bottom:100%;
			margin-left:-48px;
	        border:48px solid transparent;
	        border-bottom-color:#fff;}
		@media(min-width:750px){
			.advantages__descr{
				width:50%;}
			.advantages__descr:before {
			    left:0%;bottom:50%;
				margin-left:-98px;
				margin-bottom:-49px;
	            border:49px solid transparent;
	            border-right-color:#00b7f4;}
		    .advantages__descr:after {
			    left:0%; bottom:50%;
			    margin-left:-96px;
				margin-bottom:-48px;
	            border:48px solid transparent;
	            border-right-color:#fff;}}
		.advantages__item{
			width:45%;
			max-width:100px;
			margin-top:15px;}
		.advantages__item>img{
			display:block;
			margin:0px auto;}
		.advantages__item>span{
			display:block;
			padding-top:15px;
			text-align:center;
			font-family:'ProximaNova-Regular',san-serif;
			font-size:1.1em;
			color:#474747;}

.personal{
	padding-top:15px;
	padding-right:15px;
	padding-bottom:15px;
	padding-left:15px;
	background:#f8fdfe;}
	@media(min-width:750px){
		.personal{
			padding-top:20px;}}
	.personal__title,.personal__descr{
		display:block;
		text-align:center;
		color:#474747;} 
	    @media(min-width:750px){
		    .personal__title,.personal__descr{
				max-width:750px;
				margin:0px auto;}}
	.personal__title:first-letter,.personal__descr:first-letter{
		text-transform:uppercase;} 
	.personal__title{
		line-height: 1.167;
		font-size:1.7em;}
	.personal__descr{
		padding-top:20px;
		padding-bottom:20px;
		line-height: 1.7;
		color:#474747;}
	.personal__slider{}
	    @media(min-width:750px){
			.personal__slider{
				max-width:750px;
				margin:0px auto;}}
		@media(min-width:1100px){
			.personal__slider{
				max-width:1100px;
				margin:0px auto;}}
	    .personal__control{
			display:-webkit-box;
            display:-ms-flexbox;
                   display:flex;
			     -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
            justify-content: space-between;
			width:100px;
			padding-top:10px;
			padding-bottom:10px;
			margin:0px auto;}
		    .personal__arrow-left, .personal__arrow-right{
				width:30px;
				height:30px;
				cursor:pointer;} 
			.personal__arrow-left{
				background:blue;}
			.personal__arrow-right{
				background:red;}
		.personal__slider-body{}
		    .personal__item{
				padding-left:30px;
				padding-right:30px;}
			    .personal__item>img{
					display:block;
					width:100%;
					max-width:200px;
					margin:0px auto;
					height:auto;}
			    .personal__name, .personal__profession{
					display:block;
					text-align:center;}
			    .personal__name{
					padding-top:20px;
					padding-bottom:20px;
					text-align:center;
					line-height: 1.301;
					font-family:'ProximaNova-Regular', san-serif;
					font-size:1.4em;
					color:#747474;}
				.personal__profession{
					max-width:200px;
					margin:0px auto;}

.steps{}

.feedback{
	padding-left:15px;
	padding-right:15px;
	background:purple;}
	.feedback input,.feedback label{
		display:block;
		outline:none;
	    border:none;}
    .feedback__body{
		display:-webkit-box;
        display:-ms-flexbox;
               display:flex;
	    -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
           -ms-flex-direction: column;
               flex-direction: column;
		max-width:320px;
		padding-top:15px;
		margin:0px auto;
		color:#fff;}
		@media(min-width:750px){
			.feedback__body{
				max-width:750px;
				-webkit-box-orient: horizontal;
                 -webkit-box-direction: normal;
                       -ms-flex-direction: row;
                           flex-direction: row;
				justify-content: space-around;
			}}
		@media(min-width:1100px){
			.feedback__body{
				max-width:1100px;}}
		
		.feedback__descr{
			max-width:320px;
			align-self:center;}
		    .feedback__title{
				padding-top:15px;
				padding-bottom:15px;
				font-family:'ProximaNova-Regular', san-serif;
				line-height: 1.391;
				font-size:1.64em;}
			.feedback__text{
				line-height: 1.667;}
		
		.feedback__form{
            min-width:300px;}
		    .feedback__label{
				margin-top:15px;
				margin-left:20px;
				font-size:1.28em;}
		    .feedback__input{
				width:100%;
				max-width:320px;
				padding-top:8px;
				padding-right:10px;
				padding-bottom:8px;
				padding-left:8px;
	            border-radius:10px;
				font-family:'ProximaNova-Regular', san-serif;}
			.feedback__btn{
				width:190px;
				padding-top:5px;
				padding-right:10px;
				padding-bottom:5px;
				padding-left:8px;
				margin-top:30px;
				margin-right:auto;
				margin-bottom:30px;
				margin-left:auto;
				border-radius:20px;
				background:#00b7f4;
				line-height: 1.765;
				font-size:1.2em;
				color:#fff;
				cursor:pointer;}
			.feedback__btn:hover{
				background:#51c9fb;}

.reviews{
	color:#474747;}
	@media(min-width:1100px){
	    .reviews{
			position:relative;}}
    .reviews__title{
		display:block;
		padding-top:25px;
		padding-bottom:25px;
		line-height: 1.391;
		text-align:center;
		font-size:1.6em;}
    .reviews__body{
		max-width:750px;
		margin:0px auto;}
		@media(min-width:1100px){
			.reviews__body{
				max-width:1000px;}}		
	    .reviews__item{
			padding-left:20px;
			padding-right:20px;}
		.reviews__text{
			display:block;
			max-width:400px;
			padding-top:15px;
			padding-right:10px;
			padding-bottom:15px;
			padding-left:10px;
			margin:0px auto;
			border:1px solid #00b7f4;
			border-radius:30px;
			line-height: 1.714;}
    .reviews__control{
		display:-webkit-box;
        display:-ms-flexbox;
               display:flex;
		margin-top:30px;
		margin-right:auto;
		margin-bottom:30px;
		margin-left:auto;
		width:60px;}
		@media(min-width:1100px){
			.reviews__control{
				position:absolute;
				width:1100px;
				top:55%;left:50%;
				margin-top:0px;
				margin-bottom:0px;
				margin-left:-550px;
				justify-content: space-between;}}
        .reviews__arrow-left, .reviews__arrow-right{
			width:30px;
			height:30px;}
        .reviews__arrow-left{
			background:red;}
        .reviews__arrow-right{
			background:blue;}	