/*.fancybox-skin-form{
  position: relative;
  background: #fff !important;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}
.close_form{
	background-image: url('/themes/default/images/close.png') !important;
	position: absolute;
  	top: -18px;
  	right: -18px;
  	width: 15px !important;
  	height: 15px !important;
  	cursor: pointer;
  	z-index: 8040;
}*/

.f_overlay {
	/*font-family: "PT Sans Narrow";*/
 	padding: 25px;
}
.f_overlay h3{
  	font-size: 1.7em;
	font-weight: 300;
	text-align: center;
	margin-bottom: 35px;
	text-transform: uppercase;
}
.f_overlay table tr td{
	vertical-align: middle;

}
.f_overlay label{
	font-size: 1em;
	font-weight: 300;
	text-align: right;
	text-transform: uppercase;
	/*font-family: "PT Sans Narrow";*/
	padding-right: 10px;
	color: #171717;
}
.aform  .fi{
	box-sizing: border-box;
	border: 1px solid #C7C7C7;
	height: 34px;
	width: 100%;
	position: relative;
	padding: 4px 20px;
	box-shadow: 0px 2px 1px 1px #E1E1E1 inset;
	font-size: 14px;
  	line-height: 25px;
}
.aform  .ft{
	box-sizing: border-box;
	border: 1px solid #C7C7C7;
	width: 100%;
	position: relative;
	padding: 14px 20px;
	box-shadow: 0px 2px 1px 1px #E1E1E1 inset;
	font-size: 14px;
  	resize: none;
}
/*Анимация placeholder*/
.aform input::-webkit-input-placeholder {color:#aaa;}
.aform input::-moz-placeholder          {color:#aaa;}/* Firefox 19+ */
.aform input:-moz-placeholder           {color:#aaa;}/* Firefox 18- */
.aform input:-ms-input-placeholder      {color:#aaa;}
.aform input::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
.aform input::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
.aform input:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
.aform input:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
.aform input:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
.aform input:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease;}
.aform input:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
.aform input:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease;}

.aform table td:nth-child(even){
	width: 345px;
	position: relative;
	 padding-bottom: 10px;
  	padding-top: 10px;
}
a.submit_form_button{
	color: #fff !important;
	text-decoration: none;
}
.submit_form_button{
	display: inline-block;
	box-sizing: border-box;
	padding: 15px 25px;
	background: #C50000;
	font-size: 0.9em;
	font-weight: 700;
	text-align: center;
	color: #fff;
	border-radius: 4px;
	border: none;
	outline: none;
	border-bottom: 4px solid #9F0000;
	cursor: pointer;
	-o-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
	
}
.submit_form_button:hover{
	background: #E30404;

}
.submit_form_button:active{
	background: #E80000;
	border-bottom: 1px solid #9F0000;
	margin-top: 3px;
	box-shadow: inset 0 0 10px rgba(0,0,0,0.8);
}

#success{
	/*font-family: "PT Sans Narrow";*/
 	padding: 35px;
 	/*width: 400px;*/
  	/*height: 130px;*/
  	font-size: 1em;
  	color: #000 !important;
}
#success{
	/*font-family: "PT Sans Narrow";*/
 	padding: 35px;
}
#success h3{
  	font-size: 1.5em;
	font-weight: 300;
	text-align: center;
	margin-bottom: 35px;
	text-transform: uppercase;
}
#success .pinfo.ok {
  color: #000;
}

.fileform{
	display: inline-block;
	margin-left: 15px;
}

.button_file{
  box-sizing: border-box;
  background: #134094;
  width: 115px;
  /* height: 32px; */
  /*font-family: "PT Sans Narrow";*/
  font-size: 0.8em;
  color: #fff;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  outline: none;
  padding: 5px 6px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.button_file:hover{
	color:#fff;
	background: #1A4CA9;
}
.button_file:active{
	color:#fff;
	background: #225BC6;
}
.errzs{
    border-radius: 0px;
    color: red;
    text-align: left;
    margin-bottom: 20px;
    display: block;
}
.dn{display: none;}