.widget--search--header-form{
	width: 187px;
	height: 25px;
}
.widget--search--header-form .slupa,
.widget--search--header-form .slupa:hover{
	border:0;
	background:url('lupa.png')/*tpa=http://xn----8sbxvlnb2a.xn--p1ai/sys/modules/search/theme/base/images/lupa.png*/ no-repeat;
	width:14px;
	height:14px;
	position:absolute;
	top: 4px;
	right: 6px;
	padding:0;
	margin:0;
}