.spoiler>input,
.spoiler>.spoiler-text{
	display: none;
}
.spoiler>input:checked ~ .spoiler-text{
	display: block;
}

.spoiler>input:checked + .spoiler-label{
	/*background: #82D6F8;*/
}

.spoiler-label{
	/*display: block;*/
	text-decoration: underline;
	cursor: pointer;
	/*padding: 4px 8px;
	background: #7BC8E7;
	border: 1px solid #0092CA;
	border-radius: 3px;*/
}
