/*body *{
	outline: 1px solid red;
}*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
    flex: 1 0 auto;
}
#content iframe{
	max-width: 100%;
}
#prehead_wrapp{
	background: #EEEEEE;
	font-size: 0.8em;
	padding: 6px 0 5px ;
	border-bottom: 1px solid #808080;
}
#prehead>.row{
	padding: 0;
	margin: 0;
}
#head1>.row{
	margin-bottom: 0;
}

.parallax-container>.container{
	position: relative;
}
.search-node h2{
	font-size: 18px;
	margin-bottom: 15px;
	  border-bottom: 1px solid rgba(0,0,0,0.15);
	  display: block;
	  padding-bottom: 15px;
}
.resSearch {
    width: 350px;
    display: none;
    position: absolute;
    z-index: 100;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    padding: 7px 10px;
    border: 1px solid #CCC;
    border: 0px none;
    border-radius: 4px;
    max-height: 400px;
    overflow-y: auto;
}
.search-field-content{
	font-size: 13px !important;
	font-weight: 300 !important
}
#search-page{
	margin-bottom: 75px;
}
.db{
	display: block;
}
.dn{
	display: none;
}
#head2, #top, #bottom{
	/*max-width: 100%;*/
	overflow: hidden;
}
#head1 i.right,nav i.right{
  margin-left: 2px;
}

#navbar.pinned{

}
.dropdown-content a.act{
	color: #171717;
}
.parallax-container{
	min-height: 300px;
}
/*Поиск*/
.input-field.search--header-form input{
	margin-bottom: 0;
}
.input-field.search--header-form {
	margin: 0;
}
.input-field.search--header-form .prefix{
	  top: 10px;
}

.slogan{
	padding: 12px 0;
}
.header_button{
	margin: 5px 0px;
	background-color: #E31C22;
}
.goods_img_a>img{
	width: 100%;
}
.goods-ul .card-action.row{
	margin-bottom: 0;
}
.goods-ul .cart-buy-wrapper{
	margin-top: 15px;
}
.sort_select>a{
    margin: 0 15px 15px 0;
}

.goods-ul .card .card-content .card-title {
    line-height: 18px;
}
.goods-grid li.col{
	float: none;
	display: inline-block;
	vertical-align: top;
}
.card .card-content {
    padding: 15px;
    min-height: 66px;
}
.card .card-action a {
    color: #424242;
    font-size: 14px;
}
.card .card-action a:hover{
    color: #FF4545;
}
.card-content .goods_title .material-icons {
    margin-top: 5px;
    position: absolute;
    right: 0;
}
.card-reveal .card-title i {
    position: absolute;
    right: 5px;
    margin-top: -15px;
}
.goods_images_min_slider .slick-slide a {
    padding: 10px;
    display: block;
}



.pagination>.mr{
	margin-right: 10px;
}
.slick-slide ,.slick-slide *{
	outline: none;
}
.tar{
	text-align: right;
}
.good_lb .tar{
	color: #919191;
}

.inoneclick{
	margin-top: 50px;
}
.goods_text_node{
	margin-top: 20px;
}
.button-collapse{
	text-decoration: none;
}

.gallery-list li{
	margin-bottom: 20px;
}
.gallery-list .plus{
	margin-top: -5px;
    text-align: right;
}
.gallery-list .plus a{
	font-size: 0.7em;
    color: #A6A6A6;
    margin-left: 6px;
    text-decoration: none;
}
.gallery-list .plus a:hover{
	color: #898989;
}
.gallery-list .plus a i {
    font-size: .8em;
}
.full{
	width: 100%;
}
.btn input[type=button],.btn input[type=submit]{
	border: 0;
	outline: 0;
	background: transparent;
	background-color: transparent;
	font-style: normal;
}
.lk_user_status{
	background: #e0f2f1  ;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 6px;
}

.search-message{
	margin: 15px 0;
}


/*Корзина*/
.cart_min{
	position: relative;
}
.cart_min_more{
	display: none;
	position: absolute;
	z-index: 999900;
	background: #FDFDFD;
	border-radius: 3px;
	border: 1px solid #C5C5C5;
	min-width: 350px;
	right: 0;
	font-size: 1rem;
}
.cart_min_more{
	min-height: 20px;
	padding: 0 5px;
	line-height: 1rem;
	color: #2D2D2D;
}
nav .cart_min_more i {
    display: block;
    font-size: 1rem;
}
.cart_min_more .progress{
	margin:  25px 0;
	
}

.cart_min:hover>.cart_min_more{
	display: block;
}
.cart_tab td{
	vertical-align: middle;
	padding: 10px 5px;
}
.cart_tab tr{
	border-bottom: 1px solid #dadada;
}

.cart_tab_img{
	border: 1px solid #dadada;
	border-radius: 4px;
	background: #fff;
}
.cart_min_more_sum{
	font-weight: 700;
	text-align: center;
	margin: 25px 0;
}
.cart_min_more_incart{
	text-align: center;
	font-size: 16px;
	    margin-bottom: 20px;
}

#cart_count{
	position: absolute;
    background: #E2574C;
    font-size: 10px;
    border-radius: 30px;
    padding: 4px 4px;
    line-height: 7px;
    top: 8px;
    right: 0px;
    z-index: 10;
}
.cart_min_but {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background: #fff;
    border-radius: 3px;
    padding:0;
    border-radius: 50px;
    border: 1px solid #E2E2E2;
    width: 45px;
    height: 45px;
}
.cart_min_more_link .material-icons{
	font-size: 1.3em;
	line-height: 45px;
	height:45px;
}
.cart_min_but a{
	color: #2D2D2D;
	text-decoration: none;
}

.cart_min_more_link_small {
    vertical-align: middle;
    background: #EE6E73;
    border-radius: 3px;
    padding: 4px 6px 3px;
    display: block;
    /* font-size: 17px; */
    line-height: 22px;
    color: #fff;
    text-decoration: none;
}

.cart_min_del{
	cursor: pointer;
}

.parallax{ z-index: 0; }

.fullwidth>.row>.col{
	padding: 0;
}
.flat_view{
	
}
.flat_view li{
	display: inline-block;
	width: 25%;
	height: 350px;
	position: relative;
	box-sizing: border-box;
	padding: 5px;
}
.flat_view .flat_large{
	width: 50%;
}
.flat_view .flat_item .flat_a{
	width: 100%;
	height: 100%;
	display: block;
	background-position: 50% 50%;
	background-size: cover;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
/*.flat_view .flat_item:hover>.flat_a{
	background-size: 110% 110%;
}*/
.flat_view .flat_title{
	position: absolute;
	top: 45%;
	width: 100%;
	left: 0;
	text-align: center;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 1.3rem;
	text-shadow: 1px 0 4px rgba(0,0,0,0.8);
	z-index: 1;
}

.gallery_tab_slider_wrapp .tabs .tab{
	display: inline-block;
    width: auto !important;
    margin-left: 23px !important;
    float: none;
    line-height: 24px;
}
.gallery_tab_slider_wrapp .tabs .tab a.active{
	/*color: #24ABCD;*/
	text-decoration: underline;
}
.gallery_tab_slider_wrapp .tabs {
	text-align: center;
	margin-left: -23px;
	white-space: normal;
	height: auto;
	background: transparent;
}
.gallery_tab_slider_wrapp .tabs .indicator{
	display: none;
}
/*Галерея 2 (Слайдер и табы)*/
.gallery_tab_slider_wrapp .slick-prev {
    left: -45px;
}
.gallery_tab_slider_wrapp .gallery_slider{
	
}

.gallery_tab_slider_wrapp .gallery_slide_node{
	border-radius: 3px 3px 0 0;
	overflow: hidden;
}
.gallery_tab_slider_wrapp .gallery_slider .gallery_slide_node{
	position: relative;
}
.gallery_tab_slider_wrapp .gallery_slider .gallery_slide_node .gallery_link{
	text-align: center;
	background: #F1F3F4;
	color: #7F8C8D;
	font-size: 15px;
	font-family: 'HelveticaNeueCyr-Light';
	padding: 15px 20px;
	border-radius: 0 0 3px 3px;
	display: block;
    box-sizing: border-box;
    text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.gallery_tab_slider_wrapp .gallery_slider .gallery_slide_node:hover .gallery_link{
	color: #fff;
}
.gallery_tab_slider_wrapp .gallery_slider .gallery_slide_node .plus a{
	color: #95A5A6;
	margin-left: 15px;
	text-decoration: none;
	font-size: 14px;
}
.gallery_tab_slider_wrapp .gallery_slider .gallery_slide_node .plus{
	text-align: center;
	margin-left: -15px;
	margin-top: 10px;
}

.gallery_tab_slider_wrapp .gallery_slider .divider_gallery{
	/*border-top: 2px solid #24ABCD;*/
	margin: 30px 0 40px;
}
/*--Галерея 2 (Слайдер и табы)--*/

/*Галерея 3*/
.gallery_list_flat .im_ow{
	border: none;
}
.hidden_item{
	display: none;
}
/*Галерея 3*/
.watch-all{
	    font-size: 25px;
}

.news_date{
	margin-bottom: 15px;
	text-align: center;
}
.news_title{
	margin-bottom: 25px;
	text-decoration: none;
}
.news_node{
	margin-bottom: 25px;
}
.first_block .news_node{
	margin-bottom: 0px;
}
.va-header {
	min-height: 120px;
}
.news_date_time {
	border: 1px solid #bdbdbd;
	border-bottom: 0;
	font-size: 22px;
	font-family: "Tahoma";
}
.news_date_date {
	font-size: 13px;
	font-family: "Tahoma";
	background: #c50000;
	color: #fff;
	text-transform: lowercase;
	padding: 2px 0 4px;
}
footer.page-footer {
	background-color: #304586;
}
footer.page-footer .footer-copyright {
    background-color: #1C306D;
}
nav .button-collapse {
	color: #fff;
}
/*.block ul {
	-webkit-padding-start: 40px;
    list-style-type: disc;
}
.block ul li {
    list-style-type: disc;
}*/
.block strong {
	font-weight: 700;
}
.crumbs ul {
	
}
.crumbs ul li {
    list-style: none;
}
.block .crumbs ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.tel {
    font-size: 22px;
}
.socicons {
    margin-top: 5px;
}
.socicons a {
	color: #304586;
}
.socicons a:hover {
	color: #717C9C;
}
a.la.gallery {
    display: none;
}
.news_node:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/*.contacts div {*/
/*    height: 23px;*/
/*}*/
footer.page-footer .footer-copyright {
	height: auto;
}
.tel {
	font-size: 28px;
	color: #E31C22;
	font-weight: 700;
}
.cod_city {
    color: #304586;
    /*font-size: 23px;*/
}
.page-footer>.container {
	display: none;
}

@media only screen and (max-width: 966px) {
	.h {
	    text-align: center;
	}
}

.link_par {
	cursor: pointer;
}

.block ul {
	list-style-type: disc;
	padding-left: 40px;
}

.block ul  li{
	list-style-type: disc;
}

ul.vmenu li, .crumbs ul li, .gallery-list li{
	list-style: none !important;
}

.worker{
	border: 5px solid #fff;
	outline: 3px solid #e31e24;
}

.menu_album {
	margin-top: -50px;
}

.menu_album ul{
	padding: 0;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.menu_album ul > li{
	list-style: none;
	/*display: inline-block;
	/*margin-right: 20px;*/
	margin-bottom: 40px;
	font-family: "HelveticaNeueCyr-Light";
	font-size: 18px;
	vertical-align: top;
	text-align: center;
	padding: 10px;
	background: #304586;
}

.menu_album ul > li:hover {
	background: #E31C22;
}

.menu_album ul > li a {
	font-family: "HelveticaNeueCyr-Light";
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

.menu_album ul > li a:hover {
	color: #fff;
}

#footer .web a {
	text-decoration: underline;
}

#footer .web a:hover {
	text-decoration: none;
}

