//size
$mobile-s:320px;
$mobile-m:375px;
$mobile-l:425px;
$mobile-xl:600px;
$tablet:768px;
$tablet-x:800px;
$tablet-xl:960px;
$laptop:1024px;
$laptop-l:1200px;

//colors
$darkgrey:#666;
$lightgrey:#888888;
$font-grey:#cccccc;
$font-darkgrey:#686868;
$white:#fff;
$darkblue:#131313;
$grey:#888;
$background-post:#f6f6f6;
$form-btn:#575756;


//font
$font-size:14px;
$font-weight:400;
$letter-spacing: .2px;


