.main{
    max-width:$laptop;
	margin:0px auto;
	text-align:justify;
	padding-left:10px;
	padding-right:10px;
	@media(min-width:$mobile-xl){
	    text-align:left;}
	&__text{
	    display:block;
		padding-top:10px;
		padding-bottom:20px;
	    font-size:1.1em;}
	&__title{
	    padding-top:20px;
		padding-bottom:10px;
	    text-align:center;
	    text-transform:capitalize;
	    font-size:1.7em;}
	&__list{
	    padding-left:40px;
		padding-right:40px;
		list-style-image:url('img/marker.png');
		list-style-position: inside;}
	&__item{
	    padding-top:15px;
		padding-bottom:15px;}
	&__mark{
	    margin-top:10px;
		margin-bottom:20px;
	    display:block;
		text-align:center;}}