.service{
    border-top:3px solid $yellow;
	border-bottom:3px solid $yellow;
	margin-top:30px;
	margin-bottom:20px;
	padding-top:20px;
	padding-bottom:20px;
    &__header{
	    display:block;
		padding-top:20px;
		text-align:center;}
	&__body{
	    @include display-flex();
		@include flex-direction(column);
	    @include align-items(center);
		max-width:320px;
		margin:0px auto;
		@media(min-width:$mobile-x){
			@include flex-direction(row);
			@include flex-wrap(wrap);
			@include justify-content(space-around);
			@include align-items(strech);
			max-width:$mobile-x;}
		@media(min-width:$tablet){
		    max-width:$tablet;}}
	
	&__item{
		text-align:center;
		margin-top:30px;
		width:70%;
		@media(min-width:$mobile-x){
		    width:48%;}
		@media(min-width:$tablet){
		    width:23%;}}
	
	&__img{
	    display:block;
		width:100px;
		height:100px;
		margin:0px auto;}
	&__descr{
	    display:block;
	    padding-top:15px;}}
	