.slider{
    padding-bottom:15px;
    &__header{
	    padding-top:30px;
		padding-bottom:20px;
	    text-align:center;}
    &__control{
	    @extend %grid;
		display:inline-block;
		margin:0px auto;
		text-transform:uppercase;
		font-weight:700;
		color:$balck;}
	&__arrow, &__descr{
	    @extend %grid__row;}
	&__arrow{
		width:15px;
		height:15px;
		border-top:2px solid $balck;
	    cursor:pointer;}
	&__arrow:hover{
		border-color:$light-grey;}
    &__arrow--left{
		border-left:2px solid black;
		@include transform(rotate(-45deg));}			
	&__arrow--right{
		border-right:2px solid black;
		@include transform(rotate(45deg));}
	
	&__descr{
	    display:block;
		padding-left:15px;
		padding-right:15px;}
	
	&__body{
	    width:320px;
		margin:0px auto;
	    overflow:hidden;
		@media(min-width:400px){
		    width:400px;}
		@media(min-width:$mobile-xl){
		    width:$mobile-xl;}
		@media(min-width:$tablet){
		    min-width:$tablet;}}
			
	&__lenta{
	    @extend %grid;
	    position:relative;
		top:0px; left:0px;
		list-style-type:none;
		width:9999px;}
		
	&__section{
	    @extend %grid__row;
		width:320px;
		height:150px;
		padding:10px;
		@media(min-width:400px){
		    width:200px;
			height:130px;}
	    @media(min-width:$mobile-xl){
		    width:200px;}
		@media(min-width:$tablet){
		    width:192px;}}
			
	&__item{
	    @extend %img;}}